<template>
  <ScrollView orientation="vertical">
    <StackLayout class="order" v-if="order">
      <StackLayout class="order-group">
        <Label class="order-group-id" :text="'ID: ' + order.id" />
        <Label class="order-group-title" :text="order.title" />
      </StackLayout>
      <StackLayout class="order-group">
        <Label class="order-group-key" :text="'Дата:'" />
        <Label class="order-group-value" :text="order.created_at | dateTime" />
      </StackLayout>
      <StackLayout class="order-group">
        <Label class="order-group-key" :text="'Количество товаров:'" />
        <Label class="order-group-value" :text="order.purchases_count" />
      </StackLayout>
      <StackLayout v-if="order.owner" class="order-group">
        <Label class="order-group-key" :text="'Получатель заказа:'" />
        <Label
          class="order-group-value"
          :text="order.owner.first_name + ' ' + order.owner.last_name"
        />
      </StackLayout>
      <StackLayout
        v-if="order.dealer && order.dealer.id !== user.id"
        class="order-group"
      >
        <Label class="order-group-key" :text="'Партнер:'" />
        <Label
          class="order-group-value"
          :text="order.dealer.first_name + ' ' + order.dealer.last_name"
        />
      </StackLayout>
      <StackLayout v-if="order.dealer && order.dealer.id !== user.id">
        <Button
          marginTop="30"
          @tap="setState"
          class="btn"
          text="Изменить статус"
        />
      </StackLayout>
    </StackLayout>
  </ScrollView>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "orderCard",
  props: {
    order: {
      default: null,
    },
    preloadData: {
      default: function () {},
    },
  },
  computed: {
    ...mapState(["user", "text"]),
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    setState() {
      var dialogs = require("tns-core-modules/ui/dialogs");
      dialogs
        .action({
          title: "Изменить статус заказа",
          message: "Выберите статус, который хотитет установить",
          cancelButtonText: "Cancel",
          actions: this.text.statuses,
        })
        .then((result) => {
          let state = -1;
          if (result === "Новый" || result === "Новый") {
            state = 0;
          } else if (result == "Принят" || result === "Принят") {
            state = 1;
          } else if (result == "Отменен" || result === "Отменен") {
            state = 3;
          } else if (result == "Выпонен" || result === "Выпонен") {
            state = 2;
          }
          if (state !== -1) {
            this.CHANGE_LOADING(true);
            this.$axios
              .put(`/v2/dealer/orders/card/update`, {
                state: state,
                id: this.order.id,
              })
              .then((response) => {})
              .catch((error) => {})
              .finally(() => {
                this.preloadData();
              });
          }
        });
    },
  },
  data: function () {
    return {};
  },
};
</script>

<style scoped lang="scss">
.order {
  &-group {
    padding: 10 15;
    border-bottom-width: 0.7;
    border-bottom-color: #ebebeb;
    & > &-key {
      color: #222;
      font-size: 16;
      font-weight: 500;
      margin-bottom: 5;
    }
    & > &-value {
      color: #222;
      font-size: 14;
    }
    & > &-id {
      color: #222;
      font-size: 30;
    }
    & > &-title {
      color: #06338d;
      font-size: 16;
    }
  }
}
</style>
