<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />

    <PullToRefresh
      v-if="products && products.length"
      row="0"
      @refresh="refreshList"
    >
      <ListView
        v-for="(item, index) in products"
        ref="listView"
        class="products"
        :key="index"
        separatorColor="white"
        @loadMoreItems="loadMore"
      >
        <v-template :scope="item">
          <GridLayout
            class="products-list"
            columns="15,60,15, *,15, 30,12,30,15"
            rows="*"
          >
            <Image
              @tap="toProduct(item.id)"
              v-if="item.images.length"
              row="0"
              col="1"
              opacity="1"
              verticalAlignment="center"
              horizontalAlignment="center"
              width="90%"
              height="60"
              stretch="aspectFit"
              loadMode="async"
              :src="item.images[0].image_medium"
            />

            <StackLayout
              @tap="toProduct(item.id)"
              row="0"
              col="3"
              verticalAlignment="top"
            >
              <Label
                textWrap="true"
                class="products-list-title"
                :text="item.title"
              />

              <Label
                textWrap="true"
                class="products-list-amount"
                :text="
                  (text.message.quantity +
                    item.pivot.amount +
                    ' ' +
                    text.message.amount)
                    | numberWithSpaces
                "
              />
              <Label
                textWrap="true"
                class="products-list-stock"
                :text="(text.message.stock + item.stock) | numberWithSpaces"
              />
            </StackLayout>

            <StackLayout col="5" @tap="editProduct(item)">
              <Image
                v-if="order.dealer && order.dealer.id !== user.id"
                verticalAlignment="top"
                horizontalAlignment="left"
                opacity="0.7"
                class="support-online-chat-icon"
                height="20"
                width="20"
                :src="'~/assets/icons/temp/edit.png'"
              ></Image>
            </StackLayout>

            <StackLayout col="7" @tap="setToCart(item, Math.abs(item.pivot.amount - item.stock))">
              <Image
                v-if="order.dealer && order.dealer.id !== user.id"
                verticalAlignment="top"
                horizontalAlignment="right"
                opacity="0.7"
                class="support-online-chat-icon"
                height="22"
                width="25"
                :src="'~/assets/icons/shopping-cart.png'"
              ></Image>
            </StackLayout>
          </GridLayout>
        </v-template>
      </ListView>
    </PullToRefresh>
    <Label
      verticalAlignment="top"
      class="no_found"
      row="0"
      v-else
      :text="text.message.no_record"
    />
  </StackLayout>
</template>

<script>
import { setToCart } from "../../utils/functions";
import { errorMessage, successMessage } from "~/utils/functions";
import LoaderView from "../helpers/LoaderView";
import { mapState, mapMutations } from "vuex";

import {
  prompt,
  PromptOptions,
  PromptResult,
  capitalizationType,
  inputType,
} from "tns-core-modules/ui/dialogs";

export default {
  props: {
    order: {
      default: null,
    },
    preloadData: {
      default: function () {},
    },
    owner: {
      default: false,
    },
  },
  name: "Purchases",
  components: { LoaderView },
  created: function () {
    setTimeout(() => {
      this.preloadData();
    }, 200);
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    setToCart: setToCart,
    loadMore() {
      if (this.page <= this.last_page) {
        this.page++;
        this.preloadData();
      }
    },
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    async preloadData() {
      await this.$axios
        .get(`/v2/dealer/orders/card/purchase${this.owner ? "/my" : ""}`, {
          params: {
            page: this.page,
            id: this.order.id,
          },
        })
        .then((response) => {
          this.last_page = response.data.last_page;
          if (response.data.current_page > 1) {
            this.products.push(...response.data.data);
          } else {
            this.products = response.data.data;
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = false;
        });
    },
    toProduct(product_id) {
      this.CHANGE_LOADING(true);

      setTimeout(() => {
        this.$navigator.navigate(`/products-card`, {
          clearHistory: false,
          animated: true,
          transition: {
            duration: 10,
          },
          props: {
            product_id,
          },
        });
      }, 200);
    },
    editProduct(item) {
      prompt({
        title: "Изменить количество у товара в заказе",
        okButtonText: "OK",
        cancelButtonText: this.text.alert.cancel,
        neutralButtonText: "Удалить товар",
        cancelable: true,
        defaultText: `${item.pivot.amount}`,
        inputType: inputType.number, // email, number, text, password, or email
        capitalizationType: capitalizationType.sentences, // all. none, sentences or words
      })
        .then((result) => {
          if (result && result.result === true && result.text) {
            if (result.text > 0) {
              this.CHANGE_LOADING(true);
              this.$axios
                .put(`/v2/dealer/orders/card/purchase/update`, {
                  product_id: item.id,
                  amount: result.text,
                  id: this.order.id,
                })
                .then((response) => {
                  successMessage(this.text.alert.cart_update_count);
                  for (let i = 0; i < this.products.length; i++) {
                    if (this.products[i].id == item.id) {
                      this.products[i].pivot.amount = result.text;
                      break;
                    }
                  }
                })
                .catch(({ data }) => {
                  if (data.errors && data.errors.product_id) {
                    alert(data.errors.product_id[0]);
                  }
                  if (data.errors && data.errors.amount) {
                    alert(data.errors.amount[0]);
                  }
                  hideLoader();
                })
                .finally(() => {});
            }
          } else if (result && result.result === false) {
          } else if (result && result.result === undefined) {
            this.CHANGE_LOADING(true);
            this.$axios
              .delete(`/v2/dealer/orders/card/purchase/delete`, {
                params: {
                  id: this.order.id,
                  product_id: item.id,
                },
              })
              .then((response) => {
                successMessage(this.text.alert.was_removed);
                for (let i = 0; i < this.products.length; i++) {
                  if (this.products[i].id == item.id) {
                    this.products.splice(i, 1);
                    break;
                  }
                }
                hideLoader();
              });
          }
        })
        .catch(() => {});
    },
  },
  data() {
    return {
      loading: true,
      products: [],
      page: 1,
      last_page: 1,
    };
  },
  computed: {
    ...mapState(["text", "user"]),
  },
};
</script>

<style scoped lang="scss">
.products {
  & &-list {
    padding: 12 0 10 0;
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    display: none;

    &-title {
      font-size: 14;
      font-weight: 400;
      color: #222;
      line-height: 2;
    }
    &-amount {
      margin-top: 10;
      font-size: 12;
      font-weight: 500;
      color: #444;
      line-height: 2;
    }
    &-stock {
      margin-top: 5;
      font-size: 12;
      font-weight: 400;
      color: #06338d;
      line-height: 2;
    }
  }
}
.btn-checkout {
  height: 50;
  width: 100%;
  border-radius: 0;
}
</style>
