<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <StackLayout v-else>
      <GridLayout height="100%" rows="50,*" columns="*">
        <select-filter
          :id="0"
          :options="text.statuses_filter"
          row="0"
          @result="setState"
        />
        <PullToRefresh
          v-if="orders && orders.length"
          row="1"
          @refresh="refreshList"
        >
          <ListView
            v-for="(item, index) in orders"
            ref="listView"
            class="orders"
            :key="index"
            @itemTap="showOrder"
            separatorColor="white"
            @loadMoreItems="loadMore"
          >
            <v-template :scope="item">
              <GridLayout
                class="orders-list"
                columns="15,50,15, 120,15, * ,15"
                rows="*"
              >
                <Label
                  class="orders-list-index"
                  :text="'ID: ' + item.id"
                  row="0"
                  col="1"
                />
                <Label
                  class="orders-list-title"
                  :text="item.title"
                  row="0"
                  col="3"
                />
                <Label
                  class="orders-list-date"
                  :text="item.created_at | dateTime"
                  row="0"
                  col="5"
                />
              </GridLayout>
            </v-template>
          </ListView>
        </PullToRefresh>
        <Label
          verticalAlignment="top"
          class="no_found"
          row="1"
          v-else
          :text="text.message.no_found"
        />
      </GridLayout>
    </StackLayout>
  </StackLayout>
</template>
<script>
import SelectFilter from "../helpers/SelectFilter";
import LoaderView from "../helpers/LoaderView";

import { mapState, mapMutations } from "vuex";

export default {
  components: {
    LoaderView,
    SelectFilter,
  },
  props: {
    owner: {
      default: false,
    },
  },
  data: function () {
    return {
      orders: [],
      page: 1,
      state: 0,
      search: "",
      loading: true,
      searcher: null,
      searchLoading: false,
      last_page: 1,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    loadMore() {
      if (this.page <= this.last_page) {
        this.page++;
        this.preloadData();
      }
    },
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    setState(val) {
      this.CHANGE_LOADING(true);
      this.page = 1;
      this.state = val;
      setTimeout(() => {
        this.preloadData();
      }, 100);
    },
    refresh() {
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
      }, 100);
    },
    showOrder(e) {
      this.CHANGE_LOADING(true);
      setTimeout(() => {
        this.$navigator.navigate(`/history-page-card`, {
          clearHistory: false,
          animated: true,
          transition: {
            duration: 10,
          },
          props: {
            order: e.item,
            refresh: this.refresh,
            owner: this.owner,
          },
        });
      }, 200);
    },
    async preloadData() {
      await this.$axios
        .get(`/v2/dealer/orders${this.owner ? "/my" : ""}`, {
          params: {
            page: this.page,
            search: this.search,
            state: this.state,
          },
        })
        .then((response) => {
          this.last_page = response.data.last_page;
          if (response.data.current_page > 1) {
            this.orders.push(...response.data.data);
          } else {
            this.orders = response.data.data;
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = this.searchLoading = false;
          this.CHANGE_LOADING(false);
        });
    },
  },
  watch: {
    search(val) {
      clearTimeout(this.searcher);
      this.searchLoading = true;
      this.searcher = setTimeout(() => {
        this.page = 1;
        this.preloadData();
      }, 1000);
    },
  },
  created() {
    this.preloadData();
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>
<style scoped lang="scss">
.orders {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    height: 50;
    display: none;
    &-index {
      text-align: left;
      font-size: 13;
      color: #222;
      font-weight: 500;
    }
    &-title {
      font-size: 13;
      color: #06338d;
    }
    &-date {
      font-size: 12;
      color: #444;
      text-align: right;
    }
  }
}
</style>