<template>
  <StackLayout>
    <StackLayout v-if="products.length && text" width="100%">
      <template v-for="(product, index) in products">
        <StackLayout
          :class="`product-list ${index == 0 ? ' no-border' : ''}`"
          v-if="product.id"
          :key="index"
        >
          <GridLayout columns="15,60,*,15,50,15" rows="*" width="100%">
            <StackLayout
              class="product-list-image-mask"
              orientation="vertical"
              verticalAlignment="center"
              horizontalAlignment="center"
              row="0"
              col="1"
            >
              <Image
                @tap="toProduct(product.id)"
                v-if="product.images.length"
                opacity="1"
                verticalAlignment="top"
                horizontalAlignment="center"
                class="product-list-image"
                width="95%"
                stretch="aspectFit"
                loadMode="async"
                :src="product.images[0].image_medium"
              />
            </StackLayout>

            <StackLayout
              @tap="toProduct(product.id)"
              class="product-list-description"
              orientation="vertical"
              row="0"
              col="2"
            >
              <Label
                v-if="product.brand"
                class="product-list-title-brand"
                :text="product.brand.title"
                width="100%"
                textWrap="true"
              />
              <Label
                class="product-list-title"
                :text="product.title"
                width="100%"
                textWrap="true"
              />
              <Label
                class="product-list-stock"
                :text="(text.message.stock + product.stock) | numberWithSpaces"
              />
            </StackLayout>

            <StackLayout row="0" col="4">
              <Button class="btn btn-add_cart" @tap="setToCart(product)">
                <FormattedString>
                  <Span
                    color="#ffffff"
                    class="icon icon-bar"
                    text.decode="&#xe935;"
                  ></Span>
                </FormattedString>
              </Button>
            </StackLayout>
          </GridLayout>
        </StackLayout>
      </template>

      <StackLayout width="90%" row="-1" v-if="pageAvailable">
        <Button
          width="100%"
          class="btn button-more"
          :text="text.message.show_more"
          @tap="moreProducts"
        />
      </StackLayout>
    </StackLayout>

    <StackLayout
      v-else
      verticalAlignment="center"
      horizontalAlignment="center"
      height="100%"
      width="90%"
    >
      <Label
        v-if="searchLoading === true"
        height="100%"
        verticalAlignment="center"
        horizontalAlignment="center"
        class="no-found"
        :text="text.message.searching"
      />
      <Label
        v-else
        height="100%"
        verticalAlignment="center"
        horizontalAlignment="center"
        class="no-found"
        :text="text.message.no_found"
      >
      </Label>
    </StackLayout>
  </StackLayout>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import { setToCart } from "../../utils/functions";
export default {
  name: "ProductsList",
  components: {},
  props: ["products", "pageAvailable", "moreProducts", "searchLoading"],
  methods: {
    setToCart: setToCart,
    ...mapMutations(["CHANGE_LOADING"]),
    toProduct(product_id) {
      this.CHANGE_LOADING(true);
      setTimeout(() => {
        this.$navigator.navigate(`/products-card`, {
          clearHistory: false,
          animated: true,
          transition: {
            duration: 10,
          },
          props: {
            product_id,
          },
        });
      }, 200);
    },
  },
  computed: {
    ...mapState(["text", "user"]),
  },
};
</script>

<style lang="scss">
.button-more {
  text-align: center;
  text-transform: none;
  margin: 30 0;
}

.product-list {
  border-top-width: 0.7;
  border-top-color: #ebebeb;
  padding: 10 0 0 0;
  width: 100%;
}

.product-list.no-border {
  border-top-width: 0;
  border-top-color: #ffffff;
}

.product-list .product-list-image {
  border-radius: 10;
  width: 100%;
  text-align: left;
}

.product-list-image-mask {
  text-align: center;
  border-radius: 10;
  background-color: #ffffff;
  width: 100%;
  height: 90;
}

.product-list-description {
  padding: 0 3 5 16;
}

.product-list-title-brand {
  font-size: 13;
  line-height: 3;
  color: #444444;
  font-weight: 600;
  margin-bottom: 2;
}

.product-list-title {
  font-size: 12;
  line-height: 2.5;
  color: #444444;
  font-weight: 400;
}

.product-list-stock {
  margin-top: 10;
  color: #06338d;
  font-weight: 400;
  font-size: 12;
  margin-bottom: 5;
}

.no-found {
  font-size: 15;
  font-weight: 500;
  text-align: center;
  margin-top: 80;
}
</style>


