<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <PullToRefresh @refresh="refreshList">
      <ScrollView>
        <StackLayout v-if="product && text" class="product" width="100%">
          <StackLayout row="0" class="product" width="90%">
            <StackLayout
              width="100%"
              height="200"
              minHeight="200"
              marginBottom="10"
              marginTop="5"
            >
              <Image
                @loaded="loaded(product.images[0].image_medium)"
                v-if="product.images.length"
                class="product-image"
                width="100%"
                opacity="1"
                stretch="aspectFit"
                loadMode="sync"
                :src="product.images[0].image_medium"
              />
            </StackLayout>
          </StackLayout>

          <StackLayout
            row="1"
            class="description"

            width="90%"
            horizontalAlignment="center"
          >
            <Label
              horizontalAlignment="center"
              textWrap="true"
              v-if="product.brand"
              class="brandProduct"
              :text="product.brand.title"
            />

            <Label
              horizontalAlignment="center"
              textWrap="true"
              class="titleProduct"
              :text="product.title"
            />

            <StackLayout horizontalAlignment="center">
              <Label
                class="reward"
                :text="(text.message.stock + product.stock) | numberWithSpaces"
              />
            </StackLayout>

            <Button
              :text="text.product_display.button.add_to_cart"
              class="btn"
              @tap="setToCart(product)"
            />

            <StackLayout
              v-if="htmlLoading"
              height="40"
              marginTop="20"
              backgroundColor="#ffffff"
              marginBottom="20"
              width="100%"
              textAlign="center"
            >
              <ActivityIndicator color="#06338D" :busy="1" />
            </StackLayout>

            <StackLayout>
              <WebView
                v-if="description"
                verticalAlignment="top"
                ios:isUserInteractionEnabled="false"
                @loadFinished="webViewLoaded"
                width="100%"
                @touch="webViewTouch"
                @pan="webViewPan"
                class="html-content"
                :src="description"
                :javaScriptEnabled="true"
              />
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </ScrollView>
    </PullToRefresh>
  </StackLayout>
</template>

<script>
import { errorMessage, successMessage, userInfo } from "~/utils/functions";
import { mapMutations, mapState } from "vuex";
import LoaderView from "../helpers/LoaderView";
import { setToCart } from "../../utils/functions";
import { isIOS, isAndroid } from "platform";

export default {
  name: "Product",
  components: { LoaderView },
  props: ["product_id"],
  created: function () {
    setTimeout(() => {
      this.preloadData();
    }, 400);
  },
  methods: {
    setToCart: setToCart,
    preloadData() {
      this.$axios
        .get(`/v2/products/card`, {
          params: {
            id: this.product_id,
          },
        })
        .then((response) => {
          this.loading = false;
          this.product = response.data;
          setTimeout(() => {
            this.$forceUpdate();
          }, 200);
        });
    },
    getVendor(vendor_code) {
      successMessage(vendor_code);
    },
    refreshList(args) {
      userInfo();
      let pullRefresh = args.object;
      setTimeout(() => {
        pullRefresh.refreshing = false;
        this.preloadData();
      }, 400);
    },
    webViewLoaded(webargs) {
      if (isIOS) {
        let webview = webargs.object;
        let height = webargs.url.split("#")[1];
        if (height) {
          webview.height = Number(height);
        }
      }
      this.htmlLoading = false;
    },

    loaded(url) {},
    webViewTouch() {
      return false;
    },
    webViewPan() {
      return false;
    },
  },
  computed: {
    ...mapState(["text", "user"]),
    description: {
      get() {
        if (this.product && this.product.description) {
          return (
            this.htmlContent +
            this.product.description.description +
            this.htmlContentEnd
          );
        }

        return null;
      },
    },
  },
  data() {
    return {
      loading: true,
      htmlLoading: true,
      product: null,
     htmlContent: '<html style="pointer-events: none; touch-action: none;"> ' +

                '<head>' +
                '<style> ' +
                'img {' +
                'max-width: 100%!important; height: auto!important;' +
                '} ' +
                '.ql-align-center {' +
                'text-align: center!important;' +
                '} ' +
                'br {' +
                'line-height: 5px' +
                '} ' +
                '.ql-align-right {' +
                'text-align: right!important;' +
                '} ' +
                'body::-webkit-scrollbar {' +
                'width: 1px; background: #ffffff' +
                '} ' +
                'iframe {' +
                'width: 100%!important; max-width: 100%; margin-left: auto!important;  text-align:center; margin-right: auto!important; height: 200px!important;' +
                '}' +
                'body {' +
                '-webkit-touch-callout: none;' +
                '-webkit-user-select: none;' +
                '-khtml-user-select: none;' +
                '-moz-user-select: none;' +
                'user-select: none;' +
                'width: 100%; ' +
                'padding: 0; ' +
                'margin: 0;  ' +
                'overflow-x: hidden; ' +
                'overflow-y: visible; ' +
                'height: 100%; ' +
                'pointer-events: none; ' +
                'cursor: default; ' +
                'touch-action: none; ' +
                'font-family: Arial, Helvetica, sans-serif!important; ' +
                '}' +
                '</style>' +
                '<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">' +
                '</head>' +
                '<body onload="loader();">',
                htmlContentEnd: '' +
                '<script>' +
                'function loader(){' +
                '    var body = document.body,' +
                '        html = document.documentElement;' +
                '    var height = Math.max(body.scrollHeight, body.offsetHeight,' +
                '        html.clientHeight, html.scrollHeight, html.offsetHeight);' +
                '    document.location.href += "#" + height;' +
                '}<\/script>' +
                '</body>' +
                '</html>',

    };
  },
};
</script>

<style scoped>
.product {
  padding-top: 10;
  height: auto;
}

.product-image {
  max-height: 200;
  opacity: 1;
}

.brandProduct {
  font-weight: 600;
  font-size: 16;
  color: #444;
}

.titleProduct {
  width: 80%;
  margin-top: 6;
  text-align: center;
  font-size: 14;
  margin-bottom: 10;
  line-height: 4;
  font-weight: 400;
  color: #444;
}

.description {
  margin-bottom: 20;
  color: #222;
  width: 100%;
}

.html-content {
  margin-top: 10;
}

.show {
  opacity: 1;
}

.stock {
  margin-bottom: 30;
  margin-top: 10;
  font-size: 13;
  color: #444;
  font-weight: 500;
  text-align: center;
}

.stock.no-product {
  color: #06338d;
  font-size: 14;
}



.reward {
  margin-bottom: 20;
  font-size: 16;
  color: #06338d;
  text-align: center;
  font-weight: 400;
}

Button {
  width: 100%;
  text-transform: none;
  margin-bottom: 30;
  font-weight: 500;
}

.set-count {
  font-weight: 500;
  margin-top: 20;
  font-size: 16;
  text-align: center;
}
</style>
