<template>
  <StackLayout width="100%">
    <LoaderView v-if="loading" :isLoading="loading" />
    <GridLayout rows="50,*" columns="*" width="100%">
      <GridLayout
        row="0"
        @tap="getCategories"
        columns="*,18"
        verticalAlignment="top"
        class="product-filter-column-top"
        orientation="vertical"
        width="100%"
      >
        <StackLayout verticalAlignment="center" row="0" col="0">
          <Label
            verticalAlignment="center"
            class="labelText"
            :text="categoryTitle"
          ></Label>
        </StackLayout>
        <StackLayout verticalAlignment="center" row="0" col="1">
          <Label verticalAlignment="center" class="labelTextArrow">
            <FormattedString>
              <Span text.decode="&#xe936;" class="icon down-arrow"></Span>
            </FormattedString>
          </Label>
        </StackLayout>
      </GridLayout>
      <PullToRefresh row="1" @refresh="refreshList">
        <ScrollView width="100%" v-if="text">
          <StackLayout width="100%">
            <StackLayout width="90%">
              <StackLayout row="0">
                <GridLayout
                  verticalAlignment="center"
                  class="product-filter"
                  columns="*,20,*"
                  rows="*"
                  width="100%"
                >
                  <GridLayout
                    @tap="subCategoryChange(false)"
                    columns="*,18"
                    verticalAlignment="center"
                    :class="`product-filter-column  ${
                      !mainCategory ? 'disabled' : ''
                    }`"
                    row="0"
                    col="0"
                    orientation="vertical"
                    width="100%"
                  >
                    <StackLayout verticalAlignment="center" row="0" col="0">
                      <Label
                        verticalAlignment="center"
                        class="labelText"
                        :text="subCategoryTitle"
                      ></Label>
                    </StackLayout>
                    <StackLayout verticalAlignment="center" row="0" col="1">
                      <Label verticalAlignment="center" class="labelTextArrow">
                        <FormattedString>
                          <Span
                            text.decode="&#xe936;"
                            class="icon down-arrow"
                          ></Span>
                        </FormattedString>
                      </Label>
                    </StackLayout>
                  </GridLayout>

                  <GridLayout
                    @tap="getBrands"
                    columns="*,18"
                    verticalAlignment="center"
                    row="0"
                    col="2"
                    :class="`product-filter-column ${
                      !subCategory ? 'disabled' : ''
                    }`"
                    orientation="vertical"
                    width="100%"
                  >
                    <StackLayout verticalAlignment="center" row="0" col="0">
                      <Label
                        verticalAlignment="center"
                        class="labelText"
                        :text="brandTitle"
                      ></Label>
                    </StackLayout>
                    <StackLayout verticalAlignment="center" row="0" col="1">
                      <Label verticalAlignment="center" class="labelTextArrow">
                        <FormattedString>
                          <Span
                            text.decode="&#xe936;"
                            class="icon down-arrow"
                          ></Span>
                        </FormattedString>
                      </Label>
                    </StackLayout>
                  </GridLayout>
                </GridLayout>
              </StackLayout>
              <GridLayout class="search" columns="*,40" rows="*" width="100%">
                <TextField
                  v-if="text"
                  v-model="search"
                  height="40"
                  verticalAlignment="center"
                  row="0"
                  col="0"
                  :hint="text.message.search_products"
                />
                <ActivityIndicator
                  v-if="searchLoading"
                  color="#06338D"
                  width="19"
                  height="19"
                  col="1"
                  row="0"
                  :busy="true"
                />
                <Image
                  v-else
                  horizontalAlignment="center"
                  verticalAlignment="center"
                  col="1"
                  row="0"
                  width="19"
                  height="19"
                  src="~/assets/icons/search.png"
                />
              </GridLayout>
            </StackLayout>
            <ProductsList
              :pageAvailable="pageAvailable"
              :moreProducts="moreProducts"
              :products="products"
            />
          </StackLayout>
        </ScrollView>
      </PullToRefresh>
    </GridLayout>
  </StackLayout>
</template>


<script>
import LoaderView from "../helpers/LoaderView";
import { hideLoader, presentLoader } from "../../plugins/activityIndicator";
import { mapState, mapMutations } from "vuex";
import ProductsList from "./ProductsList";
import { userInfo } from "~/utils/functions";

export default {
  name: "Products",
  components: { ProductsList, LoaderView },
  props: ["categories", "pMainCategory", "pSubCategory", "myStock"],
  data: function () {
    return {
      loading: true,
      textFieldValue: "",
      products: [],
      page: 1,
      search: "",
      dropDisable: true,
      pageAvailable: true,
      mainCategory: 0,
      subCategory: 0,
      subCategoryTitle: "Выберите подкатегорию",
      categoryTitle: "Выберите категорию",
      brandTitle: "Все бренды",
      brands: [],
      brandSelected: [],
      searchLoading: true,
      searcher: null,
    };
  },

  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    moreProducts() {
      presentLoader();
      this.page = this.page + 1;
      this.preloadData(true, false);
    },
    requestData(append = false) {
 

      console.log(this.brandSelected);
      
      this.$axios
        .get(`/v2/products/list`, {
          params: {
            page: this.page,
            search: this.search,
            resource: 1,
            stock: this.myStock,
            category_id: this.subCategory,
            brand_id: this.brandSelected
          },
        })
        .then((response) => {
          this.dropDisable = false;
          if (append) {
            this.products.push(...response.data.data);
          } else {
            this.products = response.data.data;
            if (this.search === "") this.requestDataFilters();
          }
          this.pageAvailable = true;
          if (this.products.length >= response.data.total) {
            this.pageAvailable = false;
          }
        })
        .catch(() => {})
        .finally(() => {
          hideLoader();
          setTimeout(() => {
            this.$forceUpdate();
            this.loading = false;
            this.searchLoading = false;
          }, 50);
        });
    },
    requestDataFilters() {
      this.loading = true;
      this.$axios
        .get("/v2/categories/brands", {
          params: {
            category_id: this.subCategory,
            resource_id: 1,
          },
        })
        .then((response) => {
          this.brands = [];
          this.brands.push({
            id: null,
            title: this.text.message.all_brands,
          });
          if (response.data) {
            this.brands.push(...response.data);
          }
        })
        .catch(() => {})
        .finally(() => {
          this.loading = false;
        });
    },

    preloadData(append = false, updateLoading = true) {
      this.dropDisable = true;
      this.loading = updateLoading;
      setTimeout(() => {
        this.requestData(append);
      }, 200);
    },

    getCategories() {
      let dialogsCategories = require("tns-core-modules/ui/dialogs");

      let categoriesString = this.categories.map(function (item) {
        return item["title"];
      });

      let options = {
        title: this.text.alert.select_category,
        cancelButtonText: this.text.alert.cancel,
        actions: categoriesString,
      };

      dialogsCategories
        .action(options)
        .then((result) => {
          let index = categoriesString.indexOf(result);
          this.mainCategory = this.categories[index].id;
          this.subCategoryChange(this.mainCategory);
        })
        .catch(() => {});
    },

    subCategoryChange(categoryId = false) {
      if (!this.mainCategory) {
        return true;
      }

      let dialogsSubCategories = require("tns-core-modules/ui/dialogs");

      let subCategoriesString = this.subcategories.map(function (item) {
        return item["title"];
      });

      let cancel = this.text.alert.back;

      if (!categoryId) {
        cancel = this.text.alert.cancel;
      }

      let options = {
        title: this.text.alert.select_subcategory,
        cancelButtonText: cancel,
        actions: subCategoriesString,
      };

      dialogsSubCategories
        .action(options)
        .then((result) => {
          let index = subCategoriesString.indexOf(result);
          if (categoryId) {
            this.mainCategory = categoryId;
          }
          this.subCategory = this.subcategories[index].id;
          if (this.subcategories[index].id) {
            this.brandTitle = this.text.message.all_brands;
            this.brandSelected = [];
          }
          this.page = 1;
          this.loading = true;
          this.requestData();
          this.setTitleCategories();
        })
        .catch(() => {
          if (categoryId) {
            this.getCategories();
          }
        });
    },
    getBrands() {
      if (!this.subCategory) {
        return true;
      }
      let dialogsSubCategories = require("tns-core-modules/ui/dialogs");
      let subBrandsString = this.brands.map(function (item) {
        return item["title"];
      });
      let cancel = this.text.alert.cancel;
      let options = {
        title: this.text.alert.select_brand,
        cancelButtonText: cancel,
        actions: subBrandsString,
      };
      dialogsSubCategories
        .action(options)
        .then((result) => {
          this.brandSelected = [];
          let index = subBrandsString.indexOf(result);
         
         if (this.brands[index].id){
             this.brandSelected.push(this.brands[index].id);
          }
          if (this.brands[index].title) {
            this.brandTitle = this.brands[index].title;
          } else {
            this.brandTitle = this.text.message.all_brands;
          }
          this.page = 1;
          this.loading = true;
          this.requestData();
        })
        .catch(() => {});
    },
    refreshList(args) {
      let pullRefresh = args.object;
      setTimeout(() => {
        this.page = 1;
        this.search = "";
        this.products = [];
        this.pageAvailable = true;
        pullRefresh.refreshing = false;
        this.preloadData();
      }, 1000);
    },
    setTitleCategories() {
      if (this.mainCategory && this.categories.length) {
        this.categoryTitle = this.categories.filter(
          (x) => x.id == this.mainCategory
        )[0].title;
      }
      if (this.subCategory && this.subcategories.length) {
        this.subCategoryTitle = this.subcategories.filter(
          (x) => x.id == this.subCategory
        )[0].title;
      }
    },
  },
  computed: {
    ...mapState(["text"]),

    category: {
      get() {
        let c = [];
        if (this.mainCategory || this.mainCategory == 0)
          c.push(this.mainCategory);
        if (this.subCategory || this.subCategory == 0) c.push(this.subCategory);
        return c;
      },
    },
    subcategories: {
      get() {
        return this.categories.filter((x) => x.id == this.mainCategory)[0]
          .subcategory;
      },
    },
    hasProducts() {
      return this.products.length > 0;
    },
  },
  watch: {
    search() {
      clearTimeout(this.searcher);
      this.searchLoading = true;
      this.searcher = setTimeout(() => {
        this.page = 1;
        this.preloadData(false, false);
      }, 1500);
    },
  },
  created: function () {
    if (this.text) {
      this.brandTitle = this.text.message.all_brands;
    }

    this.products = [];
    setTimeout(() => {
      this.preloadData();
    }, 200);
  },
  mounted: function () {
    this.mainCategory = this.pMainCategory;
    this.subCategory = this.pSubCategory;
    this.loading = true;
    this.setTitleCategories();
  },
};
</script>


<style scoped lang="scss">
.search {
  margin-bottom: 20;
  border-width: 0.7;
  border-color: #ebebeb;
  border-radius: 10;
  background-color: #ffffff;
}

.search TextField {
  border-width: 0;
  border-bottom-color: #ffffff;
  font-size: 14;
  color: #666666;
  background-color: transparent;
  font-weight: 200;
  padding: 5 10 4 10;
  height: 30;
}

.search Image {
  background: transparent;
}

.padding-left-2 {
  padding-left: 10;
}

.padding-right-2 {
  padding-right: 10;
}

.product-filter {
  margin-top: 20;
  margin-bottom: 18;
}

.product-filter-column {
  height: 40;
  padding-left: 10;

  border-radius: 10;
  border-width: 0.7;
  border-color: #ebebeb;
}

.product-filter-column .labelText {
  font-size: 14;
}

.product-filter-column .labelTextArrow {
  font-size: 7;
  text-align: center;
  padding-right: 8;
  color: #777;
}

.product-filter-column-top {
  background: #06338d;
  width: 100%;
  height: 50;
  padding: 0 20;
}

.product-filter-column-top .labelText {
  color: #fff;
  font-size: 16;
  font-weight: 500;
}

.product-filter-column-top .labelTextArrow {
  font-size: 7;
  text-align: center;
  padding-right: 8;
  color: #ffffff;
}
</style>
