<template>
    <StackLayout width="100%" height="100%">

        <LoaderView v-if="loading" :isLoading="loading"/>

        <StackLayout @tap="closeModal" width="100%" height="40" backgroundColor="#ffffff" verticalAlignment="top" marginBottom="50">
            <Image src="~/assets/icons/close.png" width="25" height="25" marginRight="5" marginTop="3"
                   verticalAlignment="center" horizontalAlignment="right"></Image>
        </StackLayout>


        <StackLayout width="100%" class="image-back" height="*"  horizontalAlignment="center"
                     verticalAlignment="center">
            <Image
                    @loaded="doneLoad"
                    horizontalAlignment="center"s
                    verticalAlignment="center"
                    class="zoom-image"
                    stretch="aspectFit"
                    :src="image">
            </Image>
        </StackLayout>

    </StackLayout>

</template>

<script>
    import LoaderView from '../helpers/LoaderView';

    export default {
        name: 'FeedbackZoomImage',
        data() {
            return {
                loading: true,
            };
        },
        props: ['image'],
        methods: {
            closeModal() {
                this.$modal.close('Foo');
            },
            doneLoad() {
                setTimeout(() => {
                    this.loading = false;
                }, 1000);
            }
        },
        components: {
            LoaderView
        },
        mounted() {

        }
    };
</script>

<style scoped lang="scss">
    Label {
        font-size: 35;
        font-weight: 100;
        margin-right: 10;
        color: #222;
    }

    .image-back {
        background: transparent;
    }
</style>
