<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <GridLayout :class="`${load ? 'load' : ''}`" rows="*,60">
      <StackLayout class="container">
        <PullToRefresh @refresh="refreshList">
          <ListView
            class="ListView"
            pullToRefresh="true"
            android:stackFromBottom="true"
            android:transcriptMode="alwaysScroll"
            ref="ListView"
            separatorColor="transparent"
            v-for="(message, index) in messages"
            :key="index"
          >
            <v-template :scope="message">
              <StackLayout
                orientation="vertical"
                width="100%"
                :class="`container-list ${!index ? 'first-child' : ''} ${
                  !message.time ? 'sending' : ''
                } `"
                right="0"
                height="auto"
              >
                <StackLayout
                  :horizontalAlignment="`${message.is_you ? 'right' : 'left'}`"
                  width="66%"
                  class="container-list-body"
                >
                  <Label
                    textWrap="true"
                    :row="index"
                    :text="
                      message.is_you ? text.message.you : text.message.operator
                    "
                    width="100%"
                    :class="`container-list-name ${
                      message.is_you ? 'is-you' : ''
                    }`"
                  ></Label>
                  <Label
                    v-if="message.type == 'text'"
                    textWrap="true"
                    class="container-list-message"
                    :row="index"
                    :text="message.value"
                    width="100%"
                  ></Label>
                  <StackLayout
                    v-else-if="message.type == 'image'"
                    width="100%"
                    class="container-list-message image"
                  >
                    <Image
                      width="100%"
                      height="100%"
                      stretch="aspectFill"
                      @tap="pushZoomImage(message.image)"
                      :src="message.image_medium"
                    >
                    </Image>
                  </StackLayout>

                  <Label
                    textWrap="true"
                    :row="index"
                    v-if="!message.time"
                    :text="text.message.sending"
                    width="100%"
                    class="container-list-time"
                  ></Label>
                  <Label
                    textWrap="true"
                    :row="index"
                    v-else
                    :text="message.time | dateTime"
                    width="100%"
                    class="container-list-time"
                  ></Label>
                </StackLayout>
              </StackLayout>
            </v-template>
          </ListView>
        </PullToRefresh>
      </StackLayout>
      <StackLayout
        v-if="!loading"
        class="container-control"
        row="1"
        orientation="horizontal"
      >
        <GridLayout class="container-control-sender" rows="*" columns="*,50,50">
          <TextField
            width="100%"
            col="0"
            row="0"
            text="string"
            editable="true"
            returnKeyType="done"
            autocorrect="false"
            v-model="msg"
            :hint="text.message.message"
          />
          <Image
            @tap="selectImage"
            col="1"
            height="60%"
            row="0"
            src="~/assets/icons/attach.png"
          ></Image>
          <Image
            ref="sendMessageButton"
            @tap="sendMessage"
            col="2"
            height="60%"
            row="0"
            src="~/assets/icons/send.png"
          ></Image>
        </GridLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</template>
<script>
import {
  errorMessage,
  successMessage,
  getChannel,
  badge,
} from "~/utils/functions";
import LoaderView from "../helpers/LoaderView";
import { mapState, mapMutations } from "vuex";
import { isIOS, isAndroid } from "platform";
import * as frame from "ui/frame";
const imageSourceModule = require("tns-core-modules/image-source");

export default {
  name: "Feedback",
  data() {
    return {
      msg: "",
      loading: true,
      messages: [],
      load: true,
      total: 0,
      per_page: 10,
      page: 1,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    sendMessage() {
      if (this.msg.trim() != "") {
        this.messages.push({
          value: this.msg,
          is_you: true,
          time: false,
          type: "text",
        });
        let dataSend = {
          id: null,
          value: this.msg,
          type: 1,
          client_unix_time: Math.floor(Date.now() / 1000),
        };
        this.sendServer(dataSend, this.messages.length);
        this.msg = "";
        if (isIOS) {
          if (frame && frame.topmost())
            frame.topmost().nativeView.endEditing(true);
        }
        this.scrollBottomSend();
      }
    },
    async getMessageList() {
      await this.$axios
        .get(`/dealers/chat/read`, {
          params: {
            page: this.page,
            per_page: this.per_page,
          },
        })
        .then((response) => {
          this.messages = response.data.data.reverse();
 
          this.total = response.data.total;

          this.loading = false;

          this.scrollBottom();

          setTimeout(() => {
            this.load = false;
          }, 740);
        })
        .catch((response) => {});
    },
    refreshList(args) {
      let pullRefresh = args.object;
      pullRefresh.refreshing = false;
      this.page++;
      setTimeout(() => {
        this.$axios
          .get(`/dealers/chat/read`, {
            params: {
              page: this.page,
              per_page: this.per_page,
            },
          })
          .then(async (response) => {
            await this.messages.unshift(...response.data.data.reverse());
          })
          .catch((response) => {});
      }, 400);
    },
    scrollBottom(delay) {
      if (this.$refs.ListView) {
        if (isIOS) {
          setTimeout(() => {
            if (this.messages.length > 0) {
              let ListView = this.$refs.ListView.nativeView;
              ListView.scrollToIndexAnimated(this.messages.length - 1);
            }
          }, 0);
        }

        if (isAndroid) {
          if (this.messages.length > 0) {
            setTimeout(() => {
              let ListView = this.$refs.ListView.nativeView;
              ListView.scrollToIndexAnimated(this.messages.length - 1);
              ListView.refresh();
            }, 200);
          }
        }
      }
    },

    scrollBottomSend() {
      if (this.$refs.ListView) {
        if (isIOS) {
          setTimeout(() => {
            if (this.messages.length > 0) {
              let ListView = this.$refs.ListView.nativeView;
              ListView.scrollToIndex(this.messages.length - 1);
              // ListView.refresh();
            }
          }, 0);
        }

        if (isAndroid) {
          if (this.messages.length > 0) {
            setTimeout(() => {
              let ListView = this.$refs.ListView.nativeView;
              ListView.scrollToIndexAnimated(this.messages.length - 1);
              ListView.refresh();
            }, 200);
          }
        }
      }
    },

    pushZoomImage(image) {
      const FeedbackZoomImage = require("./FeedbackZoomImage").default;
      this.$showModal(FeedbackZoomImage, {
        fullscreen: true,
        animated: true,
        transition: {
          name: "slide",
          duration: 30,
        },
        props: {
          image: image,
        },
      });
    },
    selectImage() {
      if (isAndroid) {
        const mPicker = require("nativescript-mediafilepicker");
        let mediafilepicker = new mPicker.Mediafilepicker();
        let options = {
          android: {
            isCaptureMood: false, // if true then camera will open directly.
            isNeedCamera: true,
            maxNumberFiles: 3,
            isNeedFolderList: true,
          },
          ios: {
            isCaptureMood: false, // if true then camera will open directly.
            maxNumberFiles: 1,
          },
        };

        mediafilepicker.openImagePicker(options);

        mediafilepicker.on("getFiles", (res) => {
          let results = res.object.get("results");
          let imgs = [];

          if (results.length) {
            {
              imgs = results
                .map((item) => item.file)
                .filter((value, index, self) => self.indexOf(value) === index);
              for (let i = 0; i < imgs.length; i++) {
                const img = imageSourceModule.fromFile(results[i].file);
                // console.log('test: ' + results[i].file);
                if (img) {
                  this.messages.push({
                    value: null,
                    is_you: true,
                    time: false,
                    type: "image",
                    image: null,
                    image_medium: null,
                    justNow: true,
                  });

                  const base64String = img.toBase64String("jpeg");

                  let dataSend = {
                    id: null,
                    value: base64String,
                    type: 2,
                    client_unix_time: Math.floor(Date.now() / 1000),
                  };

                  /**SEND TO SERVER*/
                  this.sendServer(dataSend, this.messages.length);
                } else {
                  errorMessage("IMAGE FORMAT ERROR");
                }
              }
              this.scrollBottomSend();
            }
          }
        });

        mediafilepicker.on("error", function (res) {
          let msg = res.object.get("msg");
          // console.log(msg);
        });
        mediafilepicker.on("cancel", function (res) {
          let msg = res.object.get("msg");
          // console.log(msg);
        });
      }

      if (isIOS) {
        if (frame && frame.topmost())
          frame.topmost().nativeView.endEditing(true);

        var imagepicker = require("nativescript-imagepicker");
        var context = imagepicker.create({ mode: "single" });

        context
          .authorize()
          .then(() => {
            return context.present();
          })
          .then((selection) => {
            selection.forEach((selected) => {
              imageSourceModule.fromAsset(selected).then((imageSource) => {
                let base64String = imageSource.toBase64String("jpg", 60);

                this.messages.push({
                  value: null,
                  is_you: true,
                  time: false,
                  type: "image",
                  image: null,
                  image_medium: null,
                  justNow: true,
                });

                let dataSend = {
                  id: null,
                  value: base64String,
                  type: 2,
                  client_unix_time: Math.floor(Date.now() / 1000),
                };
                this.sendServer(dataSend, this.messages.length);
                this.scrollBottomSend();
              });
            });
          })
          .catch(function (e) {});
      }
    },
    async sendServer(dataSend, count) {
      /**SEND TO SERVER*/
      await this.$axios
        .post(`/dealers/chat/send`, dataSend)
        .then((response) => {
          this.messages[count - 1].time = response.data.time;
          this.messages[count - 1].id = response.data.time;
          if (response.data.type === "image") {
            this.messages[count - 1].image_medium = response.data.image_medium;
            this.messages[count - 1].image = response.data.image;

            setTimeout(() => {
              let ListView = this.$refs.ListView.nativeView;
              ListView.refresh();
            }, 100);
          }
          this.total++;
          this.per_page++;
        })
        .catch((response) => {
          errorMessage("ERROR SEND MESSAGE");
        });
    },
    readNow() {
      // console.log('read NOW!');
      this.$axios.post(`/dealers/chat/read/` + this.user.id);
    },
  },
  created() {
    setTimeout(() => {
      this.getMessageList();
      this.readNow();
    }, 450);

    // IQKeyboardManager.enable = false;
  },
  computed: {
    ...mapState(["loadingGlobal", "chat", "user", "text"]),
  },
  components: {
    LoaderView,
  },
  watch: {
    chat(val) {
      if (this.user) {
        if (
          val &&
          val.message &&
          this.$refs.ListView &&
          (this.$navigator.route.component.name === "FeedbackPage" ||
            this.$navigator.route.component.name === "FeedbackModal")
        ) {
          this.readNow();

          if (isIOS) {
            if (frame && frame.topmost())
              frame.topmost().nativeView.endEditing(true);
          }

          this.messages.push(val.message);
          this.scrollBottom(100);
          this.total++;
          this.per_page++;
        }
      }
    },
  },
};
</script>

<style scoped lang="scss">
.container {
  width: 100%;
}
.load {
  opacity: 0.0000001;
}

.container .ListView {
  border-color: transparent;
  border-width: 0;
}

.container-list {
  padding: 0 20 10 20;
  font-size: 16;
  background: #fff;
}

.container-list-body {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10;
  padding: 10;
}

.container-control {
  background: #fff;
  padding: 8 20;
}

.container-control .container-control-sender {
  background: #e6e6e6;
  border-radius: 10;
}

.container-list-name {
  color: #06338d;
  font-weight: 500;
  margin-bottom: 5;
  font-size: 14;
}

.container-list-name.is-you {
  color: green;
}

.container-list-message {
  color: #666666;
  font-weight: 400;
  margin-bottom: 10;
  line-height: 1.3;
  font-size: 14;
}

.container-list-message.image {
  border-radius: 10;
  background: #888;
  height: 130;
}

.container-list-message.image Image {
  border-radius: 10;
}

.container-list-time {
  font-size: 12;
  text-align: right;
  font-weight: 400;
}

TextField {
  padding-left: 10;
  border-width: 0 0 0.5 0;
  border-bottom-color: #ebebeb;
}

Button {
  margin: 0;
}

.sending {
  opacity: 0.3;
}

.first-child {
  padding-top: 20;
}

.last-child {
  padding-bottom: 10;
}
</style>
