<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <GridLayout v-else rows="*,50" columns="*">
      <PullToRefresh
        v-if="products && products.length"
        row="0"
        @refresh="refreshList"
      >
        <ListView
          v-for="(item, index) in products"
          ref="listView"
          class="products"
          :key="index"
          separatorColor="white"
          @loadMoreItems="loadMore"
        >
          <v-template :scope="item">
            <GridLayout
              class="products-list"
              columns="15,60,15, *,15, 30,15"
              rows="*"
            >
              <Image
                @tap="toProduct(item.id)"
                v-if="item.images.length"
                row="0"
                col="1"
                opacity="1"
                verticalAlignment="center"
                horizontalAlignment="center"
                width="90%"
                height="60"
                stretch="aspectFit"
                loadMode="async"
                :src="item.images[0].image_medium"
              />

              <StackLayout
                @tap="toProduct(item.id)"
                row="0"
                col="3"
                verticalAlignment="top"
              >
                <Label
                  textWrap="true"
                  class="products-list-title"
                  :text="item.title"
                />

                <Label
                  textWrap="true"
                  class="products-list-amount"
                  :text="
                    (text.message.quantity +
                      item.pivot.amount +
                      ' ' +
                      text.message.amount)
                      | numberWithSpaces
                  "
                />
                <Label
                  textWrap="true"
                  class="products-list-stock"
                  :text="(text.message.stock + item.stock) | numberWithSpaces"
                />
              </StackLayout>

              <Image
                verticalAlignment="top"
                horizontalAlignment="right"
                col="5"
                opacity="0.7"
                @tap="editProduct(item)"
                class="support-online-chat-icon"
                height="20"
                width="20"
                :src="'~/assets/icons/temp/edit.png'"
              ></Image>
            </GridLayout>
          </v-template>
        </ListView>
      </PullToRefresh>
      <Label
        verticalAlignment="top"
        class="no_found"
        row="0"
        v-else
        :text="text.message.cart_empty"
      />
      <StackLayout row="1" verticalAlignment="center">
        <Label
          width="100%"
          class="checkout"
          :text="text.cart_display.button.checkout"
          @tap="checkout"
        />
      </StackLayout>
    </GridLayout>
  </StackLayout>
</template>

<script>
import { errorMessage, successMessage } from "~/utils/functions";
import LoaderView from "../helpers/LoaderView";
import { mapState, mapMutations } from "vuex";

import {
  prompt,
  PromptOptions,
  PromptResult,
  capitalizationType,
  inputType,
} from "tns-core-modules/ui/dialogs";

export default {
  name: "Cart",
  components: { LoaderView },
  created: function () {
    setTimeout(() => {
      this.preloadData();
    }, 200);
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    loadMore() {
      if (this.page <= this.last_page) {
        this.page++;
        this.preloadData();
      }
    },
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },

    async preloadData() {
      await this.$axios
        .get(`/v2/dealer/cart`, {
          params: {
            page: this.page,
          },
        })
        .then((response) => {
          this.$store.dispatch("setCartCount", response.data.total);

          this.last_page = response.data.last_page;

          if (response.data.current_page > 1) {
            this.products.push(...response.data.data);
          } else {
            this.products = response.data.data;
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = false;
        });
    },
    toProduct(product_id) {
      this.CHANGE_LOADING(true);

      setTimeout(() => {
        this.$navigator.navigate(`/products-card`, {
          clearHistory: false,
          animated: true,
          transition: {
            duration: 10,
          },
          props: {
            product_id,
          },
        });
      }, 200);
    },
    checkout() {
      let dialogs = require("tns-core-modules/ui/dialogs");
      dialogs
        .confirm({
          title: this.text.message.ordering,
          message: this.text.alert.sure_order,
          okButtonText: this.text.cart_display.button.checkout,
          cancelButtonText: this.text.alert.cancel,
        })
        .then((result) => {
          if (result) {
            this.CHANGE_LOADING(true);
            this.$axios
              .post(`/v2/dealer/orders/checkout`)
              .then((response) => {
                this.$store.dispatch("setCartCount", 0);
                successMessage(this.text.alert.success_paid);
                this.products = [];
                this.$navigator.navigate(`/history-page`, {
                  clearHistory: false,
                  animated: true,
                  transition: {
                    duration: 10,
                  },
                });
              })
              .catch((error) => {
                let data = error.data;
                if (data.errors && data.errors.cart) {
                  alert(data.errors.cart[0]);
                }
              })
              .finally(() => {
                this.CHANGE_LOADING(false);
              });
          }
        });
    },
    editProduct(item) {
      this.CHANGE_LOADING(false);
      prompt({
        title: "Изменить количество у товара в корзине",
        message: "Ввидите количество: ",
        okButtonText: "OK",
        defaultText: `${item.pivot.amount}`,
        cancelButtonText: this.text.alert.cancel,
        neutralButtonText: "Удалить товар",
        cancelable: true,
        inputType: inputType.number, 
        capitalizationType: capitalizationType.sentences, 
      })
        .then((result) => {
          if (result && result.result === true && result.text) {
            if (result.text > 0) {
              this.CHANGE_LOADING(true);
              this.$axios
                .post(`/v2/dealer/cart/add`, {
                  product_id: item.id,
                  amount: result.text,
                })
                .then((response) => {
                  successMessage(this.text.alert.cart_update_count);
                  for (let i = 0; i < this.products.length; i++) {
                    if (this.products[i].id == item.id) {
                      this.products[i].pivot.amount = parseInt(result.text);
                      break;
                    }
                  }
                })
                .catch(({ data }) => {
                  if (data.errors && data.errors.product_id) {
                    alert(data.errors.product_id[0]);
                  }
                  if (data.errors && data.errors.amount) {
                    alert(data.errors.amount[0]);
                  }
               
                })
                .finally(() => {
                     this.CHANGE_LOADING(false);
                });
            }
          } else if (result && result.result === false) {
          } else if (result && result.result === undefined) {
            this.CHANGE_LOADING(true);
            this.$axios
              .delete(`/v2/dealer/cart/delete`, {
                params: {
                  product_id: item.id,
                },
              })
              .then((response) => {
                successMessage(this.text.alert.was_removed);
                this.$store.dispatch("setCartCount", response.data.cart_count);
                for (let i = 0; i < this.products.length; i++) {
                  if (this.products[i].id == item.id) {
                    this.products.splice(i, 1);
                    break;
                  }
                }
              }).finally(() => {
                     this.CHANGE_LOADING(false);
                });
          }
        })
        .catch(() => {
 
        });
    },
  },
  data() {
    return {
      loading: true,
      products: [],
      page: 1,
      last_page: 1,
    };
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>

<style scoped lang="scss">
.products {
  & &-list {
    padding: 12 0 10 0;
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    display: none;

    &-title {
      font-size: 14;
      font-weight: 400;
      color: #222;
      line-height: 2;
    }
    &-amount {
      margin-top: 10;
      font-size: 12;
      font-weight: 500;
      color: #444;
      line-height: 2;
    }
    &-stock {
      margin-top: 5;
      font-size: 12;
      font-weight: 400;
      color: #06338d;
      line-height: 2;
    }
  }
}
.checkout {
  height: 50;
  padding: 10 0;
  font-size: 20;
  background: #06338d;
  color: #fff;
  text-align: center;
  vertical-align: center;

  width: 100%;
  border-radius: 0;
  border:none;
}
</style>
