<template>
  <StackLayout v-if="user && text" class="a-container">
    <StackLayout class="user-Info">
      <StackLayout
        verticalAlignment="center"
        orientation="horizontal"
        marginBottom="15"
        horizontalAlignment="center"
      >
        <Image
          width="80"
          horizontalAlignment="left"
          verticalAlignment="center"
          src="~/assets/icons/temp/cabinet.png"
        >
        </Image>
      </StackLayout>

      <StackLayout width="90%" marginBottom="20" orientation="horizontal">
        <Label
          padding="0"
          margin="0"
          width="100%"
          :text="user.title"
          textWrap="true"
          class="profile-name"
        />
      </StackLayout>

      <Label
        padding="0"
        margin="0"
        width="100%"
        :text="'USER ID: ' + user.id"
        textWrap="true"
        class="profile-id"
      />

      <GridLayout
        rows="40"
        columns="*, *"
        marginTop="10"
        maxWidth="90%"
        width="300"
      >
        <StackLayout
      
          row="0"
          col="0"
          class="icon-bonus-container"
        >
          <StackLayout orientation="horizontal" class="bonuses-container">
            <Label
              v-if="user.bonus_total"
              row="0"
              col="0"
              :text="user.bonus_total | numberWithSpaces"
              class="bonuses-number"
            />
            <Label v-else row="0" col="0" :text="0" class="bonuses-number" />
            <Label
              row="0"
              col="1"
              :text="text.menu_display.label.bonus"
              class="bonuses-title"
            />
          </StackLayout>
        </StackLayout>
        <StackLayout
      
          row="0"
          col="1"
          class="icon-bonus-container"
          style="padding-left: 10"
        >
          <StackLayout orientation="horizontal" class="bonuses-container">
            <Label :text="user.count_activation" class="bonuses-number"></Label>
            <Label :text="text.message.count" class="bonuses-title" />
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </StackLayout>
    <StackLayout class="form-field" marginTop="35">
      <Button
        @tap="withdraw"
        v-if="text"
        :class="`btn`"
        :text="text.cabinet_display.button.withdraw"
      ></Button>
    </StackLayout>
    <StackLayout>
      <Label
        textWrap="true"
        class="user-Info-mayPay"
        v-if="text"
        :text="text.cabinet_display.label.may_pay"
      />
    </StackLayout>
  </StackLayout>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { withdraw } from "../../utils/functions";

export default {
  name: "UserView",
  props: ["user", "detailMonth"],
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    withdraw: withdraw
  },
  created: function () {},
  computed: {
    ...mapState(["text"]),
  },
};
</script>

<style scoped>
.user-Info {
  padding: 25 0 0 0;
  margin-top: 25;
  text-align: center;
}

.user-Info-mayPay {
  font-size: 20;
  font-weight: 500;
  text-align: center;
  margin-top: 35;
  width: 80%;
}

.a-container {
  padding-bottom: 30;
  border-bottom-width: 0.7;
  border-bottom-color: #ebebeb;
  margin-bottom: 30;
}

.profile-icon {
  font-size: 55;
  vertical-align: center;
}

.profile-name {
  font-size: 24;
  font-weight: 400;
  color: #06338d;
  text-align: center;
}

.icon-bonus-container {
  orientation: horizontal;
  vertical-align: center;
  margin-left: 0;
}

.bonuses-container {
  orientation: horizontal;
  vertical-align: center;
  background-color: #e8e8e8;
  margin-left: 10;
  padding-left: 10;
  padding-right: 10;
  border-radius: 5;
  min-height: 24;
}

.bonuses-number {
  vertical-align: center;
  font-weight: 900;
  font-size: 12;
}

.bonuses-title {
  color: #4d4d4d;
  float: right;
  font-size: 10;
  width: 100%;
  vertical-align: center;
  text-align: right;
}

.star-icon {
  vertical-align: center;
  font-size: 15;
  color: #06338d;
}

.plus-icon {
  vertical-align: center;
  font-size: 15;
  color: #ffffff;
}

.profile-id {
  font-weight: 700;
  color: #666;
  font-size: 14;
}

.btn {
  text-transform: none;
}
</style>
