<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" title="Кабинет" />
      <TabBarController current="cabinet-page">
        <StackLayout>
          <LoaderView v-if="loading" :isLoading="loading" />
          <ScrollView v-else orientation="vertical">
            <StackLayout v-if="text">
              <UserView v-if="user" :user="user" :detailMonth="detailMonth" />
              <Label
                width="90%"
                textWrap="true"
                class="label-current-month"
                :text="text.message.current_month"
              ></Label>
              <template v-if="details.length">
                <StackLayout
                  v-for="(item, index) in details"
                  @tap="onItemTap(index)"
                  :key="index"
                >
                  <ProductTransactionsListView
                    :text="text"
                    :product="item"
                    :presented="index === selectedIndex"
                  />
                </StackLayout>
              </template>
              <StackLayout v-else class="page-container">
                <Label
                  class="no-found"
                  textWrap="true"
                  :text="text.message.no_record"
                ></Label>
              </StackLayout>
            </StackLayout>
          </ScrollView>
        </StackLayout>
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import { mapMutations, mapState } from "vuex";
import LoaderView from "./helpers/LoaderView";
import UserView from "./cabinet/UserView";
import HeaderActionBar from "./helpers/HeaderActionBar";

import ProductTransactionsListView from "./detalisation/ProductTransactionsListView";

import { userInfo } from "~/utils/functions";

export default {
  name: "Cabinet",
  components: {
    ProductTransactionsListView,
    UserView,
    HeaderActionBar,
    LoaderView,
    TabBarController,
  },
  data: function () {
    return {
      selectedIndex: -1,
      loading: true,
      page: 1,
      details: [],
    };
  },
  methods: {
    detailMonth() {
      this.loading = true;
      this.$axios
        .get(`/dealers/activate/history`, {
          params: {
            page: this.page,
            month: 1,
          },
        })
        .then((response) => {
          let current = this.details.slice();

          this.loading = false;

          current = current.filter((c) => c.type !== "loadMore");
         
         if (this.page === 1){
              current =  response.data.data;
          } else {
              current.push(...response.data.data.slice());
          }
          if (this.details.length > response.data.total) {
            this.pageAvailable = false;
          } else {
            this.pageAvailable = true;
            current.push({ type: "loadMore" });
          }
          this.details = current;
          this.page++;
        })
        .catch((response) => {});
    },

    onItemTap(index) {
      if (this.selectedIndex === index) {
        this.selectedIndex = -1;
        return;
      }
      this.selectedIndex = index;
    },
  },
  computed: {
    ...mapState(["user", "text"]),
  },
  mounted: function () {
    this.page = 1;
    setTimeout(() => {
      this.detailMonth();
    }, 450);
  },

  watch: {
    "user.bonus_total"(val) {
      this.page = 1;
      setTimeout(() => {
        this.detailMonth();
      }, 450);
    },
  },
};
</script>

<style scoped>
.page-container {
  padding: 0 20;
}

.no-found {
  font-size: 15;
  font-weight: 500;
  text-align: center;
  margin-top: 80;
}

.label-current-month {
  font-size: 14;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20;
}
</style>
