<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar
        :title="title"
        :onOpenDrawerTap="onOpenDrawerTap"
        :setBack="true"
        :isCart="true"
      />
      <CartList />
    </StackLayout>
  </Page>
</template>
<script>
import HeaderActionBar from "./helpers/HeaderActionBar";
import CartList from "./cart/CartList";

export default {
  name: "CartPage",
  methods: {},
  data() {
    return {
      title: "Корзина",
    };
  },
  components: {
    CartList,
    HeaderActionBar,
  },
};
</script>

<style scoped>
Label {
  height: 60;
  border-radius: 30;
  text-align: center;
  padding: 17 15 15 15;
  font-size: 22px;
}

.pl {
  padding-left: 2;
}

.pr {
  padding-right: 2;
}
</style>
