<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" />
      <TabBarController current="products-page">
        <LoaderView v-if="loading" :isLoading="loading" />
        <GridLayout paddingTop="7" rows="60,*" columns="*" width="100%">
          <GridLayout
            row="0"
            class="search"
            columns="*,35"
            rows="*"
            width="90%"
          >
            <TextField
              v-if="text"
              v-model="search"
              height="30"
              verticalAlignment="center"
              row="0"
              col="0"
              :hint="text.message.search_products"
            />
            <ActivityIndicator
              v-if="searchLoading"
              color="#06338D"
              width="19"
              height="19"
              col="1"
              row="0"
              :busy="true"
            />
            <Image
              v-else
              horizontalAlignment="center"
              verticalAlignment="center"
              col="1"
              row="0"
              width="19"
              height="19"
              src="~/assets/icons/search.png"
            />
          </GridLayout>
          <PullToRefresh row="1" @refresh="refreshList">
            <ScrollView>
              <StackLayout
                v-if="search === ''"
                paddingTop="20"
                paddingBottom="40"
              >
                <StackLayout
                  v-for="(item, index) in items"
                  :key="index"
                  class="category-list-container"
                >
                  <GridLayout
                    rows="47"
                    columns="*, 25"
                    verticalAlignment="center"
                    @tap="onItemTap(index)"
                    :class="`category-container ${
                      index == selectedIndex ? 'active-category' : ''
                    }`"
                  >
                    <Label
                      row="0"
                      col="0"
                      class="title-g"
                      verticalAlignment="center"
                      :text="item.title"
                    />
                    <Label verticalAlignment="center" row="0" col="1">
                      <FormattedString>
                        <Span
                          text.decode="&#xe936;"
                          class="icon category-list-container-icon"
                        ></Span>
                      </FormattedString>
                    </Label>
                  </GridLayout>
                  <template v-for="(lItem, lIndex) in item.subcategory">
                    <StackLayout
                      v-if="index === selectedIndex"
                      verticalAlignment="center"
                      class="subcategory-container"
                      :key="lIndex"
                      @tap="categorySelected(lIndex)"
                    >
                      <Label verticalAlignment="center" :text="lItem.title" />
                    </StackLayout>
                  </template>
                </StackLayout>
              </StackLayout>
              <StackLayout v-else width="100%">
                <ProductsList
                  :pageAvailable="pageAvailable"
                  :searchLoading="searchLoading"
                  :moreProducts="moreProducts"
                  :products="products"
                />
              </StackLayout>
            </ScrollView>
          </PullToRefresh>
        </GridLayout>
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import HeaderActionBar from "./helpers/HeaderActionBar";
import LoaderView from "./helpers/LoaderView";
import CategoryListView from "./categories/CategoryListView";

import { mapMutations, mapState } from "vuex";
import ProductsList from "./products/ProductsList";

export default {
  name: "Categories",
  components: {
    ProductsList,
    CategoryListView,
    LoaderView,
    HeaderActionBar,
    TabBarController,
  },
  data: function () {
    return {
      title: "Категории",
      loading: true,
      searchLoading: false,
      products: [],
      page: 1,
      search: "",
      searcher: null,
      pageAvailable: true,
      connectionError: false,
      selectedIndex: -1,
      items: [],
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),

    preloadData() {
      this.loading = true;
            this.CHANGE_LOADING(true);
      this.$axios
        .get(`/v2/categories`, {
          params: {
            resource_id: 1,
          },
        })
        .then((response) => {
          this.loading = false;
          this.items = response.data;
          this.CHANGE_LOADING(false);
        })
        .catch((response) => {});
    },

    onItemTap(index) {
      this.selectedIndex = this.selectedIndex === index ? -1 : index;
    },

    categorySelected(index) {
      this.CHANGE_LOADING(true);

      setTimeout(() => {
        if (this.selectedIndex >= 0) {
          let mainCategory = this.items[this.selectedIndex].id;

          let subCategory = this.items[this.selectedIndex].subcategory[index]
            .id;

          this.$navigator.navigate(`/products-list`, {
            clearHistory: false,
            animated: true,
            transition: {
              duration: 10,
            },
            props: {
              categories: this.items,
              mainCategory: mainCategory,
              subCategory: subCategory,
            },
          });
        }
      }, 100);
    },

    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },

    preloadDataProducts(append = false) {
      if (this.search) {
        this.$axios
          .get(`/v2/products/list`, {
            params: {
              page: this.page,
              search: this.search,
              resource: 1,
              per_page: 15,
            },
          })
          .then((response) => {
            this.dropDisable = false;

            if (append) {
              this.products.push(...response.data.data);
            } else {
              this.products = response.data.data;
            }
            this.pageAvailable = true;
            if (this.products.length >= response.data.total) {
              this.pageAvailable = false;
            }
          })
          .catch(() => {})
          .finally(() => {
            this.$forceUpdate();
            this.loading = false;
            this.searchLoading = false;
            setTimeout(() => {

            }, 500);
          });
      } else {
        this.products = [];
        this.searchLoading = false;
      }
    },

    moreProducts() {

      setTimeout(() => {
        this.page = this.page + 1;
        this.preloadDataProducts(true);
      }, 200);
    },

    pushScreen(product_id) {
      this.CHANGE_LOADING(true);
      setTimeout(() => {
        this.$navigator.navigate(`/products-card`, {
          clearHistory: false,
          animated: true,
          transition: {
            duration: 10,
          },
          props: {
            product_id,
          },
        });
      }, 200);
    },
  },
  created: function () {
    setTimeout(() => {
      this.preloadData();
    }, 180);
  },

  computed: {
    ...mapState(["text"]),
  },
  watch: {
    search() {
      clearTimeout(this.searcher);
      this.searchLoading = true;
      this.searcher = setTimeout(() => {
        this.page = 1;
        this.preloadDataProducts();
      }, 1000);
    },
  },
};
</script>

<style scoped lang="scss">
.category-list-container {
  padding: 0 0 0 0;
  width: 90%;
  border: none;
  font-weight: 300;
  &-icon {
    font-size: 8;
    color: #888;
  }
}

.active {
  color: #ffffff;
}

.category-container {
  background-color: #f7f7f7;
  padding-left: 10;
  border-radius: 5;
  margin-bottom: 8;
  font-size: 16;
  font-weight: 400;
  color: #222;
  height: 47;
}

.category-container.active-category {
  background-color: #002a9f;
  color: #ffffff;

  .category-list-container-icon {
    color: #fff;
  }
}

.category-container.active-category .title-g {
  color: #fff;
}

.subcategory-container {
  margin-left: 15;
  background-color: #ebebeb;
  border-radius: 5;
  margin-bottom: 9;
  padding-left: 10;
  height: 47;
  font-size: 16;
  font-weight: 400;
  color: #111;
}

.no-found {
  font-size: 15;
  font-weight: 500;
  text-align: center;
}

/**OPTIMIZATE!!!*/

.search {
  margin: 10 0 10 0;
  border-width: 0.7;
  border-color: #ebebeb;
  border-radius: 10;
  background-color: #ffffff;
}

.search TextField {
  border-width: 0;
  border-bottom-color: #ffffff;
  font-size: 14;
  color: #666666;
  background-color: transparent;
  font-weight: 200;
  padding: 5 10 4 10;
  height: 30;
}

.search Image {
  background: transparent;
}

.padding-left-2 {
  padding-left: 10;
}

.padding-right-2 {
  padding-right: 10;
}

.product-filter {
  margin-top: 20;
  margin-bottom: 18;
}

.product-filter-column {
  height: 40;
  padding-left: 10;

  border-radius: 10;
  border-width: 0.7;
  border-color: #ebebeb;
}

.product-filter-column .labelText {
  font-size: 14;
}

.product-filter-column .labelTextArrow {
  font-size: 7;
  text-align: center;
  padding-right: 8;
  color: #777;
}

.button-more {
  text-align: center;
  text-transform: none;
  margin: 30 0;
}

.product-list {
  margin-bottom: 5;
  border-top-width: 0.7;
  border-top-color: #ebebeb;
  padding: 15 0 5 0;
  width: 100%;
}

.product-list.no-border {
  border-top-width: 0;
  border-top-color: #ffffff;
}

.product-list .product-list-image {
  border-radius: 10;
  width: 100%;
  text-align: left;
}

.product-list-image-mask {
  text-align: center;
  border-radius: 10;
  background-color: #ffffff;
  width: 100%;
  height: 90;
}

.product-list-description {
  padding: 0 5 10 16;
}

.product-list-title-brand {
  font-size: 15;
  line-height: 3;
  color: #666666;
  font-weight: 600;
  margin-bottom: 2;
}

.product-list-title {
  font-size: 14;
  line-height: 2.5;
  color: #444444;
  font-weight: 500;
}

.product-list-conditional_price {
  margin-top: 15;
  color: #06338d;
  font-weight: 500;
  font-size: 14;
}

.no-found {
  font-size: 15;
  font-weight: 500;
  text-align: center;
  margin-top: 80;
}

.product-filter-column-top {
  background: #06338d;
  width: 100%;
  height: 50;
  padding: 0 20;
}

.product-filter-column-top .labelText {
  color: #fff;
  font-size: 16;
  font-weight: 500;
}

.product-filter-column-top .labelTextArrow {
  font-size: 7;
  text-align: center;
  padding-right: 8;
  color: #ffffff;
}
</style>
