<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" title="Детализация" />
      <TabBarController current="detalization-page">
        <LoaderView v-if="loading" :isLoading="loading" />
        <StackLayout v-if="text" width="100%">
          <DateFilterView
            v-if="showDate"
            style="padding-top: 10"
            @onDateUpdate="onDateUpdate"
            :minDate="min_date"
            :maxDate="max_date"
          />

          <template v-if="!details.length">
            <StackLayout height="100%" width="100%" verticalAlignment="center">
              <Label
                verticalAlignment="center"
                horizontalAlignment="center"
                class="no-found"
                :text="text.message.no_record"
              />
            </StackLayout>
          </template>

          <PullToRefresh @refresh="refreshList">
            <ListView
              v-for="(item, index) in details"
              class="detalisation"
              ref="listView"
              :key="index"
              @loadMoreItems="loadMore"
              @itemTap="onItemTap"
              separatorColor="white"
            >
              <v-template if="item.type !== 'button' && item">
                <ProductTransactionsListView
                  :text="text"
                  :product="item"
                  :presented="index === selectedIndex"
                />
              </v-template>
            </ListView>
          </PullToRefresh>
        </StackLayout>
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import LoaderView from "./helpers/LoaderView";
import DateFilterView from "./detalisation/DateFilterView";
import HeaderActionBar from "./helpers/HeaderActionBar";

import ProductTransactionsListView from "./detalisation/ProductTransactionsListView";
import { mapState, mapMutations } from "vuex";

const platform = require("tns-core-modules/platform");

export default {
  name: "Detalisation",
  components: {
    ProductTransactionsListView,
    DateFilterView,
    HeaderActionBar,

    TabBarController,
    LoaderView,
  },
  data: function () {
    return {
      selectedIndex: -1,
      pageAvailable: true,
      initialDateLoaded: false,
      details: [],
      page: 1,
      last_page: 0,
      loading: true,
      min_date: null,
      max_date: null,
      set_min_date: null,
      set_max_date: null,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    async preloadData(dateUpdated = false) {
      await this.$axios
        .get(`/dealers/activate/history`, {
          params: {
            page: this.page,
            date_from: this.set_min_date,
            date_till: this.set_max_date,
            per_page: 20,
          },
        })
        .then((response) => {
          this.last_page = response.data.last_page;
          if (!dateUpdated) {
            this.details.push(...response.data.data);
          } else {
            this.details = response.data.data;
          }

          if (!this.initialDateLoaded) {
            this.min_date = new Date(response.data.min_date);
            this.max_date = new Date(response.data.max_date);
            this.initialDateLoaded = true;
          }

          if (this.details.length >= response.data.total) {
            this.pageAvailable = false;
          } else {
            this.pageAvailable = true;
          }

          if (this.$refs.listView) {
            setTimeout(() => {
              this.$refs.listView.refresh();
            }, 90);
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = false;
        });
    },
    onDateUpdate(obj) {
      if (obj.from) {
        this.set_min_date = this.parseTime(obj.from);
      }
      if (obj.to) {
        this.set_max_date = this.parseTime(obj.to);
      }

      if (this.initialDateLoaded) {
        this.loading = true;
        this.page = 1;
        this.preloadData(true);
      }
    },

    async onItemTap(e) {
  
      let index = e.index;

      if (this.selectedIndex == index) {
        this.selectedIndex = -1;
        return;
      }

      if (index >= 0) {
        this.selectedIndex = index;
      }
      await this.$refs.listView.nativeView.refresh();

      setTimeout(() => {

      }, 100);
    },

    parseTime(date) {
      let parsed = new Date(date);
      let formatted = `${parsed.getFullYear()}-${
        parsed.getMonth() + 1
      }-${parsed.getDate()}`;
      return formatted;
    },
    refreshList(args) {
      let pullRefresh = args.object;
      pullRefresh.refreshing = false;
 
      setTimeout(() => {
      this.page = 1;
      this.initialDateLoaded = false;
      this.loading = true;
      this.details = [];
      this.pageAvailable = true;
      this.last_page = 1;
      this.min_date = null;
      this.max_date = null;
      this.set_min_date = null;
      this.set_max_date = null;
        this.preloadData(true);
      }, 1000);
    },

    loadMore() {
      if (this.page <= this.last_page) {
        this.page++;
        this.preloadData();
      }
    },
  },

  created: function () {
    this.loading = true;
    setTimeout(() => {
      this.preloadData(true);
    }, 200);
  },
  computed: {
    ...mapState(["loadingGlobal", "event_user", "user", "text"]),

    showDate: {
      get() {
        let show = true;
        let minor = 10;
        if (platform.isAndroid) {
          let version = platform.device.osVersion;
          //  console.log('version: ' + version);
          if (version) {
            let arrayVersion = platform.device.osVersion.toString().split(".");
            if (arrayVersion.length) {
              //    console.log('minor: ' + arrayVersion[0]);
              minor = parseInt(arrayVersion[0]);
            }
          }
          if (minor < 9) {
            show = false;
          }
        }
        return show;
      },
    },
  },
};
</script>
<style scoped lang="scss">
.detalisation {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
  }
}
</style>
