<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" title="" />
      <TabBarController current="documents-page">
        <Tabs v-model="currentState">
          <TabStrip>
            <TabStripItem>
              <Label class="tab-title" :text="'Заказы'"></Label>
            </TabStripItem>
            <TabStripItem>
              <Label class="tab-title" :text="'Расходы'"></Label>
            </TabStripItem>
            <TabStripItem>
              <Label class="tab-title" :text="'Приходы'"></Label>
            </TabStripItem>
          </TabStrip>

          <TabContentItem width="100%">
            <StackLayout>
              <document-list v-if="currentState === 0" :owner="false" />
            </StackLayout>
          </TabContentItem>
          <TabContentItem width="100%">
            <StackLayout>
              <document-consumption-list
                v-if="currentState === 1"
                :owner="false"
              />
            </StackLayout>
          </TabContentItem>
          <TabContentItem width="100%">
            <StackLayout>
              <document-coming-list v-if="currentState === 2" :owner="false" />
            </StackLayout>
          </TabContentItem>
        </Tabs>
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import HeaderActionBar from "./helpers/HeaderActionBar";
import DocumentList from "./documents/DocumentList";

import DocumentComingList from "./documents/DocumentComingList";
import DocumentConsumptionList from "./documents/DocumentConsumptionList";

export default {
  data() {
    return {
      currentState: 0,
    };
  },
  props: {
    document: {
      default: null,
    },
  },
  name: "DocumentsPage",
  components: {
    HeaderActionBar,
    TabBarController,
    DocumentList,
    DocumentComingList,
    DocumentConsumptionList,
  },
};
</script>

