<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" title="" />
      <TabBarController current="documents-page">
        <document-card :document="document" />
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import HeaderActionBar from "./helpers/HeaderActionBar";
import DocumentCard from "./documents/DocumentCard";

export default {
  props: {
    document: {
      default: null,
    }
  },
  name: "DocumentPage",
  components: {
    HeaderActionBar,
    TabBarController,
    DocumentCard,
  },
};
</script>

