<template>
  <Page
    :enableSwipeBackNavigation="true"
    backgroundColor="#ebebeb"
    actionBarHidden="true"
  >
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" :title="title" />
      <TabBarController current="feedback">
        <Feedback />
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import HeaderActionBar from "./helpers/HeaderActionBar";

import Feedback from "./feedback/Feedback";
import TabBarController from "./helpers/TabBarController";

export default {
  name: "FeedbackPage",

  data() {
    return {
      title: "Онлайн-чат",
    };
  },
  components: {
    TabBarController,
    Feedback,
    HeaderActionBar,
  },
};
</script>

