<template>
  <Page backgroundColor="#ebebeb" actionBarHidden="true">
    <StackLayout>
      <GridLayout
        width="100%"
        columns="95,*,80,15"
        rows="50"
        backgroundColor="#fff"
        @tap="closeModal"
      >
        <StackLayout
          row="0"
          col="1"
          verticalAlignment="center"
          horizontalAlignment="center"
        >
          <Label class="user-id" :text="'USER ID: ' + user.id" />
        </StackLayout>
        <StackLayout
          row="0"
          col="2"
          verticalAlignment="center"
          horizontalAlignment="right"
        >
        
          <Image
            opacity="1"
            height="20"
            width="20"
            src="~/assets/icons/close.png"
          >
          </Image>
        </StackLayout>
      </GridLayout>
      <StackLayout>
        <Feedback />
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import Feedback from "./feedback/Feedback";

export default {
  mounted() {
    setTimeout(() => {
      this.CHANGE_LOADING(false);
    }, 400);
  },
  name: "FeedbackModal",
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    closeModal() {
      this.$navigator.navigate("/no-activate", {
        animated: false,
        clearHistory: true,
      });
    },
  },
  data() {
    return {
      title: "Онлайн-чат",
    };
  },
  computed: {
    ...mapState(["user"]),
  },
  components: {
    Feedback,
  },
};
</script>

<style scoped lang="scss">
.user-id {
  font-size: 18;
  font-weight: 500;
}
</style>
