<template>
  <Navigator :defaultRoute="token ? '/main-screen' : '/login'" />
</template>

<script>
import { getLang, getAuthToken } from "../utils/functions";
import { mapState } from "vuex";

import { presentLoader } from "../plugins/activityIndicator";

export default {
  computed: {
    ...mapState(["user", "text"]),
    token: {
      get() {
        return getAuthToken();
      },
    },
  },
  async created() {
    await this.$store.dispatch("languageAction", getLang());
  },
  // beforeCreate() {
  //   // presentLoader();
  // },
  watch: {
    "user.is_active"(val) {
      if (val === true) {
        this.$navigator.navigate(`/main-screen`, {
          clearHistory: true,
          animated: false,
        });
      } else if (val === false) {
        this.$navigator.navigate(`/no-activate`, {
          clearHistory: true,
          animated: false,
        });
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "../app-variables";

.fa {
  color: $accent-dark;
}

.info {
  font-size: 20;
}
</style>
