<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" title="" />
      <TabBarController current="leftovers-page">
        <leftover-list :owner="false" />
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import HeaderActionBar from "./helpers/HeaderActionBar";
import LeftoverList from "./leftovers/LeftoverList";

export default {
  name: "LeftoversPage",
  components: {
    HeaderActionBar,
    TabBarController,
    LeftoverList,
  },
};
</script>

