<template>
  <Page actionBarHidden="true" class="page main-screen">
    <StackLayout>
      <RadSideDrawer
        v-if="text !== null && user !== null"
        ref="drawer"
        drawerContentSize="320"
        :gesturesEnabled="gesturesEnabled"
        @drawerTransition="sideDrawerTransition"
        @drawerClosed="onDrawerClosed"
        @drawerClosing="onDrawerClosed"
        @drawerOpened="onDrawerOpened"
      >
        <StackLayout ~drawerContent>
          <Menu :onCloseDrawerTap="onCloseDrawerTap" />
        </StackLayout>
        <StackLayout ~mainContent>
          <HeaderActionBar title="Главная" :onOpenDrawerTap="onOpenDrawerTap" />
          <PullToRefresh @refresh="refreshList">
            <ScrollView orientation="vertical">
              <StackLayout class="main-screen-container">
                <StackLayout orientation="vertical">
                  <GridLayout columns="*, *" rows="*,*,*,*,*,*,*,*">
                    <template v-for="(item, index) in main_screen">
                      <StackLayout
                        orientation="vertical"
                        :class="'grid-item ' + item.navigate_to"
                        @tap="pushScreen(item)"
                        :col="(index + 1) % 2 == 0 ? '1' : '0'"
                        :row="Math.floor(index / 2)"
                        :key="index"
                      >
                        <Image
                          width="56"
                          :src="'~/assets/icons/temp/' + item.icon"
                        >
                        </Image>
                        <Label
                          :text="item.title ? item.title : ''"
                          class="title"
                        />

                        <Label
                          v-if="item.navigate_to === 'ratings-page'"
                          :text="
                            (user.rate + ' ' + text.message.rate)
                              | numberWithSpaces
                          "
                          class="description"
                        />
                        <Label
                          v-else-if="
                            item.navigate_to == 'scanner-page' ||
                            item.navigate_to == 'activate-product'
                          "
                          :text="
                            (user.count_activation + ' ' + text.message.count)
                              | numberWithSpaces
                          "
                          class="description"
                        />
                        <Label
                          v-else-if="item.navigate_to == 'cabinet-page'"
                          :text="
                            (user.bonus_total +
                              ' ' +
                              text.menu_display.label.bonus)
                              | numberWithSpaces
                          "
                          class="description"
                        />

                        <Label
                          v-else-if="item.navigate_to == 'detalization-page'"
                          :text="
                            (user.bonus_received + ' ' + text.message.get)
                              | numberWithSpaces
                          "
                          class="description"
                        />
                        <Label
                          v-else-if="item.navigate_to == 'feedback'"
                          :text="
                            badge_message
                              ? badge_message + ' ' + text.message.new_messages
                              : text.message.no_message
                          "
                          class="description"
                        />
                      </StackLayout>
                    </template>
                  </GridLayout>
                </StackLayout>
              </StackLayout>
            </ScrollView>
          </PullToRefresh>
        </StackLayout>
      </RadSideDrawer>

      <LoaderView v-else :isLoading="text === null || user === null" />
    </StackLayout>
  </Page>
</template>

<script>
import LoaderView from "./helpers/LoaderView";

import { mapMutations, mapState } from "vuex";
import {
  clearAuthToken,
  clearChannel,
  userInfo,
  setCodeActivation,
} from "../utils/functions";
import HeaderActionBar from "./helpers/HeaderActionBar";
import Menu from "./helpers/Menu";

export default {
  name: "MainScreen",
  components: { Menu, HeaderActionBar, LoaderView },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),

    setCodeActivation: setCodeActivation,
    onDrawerClosed() {
      this.gesturesEnabled = false;
    },
    onDrawerOpened() {
      this.gesturesEnabled = true;
    },
    sideDrawerTransition(val) {},
    onOpenDrawerTap() {
      this.$refs.drawer.nativeView.showDrawer();
    },
    onCloseDrawerTap() {
      this.$refs.drawer.nativeView.closeDrawer();
    },
    refreshList(args) {
      let pullRefresh = args.object;
      setTimeout(() => {
        userInfo(true);
        pullRefresh.refreshing = false;
      }, 1000);
    },
    pushScreen(item) {
      let timeOut = 199;
      this.CHANGE_LOADING(true);
      setTimeout(() => {
        let clearHistory = false;

        if (item.navigate_to) {
          if (item.navigate_to === "activate-product") {
            this.setCodeActivation();
          } else {
            this.$navigator.navigate(`/${item.navigate_to}`, {
              clearHistory: clearHistory,
              animated: true,
            });
          }
        }
      }, timeOut);
    },
  },
  data: function () {
    return {
      processing: false,
      items: [],
      badge_message: 0,
      gesturesEnabled: false,
    };
  },
  mounted() {
    setTimeout(() => {
      if (this.badges) {
        this.badge_message = this.badges.badge_message;
      }
      if (this.user) {
        if (this.user.is_active === false) {
          this.$navigator.navigate("/no-activate", {
            animated: false,
            clearHistory: true,
          });
        }
      }
    }, 200);
  },
  computed: {
    ...mapState(["user", "text", "badges", "main_screen"]),
  },
};
</script>

<style lang="scss">
@import "../app";

.main-screen {
  background: #ffffff;
  &-container {
    background: #ffffff;
    padding: 24 11 22 11;
    width: 100%;
  }
}

.grid-item {
  background-color: #f5f5f5;
  border-radius: 10;
  border-width: 0;
  margin: 0 12 24 12;
  padding: 26 6 5 6;
  height: 155;
  text-align: center;
  color: #4d4d4d;
}

.icon-label {
  font-size: 60;
  color: #4d4d4d;
  font-weight: 200;
}

.title {
  font-weight: 500;
  font-size: 15;
  margin-top: 12;
  padding: 0 5;
  color: #4d4d4d;
  text-transform: uppercase;
}

.info .title {
  margin-top: 21;
}

.description {
  font-size: 13;
  margin-top: 4;
  color: #888;
  font-weight: 400;
}

.main-screen-container Image {
  opacity: 0.8;
}
</style>
