<template>
  <Page actionBarHidden="true" class="page">
    <StackLayout class="news-container">
      <GridLayout
        rows="auto"
        columns="53,*,40"
        class="header-news"
        orientation="horizontal"
      >
        <Label verticalAlignment="center" col="0" row="0">
          <FormattedString>
            <Span class="icon bell-icon" text.decode="&#xe917;"></Span>
          </FormattedString>
        </Label>
        <StackLayout verticalAlignment="center" col="1" row="0">
          <Label class="header-title" :text="text.message.posts" />
          <Label class="header-subtitle" :text="getSubtitleText" />
        </StackLayout>
        <Label
          verticalAlignment="center"
          col="2"
          row="0"
          class="close"
          @tap="closeModal"
          text="╳"
        >
        </Label>
      </GridLayout>
      <StackLayout height="100%">
        <LoaderView v-if="loading" :isLoading="loading" />
        <ListView
          v-for="(item, index) in news"
          height="100%"
          separatorColor="#fff"
          @itemTap="onItemTap"
          backgroundColor="#ffffff"
          :key="index"
        >
          <v-template if="item.type !== 'button'">
            <StackLayout :class="`list-item ${badgeCount > index && 'active'}`">
              <Label
                :text="item.title"
                class="list-item-title"
                textWrap="true"
              />
              <Label
                :text="item.annotation"
                class="list-item-subtitle"
                textWrap="true"
              />
            </StackLayout>
          </v-template>
          <v-template if="item.type === 'button'">
            <StackLayout
              horizontalAlignment="center"
              verticalAlignment="center"
            >
              <Label
                v-if="text"
                :text="text.message.show_more"
                class="load-more-button"
              />
            </StackLayout>
          </v-template>
        </ListView>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
import LoaderView from "./helpers/LoaderView";
import { mapMutations, mapState } from "vuex";

export default {
  name: "News",
  components: { LoaderView },
  data: function () {
    return {
      loading: true,
      badgeCount: 0,
      page: 1,
      pageAvailable: true,
      news: [],
    };
  },
  computed: {
    ...mapState(["badges", "text"]),
    getSubtitleText() {
      if (this.badgeCount > 0) {
        return this.text.message.count_post + " " + this.badgeCount;
      }
      return this.text.message.no_posts;
    },
  },

  methods: {
    ...mapMutations(["CHANGE_USER", "CHANGE_MAIN_SCREEN", "CHANGE_BADGES"]),
    preloadData() {
      //console.log('sending req');
      this.$axios
        .get(`/posts/list?page=${this.page}`)
        .then((response) => {
          this.loading = false;
          if (response.data) {
            let current = this.news.slice();
            current = current.filter((item) => item.type !== "button");
            current.push(...response.data.data.slice());
            if (response.data.data.length < response.data.per_page) {
              this.pageAvailable = false;
            } else {
              current.push({ type: "button" });
              this.pageAvailable = true;
            }
            this.news = current;
          }
        })
        .catch((response) => {
          // console.log(response);
          // this.setErrors(response.data);
        });
    },
    onItemTap(e) {
      let index = e.index;
      //console.log(index);
      if (index === this.news.length - 1 && this.pageAvailable) {
        // console.log('load more');
        this.loadMoreData();
      }
    },
    loadMoreData() {
      this.page++;
      this.preloadData();
    },
    closeModal() {
      this.$modal.close("Foo");
    },
  },
  mounted: function () {
    this.badgeCount = this.badges.badge_posts;
    setTimeout(() => {
      this.preloadData();
    }, 750);
  },
};
</script>

<style scoped>
.news-container {
  background: #ffffff;
  padding: 20 20 0 20;
}

.header-news {

  color: #444;
  padding-bottom: 20;
  border-bottom-width: 1;
  border-bottom-color: #ccc;
}

.bell-icon {
  font-size: 42;
}

.header-title {
  font-size: 22;
  margin-bottom: 0;
  font-weight: 500;
}

.header-subtitle {
  background: transparent;
  font-weight: 200;
  font-size: 13;
  margin-top: 0;
}

.list-item {
  padding: 20 0;
  border-bottom-width: 1;
  border-bottom-color: #ccc;
  opacity: 0.6;
}

.active {
  opacity: 1;
}

.close {
  font-size: 34;
  font-weight: 100;
  text-align: right;
}

.list-item-title {
  color: #000;
  font-size: 24;
  font-weight: 600;
  margin-bottom: 10;
}

.list-item-subtitle {
  color: #696969;
  font-size: 14;
  margin-bottom: 10;
}

.load-more-button {
  background-color: #002a9f;
  color: #ffffff;
  padding: 10;
  text-align: center;
  width: 90%;
  height: 45;
  margin: 30 10;
  border-radius: 10;
  font-size: 16;
}

.modal-dialog-box {
  width: 90%;

  background-color: gray;
}
</style>
