<template>
  <Page class="page" actionBarHidden="true">
    <ScrollView orientation="vertical">
      <StackLayout
        v-if="text"
        width="90%"
        class="activate"
        verticalAlignment="top"
        horizontalAlignment="center"
      >
        <StackLayout
          marginBottom="40"
          class="img-field"
          verticalAlignment="center"
        >
          <Image height="70" opacity="1" src="~/assets/img/logo.png"></Image>
        </StackLayout>

        <Label class="user-id" :text="'USER ID: ' + user.id" />

        <StackLayout v-if="is_text === false">
          <BarcodeView width="100%" height="250" @scanResult="onScanResult" />
        </StackLayout>

        <StackLayout v-else-if="is_text === true">
          <Label
            class="activate-header"
            textWrap="true"
            :text="text.no_activate_display.activate_now"
          />
          <Field
            marginBottom="20"
            marginTop="10"
            class="fill"
            :field.sync="activation_code"
            keyboardType="text"
            :hint="text.no_activate_display.activate_hint"
          />
          <Button
            @tap="activateAccount"
            class="btn btn-activate"
            :text="text.no_activate_display.activate"
          />
        </StackLayout>

        <GridLayout marginTop="50" columns="*,90,30,90,*" rows="*">
          <StackLayout
            @tap="openChat"
            row="0"
            col="1"
            class="support-online-chat"
            verticalAlignment="center"
            horizontalAlignment="center"
          >
            <Image
              class="support-online-chat-icon"
              height="38"
              :src="'~/assets/icons/temp/chat.png'"
            ></Image>
            <Label
              class="support-online-chat-title"
              :text="text.tabs.online_chat"
            />
          </StackLayout>

          <StackLayout
            @tap="is_text = !is_text"
            row="0"
            col="3"
            class="support-online-chat"
            verticalAlignment="center"
            horizontalAlignment="center"
          >
            <Image
              class="support-online-chat-icon"
              height="38"
              :src="
                is_text === true
                  ? '~/assets/icons/temp/scanner.png'
                  : '~/assets/icons/temp/input.png'
              "
            ></Image>
            <Label
              class="support-online-chat-title"
              :text="is_text === true ? text.tabs.scanner : text.tabs.text"
            />
          </StackLayout>
        </GridLayout>

        <StackLayout class="support" marginTop="30">
          <Label :text="text.menu_display.label.support" />
          <Label class="support-phone" :text="text.menu_display.phone" />
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import Field from "./form/Field";
import { presentLoader, hideLoader } from "../plugins/activityIndicator";

import { userInfo, errorMessage } from "~/utils/functions";

export default {
  name: "NoActivatedPage",
  components: { Field },
  data: function () {
    return {
      loading: false,
      activation_code: "",
      is_text: true,
    };
  },
  mounted: function () {},
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    activateQR() {},
    openChat() {
      presentLoader();

      setTimeout(() => {
        this.$navigator.navigate("/feedback-modal", {
          animated: true,
        });
      }, 600);
    },
    onScanResult(result) {
      if (result && result.text) {
        this.activation_code = result.text;
        this.activateAccount();
      }
    },
    activateAccount() {
      presentLoader();

      setTimeout(() => {
        this.$axios
          .post("dealers/activate", {
            
            activation_code: this.activation_code,
          })
          .then((response) => {
            if (response.data.success === true) {
              userInfo(true);
            } else {
              alert(this.text.message.error_code);
            }
          })
          .catch((error) => {
            alert(this.text.message.error_code);
          })
          .finally(() => {
            setTimeout(() => {
              hideLoader();
            }, 400);
          });
      }, 300);
    },
  },
  computed: {
    ...mapState(["text", "user"]),
  },
  watch: {
    user(val) {
      if (val) {
        if (val.is_active === true) {
          setTimeout(() => {
            this.$navigator.navigate("/main-screen", {
              animated: true,
              clearHistory: true,
            });
          }, 1000);
        }
      }
    },
  },
};
</script>

<style scoped lang="scss">
.user-id {
  font-weight: 500;
  font-size: 22;
  margin-bottom: 15;
}

.activate {
  text-align: center;
  padding-top: 90;
  padding-bottom: 50;

  &-header {
    width: 90%;
    font-size: 18;
    margin-bottom: 20;
  }

  .btn-activate {
    margin-top: 15;
  }

  &-or {
    margin-top: 30;
    font-weight: 700;
    margin-bottom: 30;
  }
}

.support {
  margin-bottom: 20;
  &-online-chat {
    margin-bottom: 20;
    background: #fafafa;
    border-radius: 7;
    padding: 4 5 0 5;
    height: 90;
    width: 90;
    &-title {
      font-size: 10;
      color: #444;
    }

    &-icon {
      opacity: 0.8;
      margin-bottom: 5;
    }
  }

  width: 100%;
  border-top-width: 0.1;
  border-color: #ebebeb;
  padding-top: 30;

  &-phone {
    font-size: 22;
    font-weight: 500;
    margin-top: 6;
  }
}
</style>
