<template>
  <Page class="page" actionBarHidden="true">
    <LoaderView noInternet="true" title="NO INTERNET" isLoading="true" />
  </Page>
</template>

<script>
import LoaderView from "./helpers/LoaderView";

export default {
  name: "NoInternetPage",
  components: {
    LoaderView,
  },
  data: function () {
    return {};
  },
  mounted: function () {},
};
</script>

<style scoped lang="scss">
</style>
