<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar
        :setBack="true"
        title=""
        :onOpenDrawerTap="onOpenDrawerTap"
      />
      <TabBarController current="">
        <Tabs v-model="currentState">
          <TabStrip>
            <TabStripItem>
              <Label class="tab-title" :text="'О заказе'"></Label>
            </TabStripItem>
            <TabStripItem>
              <Label class="tab-title" :text="'Товары'"></Label>
            </TabStripItem>
          </TabStrip>
          <TabContentItem width="100%">
            <StackLayout>
              <order-card
                v-if="currentState === 0"
                :order="orderData"
                :owner="owner"
                :preloadData="preloadData"
              />
            </StackLayout>
          </TabContentItem>
          <TabContentItem width="100%">
            <StackLayout>
              <order-purchases
                v-if="currentState === 1"
                :order="orderData"
                :owner="owner"
              />
            </StackLayout>
          </TabContentItem>
        </Tabs>
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import HeaderActionBar from "./helpers/HeaderActionBar";
import OrderCard from "./orders/OrderCard";
import OrderPurchases from "./orders/OrderPurchases";

import { mapState, mapMutations } from "vuex";

export default {
  name: "orders",
  components: {
    HeaderActionBar,
    TabBarController,
    OrderCard,
    OrderPurchases,
  },
  data: function () {
    return { orderData: null, currentState: 0 };
  },
  props: {
    order: {
      default: null,
    },
    refresh: {
      default: function () {},
    },
    owner: {
      default: false,
    },
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    async preloadData() {
      await this.$axios
        .get(`/v2/dealer/orders/card${this.owner ? "/my" : ""}`, {
          params: {
            id: this.order.id,
          },
        })
        .then((response) => {
          this.orderData = response.data;
        })
        .catch((response) => {})
        .finally(() => {
          this.refresh();
          this.CHANGE_LOADING(false);
        });
    },
  },
  created() {
    this.orderData = this.order;
  },

  computed: {
    ...mapState(["text"]),
  },
};
</script>
<style scoped lang="scss">
.order {
  background: #fff;
}

.tab-title {
  background-color: #fff;
}
</style>
