<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" title="" />
      <TabBarController current="history-page">
        <orders-list :owner="false" />
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import HeaderActionBar from "./helpers/HeaderActionBar";
import OrdersList from "./orders/OrdersList";

export default {
  name: "orders",
  components: {
    HeaderActionBar,
    TabBarController,
    OrdersList,
  },
};
</script>

