<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar
        :setBack="true"
        title=""
        :onOpenDrawerTap="onOpenDrawerTap"
      />
      <TabBarController current="partners">
        <LoaderView v-if="loading" :isLoading="loading" />
        <StackLayout v-else>
          <GridLayout height="100%" rows="60,*" columns="*">
            <StackLayout row="0">
              <Search :searchLoading="searchLoading" v-model="search" />
            </StackLayout>
            <PullToRefresh
              v-if="partners && partners.length"
              row="1"
              @refresh="refreshList"
            >
              <ListView
                v-for="(item, index) in partners"
                ref="listView"
                class="partners"
                :key="index"
                separatorColor="white"
                @loadMoreItems="loadMore"
              >
                <v-template :scope="item">
                  <GridLayout
                    class="partners-list"
                    columns="15,65,15, *,15"
                    rows="*"
                  >
                    <Label
                      class="partners-list-index"
                      :text="'ID: ' + item.id"
                      row="0"
                      col="1"
                    />
                    <Label
                      class="partners-list-title"
                      :text="item.first_name + ' ' + item.last_name"
                      row="0"
                      col="3"
                    />
                  </GridLayout>
                </v-template>
              </ListView>
            </PullToRefresh>
            <Label
              verticalAlignment="top"
              class="no_found"
              row="1"
              v-else
              :text="text.message.no_record"
            />
          </GridLayout>
        </StackLayout>
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import LoaderView from "./helpers/LoaderView";
import HeaderActionBar from "./helpers/HeaderActionBar";
import Search from "./helpers/Search";
import { mapState } from "vuex";

export default {
  name: "Partners",
  components: {
    HeaderActionBar,
    TabBarController,
    LoaderView,
    Search,
  },
  data: function () {
    return {
      partners: [],
      page: 1,
      search: "",
      loading: true,
      searcher: null,
      searchLoading: false,
      last_page: 1,
    };
  },
  methods: {
    loadMore() {
      if (this.page <= this.last_page) {
        this.page++;
        this.preloadData();
      }
    },
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    async preloadData() {
      await this.$axios
        .get(`/dealers/partners`, {
          params: {
            page: this.page,
            search: this.search,
          },
        })
        .then((response) => {
          this.last_page = response.data.last_page;

          if (response.data.current_page > 1) {
            this.partners.push(...response.data.data);
          } else {
            this.partners = response.data.data;
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = this.searchLoading = false;
        });
    },
  },
  watch: {
    search(val) {
      console.log("emit:" + val);
      clearTimeout(this.searcher);
      this.searchLoading = true;
      this.searcher = setTimeout(() => {
        this.page = 1;
        this.preloadData();
      }, 1000);
    },
  },
  created() {
    this.preloadData();
  },

  computed: {
    ...mapState(["text"]),
  },
};
</script>
<style scoped lang="scss">
.partners {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    height: 40;
    display: none;
    &-index {
 
      text-align: left;
      font-size: 15;
      color: #06338d;
      font-weight: bold;
    }
    &-title {
 
      font-size: 15;
      color: #222;
    }
  }
}
</style>
