<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <StackLayout>
        <HeaderActionBar :title="title" :setBack="true" />
        <TabBarController current="products-page">
          <Products
            :pMainCategory="mainCategory"
            :categories="categories"
            :pSubCategory="subCategory"
          />
        </TabBarController>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
import HeaderActionBar from "./helpers/HeaderActionBar";
import Products from "./products/Products";

import TabBarController from "./helpers/TabBarController";

export default {
  name: "ProductsPage",
  props: ["mainCategory", "subCategory", "categories"],
  data() {
    return {
      title: "Продукция",
    };
  },
  components: {
    TabBarController,
    Products,
    HeaderActionBar,
  },
};
</script>

<style scoped>
Label {
  height: 60;
  border-radius: 30;
  text-align: center;
  padding: 17 15 15 15;
  font-size: 22px;
}

.pl {
  padding-left: 2;
}

.pr {
  padding-right: 2;
}
</style>
