<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :setBack="true" title="" />
      <TabBarController current="products_all-page">
        <item-list :owner="false" />
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "./helpers/TabBarController";
import HeaderActionBar from "./helpers/HeaderActionBar";
import ItemList from "./products_all/ItemList";

export default {
  name: "LeftoversPage",
  components: {
    HeaderActionBar,
    TabBarController,
    ItemList,
  },
};
</script>

