<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar :title="title" :setBack="true" />
      <TabBarController current="products-page">
        <Product :product_id="product_id" />
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import HeaderActionBar from "./helpers/HeaderActionBar";
import Product from "./products/Product";
import TabBarController from "./helpers/TabBarController";

export default {
  name: "ProductPage",

  props: ["product_id"],
  data() {
    return {
      title: "Товар",
    };
  },
  components: {
    TabBarController,
    Product,
    HeaderActionBar,
  },
  mounted() {},
};
</script>

<style scoped>
</style>
