<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar
        :setBack="true"
        title="Рейтинг"
        :onOpenDrawerTap="onOpenDrawerTap"
      />
      <TabBarController current="ratings-page">
        <LoaderView v-if="loading" :isLoading="loading" />
        <StackLayout>
          <Tabs v-model="currentState" v-show="!loading">
            <TabStrip>
              <TabStripItem>
                <Label class="tab-title" :text="text.rating_all"></Label>
              </TabStripItem>
              <TabStripItem>
                <Label class="tab-title" text="2022"></Label>
              </TabStripItem>
              <TabStripItem>
                <Label class="tab-title" text="2021"></Label>
              </TabStripItem>
              <TabStripItem>
                <Label class="tab-title" text="2020"></Label>
              </TabStripItem>
              <TabStripItem>
                <Label class="tab-title" text="2019"></Label>
              </TabStripItem>
            </TabStrip>
            <TabContentItem width="100%">
              <StackLayout height="100%" width="100%">
                <RatingUserView v-if="user" :rating="rating" :text="text" />
                <DateFilterView
                  v-if="showDate"
                  @onDateUpdate="onDateUpdate"
                  :minDate="min_date"
                  :maxDate="max_date"
                />
                <Button
                  v-show="set_min_date || set_max_date"
                  @tap="clearFilter"
                  class="btn clear"
                  marginBottom="15"
                  :text="text.reset"
                />
                <PullToRefresh
                  v-if="user"
                  @refresh="refreshList"
                  :refreshing="refreshing"
                >
                  <ListView
                    v-for="(item, index) in users"
                    separatorColor="transparent"
                    :key="index"
                    @loadMoreItems="loadMoreDealers"
                    height="100%"
                  >
                    <v-template>
                      <StackLayout
                        backgroundColor="#ffffff"
                        :class="`border-btm ${
                          user && item.id == user.id ? 'is_you' : ''
                        }`"
                      >
                        <RatingCellView
                          :text="text"
                          :data="item"
                          :index="index"
                          :user="user"
                        />
                      </StackLayout>
                    </v-template>
                  </ListView>
                </PullToRefresh>
              </StackLayout>
            </TabContentItem>
            <TabContentItem width="100%">
              <StackLayout height="100%" width="100%">
                <RatingYear
                  v-if="years['2022'] && currentState === 1"
                  :year="years['2022']"
                ></RatingYear>
              </StackLayout>
            </TabContentItem>
            <TabContentItem width="100%">
              <StackLayout height="100%" width="100%">
                <RatingYear
                  v-if="years['2021'] && currentState === 2"
                  :year="years['2021']"
                ></RatingYear>
              </StackLayout>
            </TabContentItem>
            <TabContentItem width="100%">
              <StackLayout height="100%" width="100%">
                <RatingYear
                  v-if="years['2020'] && currentState === 3"
                  :year="years['2020']"
                ></RatingYear>
              </StackLayout>
            </TabContentItem>
            <TabContentItem width="100%">
              <StackLayout height="100%" width="100%">
                <RatingYear
                  v-if="years['2019'] && currentState === 4"
                  :year="years['2019']"
                ></RatingYear>
              </StackLayout>
            </TabContentItem>
          </Tabs>
        </StackLayout>
      </TabBarController>
    </StackLayout>
  </Page>
</template>
<script>
import RatingCellView from "./ratings/RatingCellView";
import RatingUserView from "./ratings/RatingUserView";
import RatingYear from "./ratings/RatingYear";
import TabBarController from "./helpers/TabBarController";
import LoaderView from "./helpers/LoaderView";
import HeaderActionBar from "./helpers/HeaderActionBar";

import { mapState, mapMutations } from "vuex";
import DateFilterView from "./detalisation/DateFilterView";
const platform = require("tns-core-modules/platform");

export default {
  name: "RatingsPage",
  components: {
    LoaderView,
    DateFilterView,
    TabBarController,
    RatingUserView,
    RatingCellView,
    HeaderActionBar,
    RatingYear,
  },
  data: function () {
    return {
      currentState: 0,
      years: {},
      users: [],
      page: 1,
      total: 0,
      per_page: 50,
      pageAvailable: false,
      loading: true,
      refreshing: false,
      min_date: "2019-12-05",
      max_date: "2024-01-01",
      set_min_date: null,
      set_max_date: null,
      rating: 0,
    };
  },
  computed: {
    ...mapState(["user", "event_user", "loadingGlobal", "text"]),
    getUserData() {
      return this.user;
    },
    showDate: {
      get() {
        let show = true;
        let minor = 10;

        if (platform.isAndroid) {
          let version = platform.device.osVersion;
          if (version) {
            let arrayVersion = platform.device.osVersion.toString().split(".");
            if (arrayVersion.length) {
              minor = parseInt(arrayVersion[0]);
            }
          }
          if (minor < 9) {
            show = false;
          }
        }
        return show;
      },
    },
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    onOpenDrawerTap() {
      this.$refs.drawer.nativeView.showDrawer();
    },
    onCloseDrawerTap() {
      this.$refs.drawer.nativeView.closeDrawer();
    },
    async preloadData() {
      let params = {
        page: this.page,
        per_page: this.per_page,
        start_at: this.set_min_date,
        end_at: this.set_max_date,
      };
      await this.$axios
        .get(`/dealers/rating/v2`, {
          params: params,
        })
        .then((response) => {
          if (response.data) {
            if (this.page === 1) {
              this.users = response.data.list.data;
            } else if (
              response.data.list.current_page <= response.data.list.last_page
            ) {
              if (response.data.list.data.length) {
                this.users.push(...response.data.list.data);
              }
            }
            if (
              response.data.list.current_page < response.data.list.last_page
            ) {
              this.pageAvailable = true;
            } else {
              this.pageAvailable = false;
            }
            // this.total = response.data.list.total;

            this.rating = response.data.rating;
            this.$forceUpdate();
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = false;
          this.CHANGE_LOADING(false);
        });
    },

    async periodData() {
      await this.$axios
        .get(`/dealers/rating/period`)
        .then((response) => {
          if (response.data) {
            this.years = response.data;
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.preloadData();
        });
    },
    loadMoreDealers() {
      if (this.pageAvailable && this.loading === false) {
        this.CHANGE_LOADING(true);
        this.page++;
        this.preloadData();
      }
    },
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },

    clearFilter() {
      this.set_min_date = null;
      this.set_max_date = null;
      this.page = 1;
      this.loading = true;
      setTimeout(() => {
        this.preloadData();
      }, 400);
    },

    parseTime(date) {
      let parsed = new Date(date);
      let formatted = `${parsed.getFullYear()}-${
        parsed.getMonth() + 1
      }-${parsed.getDate()}`;
      return formatted;
    },
    onDateUpdate(obj) {
      if (obj.from) {
        this.set_min_date = this.parseTime(obj.from);
      }
      if (obj.to) {
        this.set_max_date = this.parseTime(obj.to);
      }
      this.loading = true;
      this.page = 1;
      this.preloadData();
    },
  },
  created: function () {
    let today = new Date();
    let dd = String(today.getDate()).padStart(2, "0");
    let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    let yyyy = today.getFullYear();
    this.max_date = `${yyyy}-${mm}-${dd}`;
    // this.min_date = this.user.first_at;
    this.loading = true;
    setTimeout(() => {
      this.periodData();
    }, 200);
  },
};
</script>

<style scoped>
.border-btm {
  border-bottom-width: 0.4;
  border-color: #ebebeb;
}

#header {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #d6d6d6);
  border-bottom-width: 2px;
  color: #222;
  border-color: #a1a3a5;
  box-shadow: 0 0 15px #a1a3a5;
}

.icon-label {
  height: 60;
  border-radius: 30;
  text-align: center;
  padding: 17 15 15 15;
  font-size: 22px;
}

.pl {
  padding-left: 2;
}

.pr {
  padding-right: 2;
}

.load-more-button {
  text-align: center;
  padding: 7.5 0;
  text-transform: none;
  margin: 30 0;
}

.tab-container {
  height: 100%;
  border-color: #e4e4e4;
  border-width: 1;
  background: #fff;
}

.tab-icon {
  font-size: 24;
}

.navItem {
  text-align: center;
  padding-top: 5;
}

.active {
  color: #2253cf;
}

.tab-title {
  font-size: 12;
}

.is_you {
  background: #fafafa;
}

.clear {
  font-weight: 500;
  height: 32;
  padding: 0;
  font-size: 13;
  background: red;
  color: #fff;
}
</style>
