<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <StackLayout>
        <HeaderActionBar :title="title" :onOpenDrawerTap="onOpenDrawerTap" :setBack="true" />
        <TabBarController current="products-page">
          <LoaderView v-if="loading" :isLoading="loading" />
          <SalesList v-else-if="sales && sales.length" :sales="sales" />
          <Label
              verticalAlignment="top"
              class="no_found"
              row="1"
              v-else
              :text="text.message.no_record"
            />
        </TabBarController>
      </StackLayout>
    </StackLayout>
  </Page>
</template>
<script>
import HeaderActionBar from "./helpers/HeaderActionBar";
import SalesList from "./sales/SalesList";

import TabBarController from "./helpers/TabBarController";
import LoaderView from "./helpers/LoaderView";
import { presentLoader, hideLoader } from "../plugins/activityIndicator";
import { mapState, mapMutations } from "vuex";

export default {
  name: "SalesPage",
  methods: {
    onOpenDrawerTap() {
      this.$refs.drawer.nativeView.showDrawer();
    },
    onCloseDrawerTap() {
      this.$refs.drawer.nativeView.closeDrawer();
    },
    pushScreen(key) {
      presentLoader();
      const CartPage = require("./CartPage").default;
      this.$navigateTo(CartPage, {
        animated: true,
        transition: {
          duration: 20
        }
      });
    },
    getItems() {
      this.$axios
        .get(`/dealers/sales`, {
          params: {
            page: this.page
          }
        })
        .then(response => {
          this.sales = response.data.data;
        })
        .catch(() => {})
        .finally(() => {
          this.$forceUpdate();
          this.loading = false;
          setTimeout(() => {
            hideLoader();
          }, 500);
        });
    }
  },
  data() {
    return {
      title: "Продукция",
      sales: [],
      page: 1,
      loading: true,
      showNext: false
    };
  },
  components: {
    TabBarController,
    SalesList,
    HeaderActionBar,
    LoaderView
  },
  mounted() {
    this.getItems();
  },
  computed: {
    ...mapState(["text"])
  }
};
</script>

<style scoped>
</style>
