<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <StackLayout>
        <HeaderActionBar
          :title="title"
          :onOpenDrawerTap="onOpenDrawerTap"
          :setBack="true"
        />
        <TabBarController>
          <LoaderView v-if="loading" :isLoading="loading" />
          <Tabs v-show="sale && !loading">
            <TabStrip>
              <TabStripItem>
                <Label class="tab-title" :text="text.sale_info"></Label>
              </TabStripItem>
              <TabStripItem>
                <Label class="tab-title" :text="text.sale_rating"></Label>
              </TabStripItem>
              <TabStripItem>
                <Label class="tab-title" :text="text.sale_priducts"></Label>
              </TabStripItem>
            </TabStrip>
            <TabContentItem width="100%">
              <StackLayout paddingTop="20" paddingLeft="15" paddingRight="15">
                <Info
                  v-if="sale && sale.title"
                  :content="sale.content"
                  :title="sale.title"
                />
              </StackLayout>
            </TabContentItem>
            <TabContentItem width="100%">
              <StackLayout width="100%" paddingTop="20" verticalAlignment="top">
                <Ratings
                  verticalAlignment="top"
                  v-if="sale && sale.dealers && sale.dealers.length"
                  :dealers="sale.dealers"
                />
                <Label v-else :text="text.message.no_record" />
              </StackLayout>
            </TabContentItem>

            <TabContentItem width="100%">
              <StackLayout width="100%" paddingTop="20" verticalAlignment="top">
                <Products
                  v-if="sale && sale.products && sale.products.length"
                  :products="sale.products"
                />
                <Label v-else :text="text.message.no_record" />
              </StackLayout>
            </TabContentItem>
          </Tabs>
        </TabBarController>
      </StackLayout>
    </StackLayout>
  </Page>
</template>
<script>
import LoaderView from "./helpers/LoaderView";
import HeaderActionBar from "./helpers/HeaderActionBar";

import Ratings from "./sales/Ratings";
import Products from "./sales/Products";
import Info from "./sales/Info";

import TabBarController from "./helpers/TabBarController";
import { presentLoader, hideLoader } from "../plugins/activityIndicator";
import { mapState, mapMutations } from "vuex";

export default {
  props: ["sale_id"],
  name: "SalePage",
  methods: {
    getItem() {
      this.$axios
        .get(`/dealers/sales/${this.sale_id}`)
        .then((response) => {
          this.sale = response.data;
        })
        .catch(() => {})
        .finally(() => {
          setTimeout(() => {
            this.loading = false;
          }, 300);
        });
    },
    onOpenDrawerTap() {
      this.$refs.drawer.nativeView.showDrawer();
    },
    onCloseDrawerTap() {
      this.$refs.drawer.nativeView.closeDrawer();
    },
    pushScreen(key) {
      const CartPage = require("./CartPage").default;
      this.$navigateTo(CartPage, {
        animated: true,
        transition: {
          duration: 20,
        },
      });
    },
  },
  data() {
    return {
      currentTab: 0,
      title: "Продукция",
      sale: null,
      loading: true,
    };
  },
  components: {
    TabBarController,
    HeaderActionBar,
    Ratings,
    Products,
    Info,
    LoaderView
  },
  mounted() {
    this.getItem();
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>


<style>
</style>