<template>
  <Page
    xmlns:mdc="nativescript-canvas"
    @loaded="loaded"
    @unloaded="unloaded"
    actionBarHidden="true"
  >
    <StackLayout height="100%">
      <HeaderActionBar
        :title="title"
        :onOpenDrawerTap="onOpenDrawerTap"
        :setBack="true"
        :isCart="false"
      />
      <TabBarController current="scanner-page">
        <GridLayout height="100%" rows="250,*" columns="*">
          <StackLayout row="0" col="0">
            <BarcodeView
              v-if="show_scan"
              width="100%"
              height="250"
              @scanResult="onScanResult"
            />
          </StackLayout>

          <PullToRefresh
            v-if="activations.length"
            row="1"
            col="0"
            @refresh="refreshList"
          >
            <ListView
              v-for="(item, index) in activations"
              ref="listView"
              class="activations"
              :key="index"
              separatorColor="white"
              @loadMoreItems="loadMore"
            >
              <v-template :scope="item">
                <GridLayout
                  class="activations-list"
                  columns="15,*,15, 100,15"
                  rows="*"
                >
                  <Label
                    class="activations-list-index"
                    :text="item.code + ' / ' + item.serial_number"
                    row="0"
                    col="1"
                  />
                  <Label
                    class="activations-list-title"
                    :text="
                      (item.pivot.reward + ' ' + text.menu_display.label.bonus)
                        | numberWithSpaces
                    "
                    row="0"
                    col="3"
                  />
                </GridLayout>
              </v-template>
            </ListView>
          </PullToRefresh>
        </GridLayout>
      </TabBarController>
    </StackLayout>
  </Page>
</template>
<script>
import HeaderActionBar from "./helpers/HeaderActionBar";
import TabBarController from "./helpers/TabBarController";
import { userInfo, successMessage, errorMessage } from "../utils/functions";
import { mapState } from "vuex";
export default {
  name: "CartPage",
  methods: {
    onScanResult(result) {
      if (result && result.text) {
        this.$store.commit("CHANGE_LOADING", true);
        this.$axios
          .post("/dealers/activate/set", {
            code: result.text,
          })
          .then((res) => {
            this.activations.unshift(res.data);
            successMessage(this.$store.state.text.alert.product_activated);
            userInfo();
          })
          .catch(({ data }) => {
            if (
              data &&
              data.errors &&
              data.errors.code &&
              data.errors.code[0]
            ) {


              alert(data.errors.code[0]);
     
              this.$axios.post('/dealers/chat/send', {
                value: data.errors.code[0],
                type: 1,
                client_unix_time: Math.floor(Date.now() / 1000),
              });
            }
            this.$store.commit("CHANGE_LOADING", false);
          })
          .finally(() => {});
      }
    },
    loadMore() {
      if (this.page <= this.last_page) {
        this.page++;
        this.list();
      }
    },
    list() {
      this.$axios
        .get(`/dealers/activate/list`, {
          params: {
            page: this.page,
          },
        })
        .then((response) => {
          this.last_page = response.data.last_page;

          if (
            response.data.current_page > 1 &&
            response.data.last_page >= this.page
          ) {
            this.activations.push(...response.data.data);
          } else if (response.data.current_page === 1) {
            this.activations = response.data.data;
          }

          this.loading = false;
        })
        .catch((response) => {});
    },
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.list();
        pullRefresh.refreshing = false;
      }, 1000);
    },

    loaded() {
      this.show_scan = true;
    },
    unloaded() {
      this.show_scan = false;
    },
  },
  data() {
    return {
      title: "Корзина",
      activations: [],
      loading: true,
      page: 1,
      last_page: 1,
      show_scan: false,
    };
  },
  components: {
    TabBarController,
    HeaderActionBar,
  },
  computed: {
    ...mapState(["text"]),
  },
  created() {
    this.list();
  },
};
</script>

<style lang="scss">
BarcodeView {
  background: #444;
  /* border-radius: 10; */
}
.activations {
  height: 100%;
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    height: 40;
    display: none;
    &-index {
      text-align: left;
      font-size: 11;
      color: #06338d;
    }
    &-title {
      font-size: 12;
      color: #222;
      text-align: right;
    }
  }
}
</style>

