<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <StackLayout>
        <HeaderActionBar
          :title="title"
          :onOpenDrawerTap="onOpenDrawerTap"
          :setBack="true"
        />
        <TabBarController current="stock">
          <LoaderView v-if="loading" :isLoading="loading" />
          <Products
            v-else
            :myStock="1"
            :pMainCategory="null"
            :categories="categories"
            :pSubCategory="null"
          />
        </TabBarController>
      </StackLayout>
    </StackLayout>
  </Page>
</template>
<script>
import HeaderActionBar from "~/components/helpers/HeaderActionBar";
import Products from "~/components/products/Products";
import TabBarController from "~/components/helpers/TabBarController";
import LoaderView from "~/components/helpers/LoaderView";

export default {
  name: "ProductsPage",

  methods: {
    preloadData() {
      this.loading = true;
      this.$axios
        .get(`/v2/categories`, {
          params: {
            resource_id: 1,
            stock: 1,
          },
        })
        .then((response) => {
          this.loading = false;
          this.categories = response.data;
        })
        .catch((response) => {});
    },
  },
  data() {
    return {
      title: "Продукция",
      categories: [],
      loading: true,
    };
  },
  components: {
    TabBarController,
    Products,
    HeaderActionBar,
    LoaderView,
  },
  created: function () {
    setTimeout(() => {
      this.preloadData();
    }, 200);
  },
};
</script>

<style scoped>
Label {
  height: 60;
  border-radius: 30;
  text-align: center;
  padding: 17 15 15 15;
  font-size: 22px;
}
.pl {
  padding-left: 2;
}
.pr {
  padding-right: 2;
}
</style>
