<template>
  <ScrollView>
      <WebView :src="body"
                verticalAlignment="top"
                ios:isUserInteractionEnabled="false"
                @loadFinished="webViewLoaded"
                width="100%"
                @touch="webViewTouch"
                @pan="webViewPan"
                :javaScriptEnabled="true"
      
      ></WebView>
  </ScrollView>
</template>

<script>

import { mapState, mapMutations } from "vuex";
import {isIOS, isAndroid} from "platform";
    
export default {
  name: "Info",
  props: ['content','title'],
  data: function() {
    return {
    
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    webViewTouch() {
        return false;
    },
    webViewPan() {
        return false;
    },
    webViewLoaded(webargs) {
            if (isIOS) {
                let webview = webargs.object;
                let height = webargs.url.split("#")[1];
                if (height) {
                    webview.height = Number(height);
                }
            }
            this.htmlLoading = false;
    }
  },
  computed: {
    ...mapState(["text"])
  },

  mounted: function() {
    this.loading = true;
  },
  computed:{
      body: {
      get() {

        let body = '';
        
        if (this.content){
          body = 
          '<html style="pointer-events: none; touch-action: none;"> ' +
                  '<head>' +
                  '<style> ' +
                  'img {' +
                  'max-width: 100%!important; height: auto!important;' +
                  '} ' +
                  '.ql-align-center {' +
                  'text-align: center!important;' +
                  '} ' +
                  'br {' +
                  'line-height: 5px' +
                  '} ' +
                  '.ql-align-right {' +
                  'text-align: right!important;' +
                  '} ' +
                  'body::-webkit-scrollbar {' +
                  'width: 1px; background: #ffffff' +
                  '} ' +
                  'iframe {' +
                  'width: 100%!important; max-width: 100%; margin-left: auto!important;  text-align:center; margin-right: auto!important; height: 200px!important;' +
                  '}' +
                  'body {' +
                  '-webkit-touch-callout: none;' +
                  '-webkit-user-select: none;' +
                  '-khtml-user-select: none;' +
                  '-moz-user-select: none;' +
                  'user-select: none;' +
                  'width: 100%; ' +
                  'padding: 0; ' +
                  'margin: 0;  ' +
                  'overflow-x: hidden; ' +
                  'overflow-y: visible; ' +
                  'height: 100%; ' +
                  'pointer-events: none; ' +
                  'cursor: default; ' +
                  'touch-action: none; ' +
                  'font-family: Arial, Helvetica, sans-serif!important; ' +
                  '}' +
                  '</style>' +
                  '<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">' +
                  '</head>' +
                  '<body onload="loader();">' +

                  this.content + '' +
                  '<script>' +
                  'function loader(){' +
                  '    var body = document.body,' +
                  '        html = document.documentElement;' +
                  '    var height = Math.max(body.scrollHeight, body.offsetHeight,' +
                  '        html.clientHeight, html.scrollHeight, html.offsetHeight);' +
                  '    document.location.href += "#" + height;' +
                  '}<\/script>' +
                  '</body>' +
                  '</html>';
        } 

        return body;
      }
    }
  }
};
</script>


