<template>
  <ScrollView>
    <StackLayout class="products" v-if="products && products.length" width="100%" >
      <StackLayout
        :class="`product-list ${(index==0) ? ' no-border' : ''}`"
        v-for="(product, index) in products"
        :row="product.product_id"
        :key="index"
      >
        <GridLayout columns="15,90,*,15" rows="*" width="100%">
          <StackLayout
            class="product-list-image-mask"
            orientation="vertical"
            verticalAlignment="center"
            horizontalAlignment="center"
            row="0"
            col="1"
          >
            <Image
              v-if="product.images.length"
              opacity="1"
              verticalAlignment="top"
              horizontalAlignment="center"
              class="product-list-image"
              width="88%"
              stretch="aspectFit"
              loadMode="async"
              :src="product.images[0].image_medium"
            />
          </StackLayout>
          <StackLayout class="product-list-description" orientation="vertical" row="0" col="2">
            <Label
              class="product-list-title-brand"
              :text="product.brand.title"
              width="100%"
              textWrap="true"
            />
            <Label class="product-list-title" :text="product.title" width="100%" textWrap="true" />

            <Label
              class="product-list-conditional_price"
              :text="text.sale_activated + ' ' + product.options_count"
              width="100%"
            />
          </StackLayout>
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</template>

<script>

import { mapState, mapMutations } from "vuex";


export default {
  name: "Products",
  props: ['products'],
  data: function() {
    return {
    
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"])
  },
  computed: {
    ...mapState(["text"])
  },

  mounted: function() {
    this.loading = true;
  }
};
</script>




