<template>
  <ScrollView width="100%">
    <StackLayout width="100%" v-if="dealers && dealers.length">
      <StackLayout width="100%" v-for="(data, index) in dealers" :key="index">
        <StackLayout width="100%" class="dealers" rows="*">
          <StackLayout orientation="vertical" verticalAlignment="center" horizontalAlignment="left">
          <Label v-if="user.id!==data.id" :text="(index+1) + '. ' + data.title.charAt(0) +'***** *********'" class="name" verticalAlignment="center" />
          <Label v-else :text="(index+1) + '. ' +data.title" class="name" verticalAlignment="center" />
          <Label
              v-if="text"
              :text="data.activations_sale_count+ ' '+ text.message.count "
              class="products"
              verticalAlignment="center"
            />
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "Ratings",
  props: ["dealers"],
  data: function() {
    return {};
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"])
  },
  computed: {
    ...mapState(["text","user"])
  },

  mounted: function() {}
};
</script>

<style scoped lang="scss">
.dealers {
  border-bottom-width: 1px;
  border-bottom-color: #ebebeb;
  padding: 10 0;
  width: 100%;
  

  & .name {
    padding: 0 15;
    font-size: 15;
    font-weight: bold;
    margin-bottom: 3;
  }

  & .products {
    padding: 0 15;
    font-size: 12;
    color: #002A9F;
  }
}
</style>
