<template>
  <ScrollView>
    <StackLayout class="sales">
      <!-- Один блок -->
      <StackLayout v-for="(sale,key) in sales" :key="key" @tap="pushScreen(sale.id)" class="sales-item">
       
        <AbsoluteLayout>
          <Image
            left="0"
            stretch="aspectFill"
            top="0"
            :src="sale.image"
          />
          
        </AbsoluteLayout>
        <StackLayout>
          <Label :text="sale.title" />
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</template>

<script>
import LoaderView from "../helpers/LoaderView";
import { hideLoader, presentLoader } from "../../plugins/activityIndicator";
import { mapState, mapMutations } from "vuex";
import SalePage from "../SalePage";

export default {
  name: "Sales",
  components: { LoaderView },
  props: ['sales'],
  data: function() {
    return {};
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    pushScreen(sale_id) {
      this.CHANGE_LOADING(true);
      setTimeout(() => {
        this.$navigateTo(SalePage, {
          animated: true,
          props: {
            sale_id
          }
        });
      }, 100);
    }
  },
  computed: {
    ...mapState(["text"])
  },

  mounted: function() {
    this.loading = true;
  }
};
</script>


<style scoped lang="scss">
.sales {
  background: #fff;
  padding: 25 15;
  & > .sales-item {
    border-radius: 10;
    background: #f5f5f5;
    padding: 18 18 20 18;
    margin-bottom: 18;
    & label {
      margin-top: 20;
      font-size: 16;
      font-weight: 500;
      padding-left: 5;
      color: #111;
    }
    & > AbsoluteLayout {
      border-radius: 4;
      background-color: #888;
      width: 100%;
      height: 177;
      & > image {
        border-radius: 4;
        width: 100%;
        height: 100%;
      }
    }
  }
}
</style>
