<template>
  <StackLayout color="#fff">
    <StackLayout
      v-if="user"
      id="focusTextField"
      class="header__bar"
      orientation="vertical"
      width="100%"
      height="67"
    >
      <GridLayout
        width="100%"
        class="header__bar-inner"
        rows="67"
        columns="94, *, 30, 16, 48"
        height="67"
      >
        <StackLayout
          v-if="iosBack"
          @tap="back"
          height="53"
          verticalAlignment="center"
          horizontalAlignment="left"
          orientation="vertical"
          col="0"
          paddingLeft="15"
          row="0"
          width="80"
        >
          <Image
            horizontalAlignment="left"
            verticalAlignment="center"
            textAlign="left"
            src="~/assets/icons/back.png"
            width="9"
          >
          </Image>
        </StackLayout>

        <StackLayout
          v-else
          @tap="onOpenDrawerTapThis"
          height="53"
          paddingLeft="15"
          verticalAlignment="center"
          horizontalAlignment="left"
          orientation="vertical"
          col="0"
          row="0"
          width="80"
        >
          <Label class="custom-action-bar-menu">
            <FormattedString>
              <Span
                color="#ffffff"
                class="icon icon-bar custom-action-bar-menu-icon"
                text.decode="&#xe918;"
              ></Span>
            </FormattedString>
          </Label>
        </StackLayout>

        <StackLayout
          col="1"
          row="0"
          verticalAlignment="center"
          horizontalAlignment="center"
        >
          <Label
            class="header__bar-title"
            verticalAlignment="center"
            horizontalAlignment="center"
            :text="centerTitle | numberWithSpaces"
            textAlignment="center"
          />
        </StackLayout>

        <StackLayout
          @tap="pushNewsPage"
          class="header__bar-right-first"
          orientation="vertical"
          col="2"
          row="0"
          height="53"
          verticalAlignment="center"
        >
          <AbsoluteLayout>
            <Label left="0" top="0" class="custom-action-bar-notif">
              <FormattedString>
                <Span
                  color="#ffffff"
                  class="icon icon-bar custom-action-bar-notif-icon"
                  text.decode="&#xe917;"
                ></Span>
              </FormattedString>
            </Label>
            <Label
              v-if="badges && badges.badge_posts"
              class="badge"
              left="12"
              top="1"
              :text="badges.badge_posts"
            ></Label>
          </AbsoluteLayout>
        </StackLayout>

        <StackLayout
          @tap="pushToCartPage"
          verticalAlignment="center"
          horizontalAlignment="right"
          class="header__bar-right-second text-right"
          orientation="vertical"
          height="53"
          col="4"
          row="0"
        >
          <AbsoluteLayout
            class="text-right"
            width="100%"
            horizontalAlignment="right"
          >
            <Label
              horizontalAlignment="right"
              left="0"
              top="0"
              class="text-right"
            >
              <FormattedString>
                <Span
                  horizontalAlignment="right"
                  color="#ffffff"
                  class="icon icon-bar custom-action-bar-cart-icon text-right"
                  text.decode="&#xe935;"
                ></Span>
              </FormattedString>
            </Label>

            <Label
              v-if="cart_count"
              class="badge"
              left="18"
              top="1"
              :text="cart_count"
            >
            </Label>
          </AbsoluteLayout>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</template>


<script>
import { mapMutations, mapState } from "vuex";
import { presentLoader, hideLoader } from "../../plugins/activityIndicator";
import { isIOS, isAndroid } from "platform";
import * as frame from "ui/frame";
import * as utils from "utils/utils";

export default {
  name: "HeaderActionBar",
  props: ["onOpenDrawerTap", "title", "pushScreen", "setBack", "isCart"],
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    pushToCartPage() {
      if (!this.isCart) {
        this.CHANGE_LOADING(true);
        setTimeout(() => {
          this.$navigator.navigate("/cart", {
            animated: true,
          });
        }, 300);
      }
    },
    onOpenDrawerTapThis() {
      if (isIOS) {
        if (frame && frame.topmost())
          frame.topmost().nativeView.endEditing(true);
      }
      if (isAndroid) {
        utils.ad.dismissSoftInput();
      }
      this.onOpenDrawerTap();
    },
    pushNewsPage() {
      const News = require("../NewsPage").default;
      this.$showModal(News, {
        fullscreen: true,
      });
    },
    back() {
      presentLoader();
      setTimeout(() => {
        this.$navigateBack();
      }, 500);
      setTimeout(() => {
        hideLoader();
      }, 700);
    },
  },
  computed: {
    ...mapState(["badges", "user", "loadingGlobal", "text", "cart_count"]),
    centerTitle: {
      get() {
        return this.user.role_id === 1
          ? `${this.user.bonus_total}  ${this.text.menu_display.label.bonus}`
          : `ID: ${this.user.id}`;
      },
    },
  },
  mounted: function () {
    if (this.setBack) {
      this.iosBack = true;
    }
    setTimeout(() => {
      this.CHANGE_LOADING(false);
    }, 800);
  },
  watch: {
    loadingGlobal(val) {
      if (val === true) {
        presentLoader();
      } else {
            setTimeout(() => {
        hideLoader();
          }, 600);
      }
    },
    user(val) {
      if (val && val.is_active === false) {
        this.$navigator.navigate("/no-activate", {
          animated: false,
          clearHistory: true,
        });
      }
    },
  },
  data: function () {
    return {
      iosBack: false,
    };
  },
  //iosBack
};
</script>

<style lang="scss">
.header__bar {
  margin: 0;
  padding: 0;
  background: #06338d;
  color: #ffffff;

  &-title {
    text-align: center;
    font-size: 16.5;
    letter-spacing: 0.001;
    font-weight: 500;
    color: #ffffff;
  }

  &-right {
    &-second {
      margin-left: 5;
    }
  }

  .badge {
    background: red;
    width: 15;
    color: #ffffff;
    height: 15;
    border-radius: 7.5;
    text-align: center;
    font-size: 9.5;
    border-width: 0.4;
    border-color: #ffffff;
  }

  .text-right {
    text-align: right;
  }
  .custom-action-bar {
    background: #fff;

    &-grid {
      text-align: center;
      padding: 0 20 0 5;
    }

    .icon-bar {
      color: #444;
    }

    &-menu {
      &-icon {
        color: #222;
        font-size: 23;
      }
    }

    &-notif {
      /*margin-right: 15;*/

      &-icon {
        font-size: 23.5;
        color: #222;
      }

      &-counter {
        border-radius: 50%;
        background: red;
        color: #fff;
        font-size: 9;
        font-weight: bold;
        padding: 1 4;
      }
    }

    &-cart {
      &-icon {
        text-align: right;
        font-size: 25;
      }
    }

    &-title {
      font-size: 20;
      color: #000;
      text-align: center;
      margin-left: 40;
    }
  }
}
</style>
