<template>
  <StackLayout
    verticalAlignment="top"
    paddingTop="130"
    height="100%"
    horizontalAlignment="center"
    width="100%"
    backgroundColor="#ffffff"
  >
    <Label
      class="titleLoader"
      color="#666666"
      v-if="title"
      :text="title"
      paddingBottom="30"
      fontSize="14"
      width="100%"
    />
    <Image
      :class="loadingGlobal ? 'opaOne' : 'opaTwo'"
      src="~/assets/img/logo.png"
      width="150"
    >
    </Image>
    <ActivityIndicator marginTop="30" color="#06338D" :busy="!loadingGlobal" />
    <Button
      v-if="noInternet && showInternet"
      marginTop="30"
      @tap="updateInternet"
      class="btn"
      text="Refresh"
    >
    </Button>
  </StackLayout>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "LoaderView",
  props: ["isLoading", "title", "noInternet"],
  computed: {
    ...mapState(["loadingGlobal"]),
  },
  data() {
    return {
      showInternet: true,
    };
  },
  methods: {
    updateInternet() {
      this.showInternet = false;
      this.$axios
        .get(`/test`)
        .then(async (response) => {
          this.showInternet = false;
          const MainScreen = require("../MainScreen").default;
          setTimeout(() => {
            console.log('dsds');
            this.$navigateTo(MainScreen, {
              animated: true,
              clearHistory: true,
            });
          }, 10);
        })
        .catch((response) => {})
        .finally(() => {});
      setTimeout(() => {
        this.showInternet = true;
      }, 3000);
    },
  },
};
</script>
=

<style scoped>
.titleLoader {
  text-align: center;
  width: 100%;
}
</style>
