<template>
  <ScrollView>
    <StackLayout class="menu" width="100%" orientation="vertical">
      <GridLayout columns="*" rows="*,*,*,*,*,*,*,*" width="100%">
        <Label col="0" row="0" @tap="closeMenu" class="menu__icon">
          <FormattedString>
            <Span text.decode="&#xe918;" class="icon"></Span>
          </FormattedString>
        </Label>

        <StackLayout
          col="0"
          row="1"
          class="menu__profile"
          width="100%"

          @tap="pushScreen('cabinet-page')"
        >
          <GridLayout class="menu__profile-list" columns="70, *" rows="auto">
            <Image
              width="50"
              horizontalAlignment="left"
              verticalAlignment="center"
              col="0"
              row="0"
              src="~/assets/icons/temp/cabinet.png"
            >
            </Image>
            <StackLayout
              col="1"
              row="0"
              v-if="user"
              height="100%"
              verticalAlignment="center"
              horizontalAlignment="right"
            >
              <Label
                verticalAlignment="center"
                textWrap="true"
                horizontalAlignment="right"
                class="menu__profile-name"
                :text="user.title"
              />
              <Label
                verticalAlignment="center"
                v-if="user.bonus_total && user.role_id == 1"
                horizontalAlignment="right"
                class="menu__profile-bonus"
                :text="
                  (user.bonus_total + ' ' + text.menu_display.label.bonus)
                    | numberWithSpaces
                "
              />
              <Label
                verticalAlignment="center"
                v-else-if="user.role_id == 1"
                horizontalAlignment="right"
                class="menu__profile-bonus"
                :text="'0 ' + text.menu_display.label.bonus"
              />
            </StackLayout>
          </GridLayout>
        </StackLayout>

        <StackLayout marginTop="20" col="0" row="2">
          <GridLayout
            v-for="(mItem, index) in menu"
            :key="index"
            class="menu-group-single list-menu"
            columns="35, 10, *"
            rows="*"
            @tap="pushScreen(mItem.navigate_to)"
            verticalAlignment="center"
          >
            <Image
              horizontalAlignment="left"
              height="37"
              width="35"
              col="0"
              row="0"
              class="icon"
              :src="'~/assets/icons/temp/' + mItem.icon"
            />

            <StackLayout
              verticalAlignment="center"
              col="2"
              row="0"
              horizontalAlignment="left"
              orientation="vertical"
            >
              <Label
                horizontalAlignment="left"
                class="menu-group-single-name"
                :text="mItem.title ? mItem.title : ''"
              />
            </StackLayout>
          </GridLayout>
        </StackLayout>

        <StackLayout
          col="0"
          row="3"
          class="menu__support"
          orientation="vertical"
          width="100%"
          height="auto"
        >
          <GridLayout
            class="list"
            columns="60,5, *"
            rows="*"
            width="100%"
            height="130"
            verticalAlignment="center"
          >
            <Image
              horizontalAlignment="left"
              height="50"
              width="50"
              col="0"
              row="0"
              class="icon"
              src="~/assets/icons/operator.png"
            />
            <StackLayout
              v-if="text && text.menu_display.phone"
              verticalAlignment="center"
              col="2"
              row="0"
              horizontalAlignment="left"
              orientation="vertical"
              width="100%"
              height="100%"
            >
              <Label
                horizontalAlignment="left"
                class="menu__support-label"
                :text="text.menu_display.label.support"
              />
              <Label
                horizontalAlignment="left"
                class="menu__support-phone"
                :text="text.menu_display.phone"
              />
            </StackLayout>
          </GridLayout>
        </StackLayout>

        <StackLayout
          col="0"
          row="4"
          class="menu-group log-out"
          orientation="vertical"
          height="auto"
          width="100%"
        >
          <GridLayout
            class="menu-group-single"
            columns="35, 10, *"
            rows="*"
            @tap="logout"
            height="40"
            verticalAlignment="center"
          >
            <Image
              horizontalAlignment="left"
              height="37"
              width="35"
              col="0"
              row="0"
              class="icon"
              src="~/assets/icons/temp/logout.png"
            />
            <StackLayout
              verticalAlignment="center"
              col="2"
              row="0"
              horizontalAlignment="left"
              orientation="vertical"
              width="100%"
              height="100%"
            >
              <Label
                horizontalAlignment="left"
                class="menu-group-single-name"
                :text="text.menu_display.button.logout"
              />
            </StackLayout>
          </GridLayout>
        </StackLayout>

        <GridLayout
          col="0"
          row="5"
          class="mt-4"
          horizontalAlignment="center"
          rows="*"
          columns="50,30,50"
        >
          <Image
            @tap="saveLanguage('ru')"
            width="50"
            row="0"
            :class="`${language === 'ru' ? 'active-lang' : ''}`"
            col="0"
            src="~/assets/languages/russia.png"
          ></Image>
          <Image
            @tap="saveLanguage('uz')"
            width="50"
            :class="`${language === 'uz' ? 'active-lang' : ''}`"
            row="0"
            col="2"
            src="~/assets/languages/uzbekistan.png"
          ></Image>
        </GridLayout>
      </GridLayout>
    </StackLayout>
  </ScrollView>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import {
  clearAuthToken,
  clearChannel,
  socketConnect,
  successMessage,
} from "../../utils/functions";

export default {
  methods: {
    ...mapMutations(["CHANGE_USER", "CHANGE_LOADING"]),
    pushScreen(key) {
      this.closeMenu();
      this.CHANGE_LOADING(true);
      setTimeout(() => {
        if (key === "main-screen") {
          return this.closeMenu();
        } else {
          this.$navigator.navigate(`/${key}`, {
            animated: true,
            transition: {
              duration: 30,
            },
          });
        }
      }, 180);
    },
    closeMenu() {
      this.CHANGE_LOADING(false);
      this.onCloseDrawerTap(true);
    },
    logout() {
      this.closeMenu();
      setTimeout(() => {
        const platform = require("tns-core-modules/platform");
        let device_id = platform.device.uuid;
        if (device_id) {
          this.$axios
            .post(`/dealers/auth/logout`, {
              device_id: device_id,
            })
            .then((response) => {});
        }
        socketConnect(true);
        clearAuthToken();
        clearChannel();
        this.CHANGE_USER(null);
        successMessage(this.text.alert.success_leave);
        this.$navigator.navigate("/login", {
          animated: true,
          clearHistory: true,
        });
      }, 450);
    },
    async saveLanguage(lang = "ru") {
      await this.$store.dispatch("languageAction", lang);
    },
  },

  name: "Menu",

  props: ["onCloseDrawerTap", "currentP"],

  computed: {
    ...mapState(["user", "text", "language", "menu"]),
  },
  data: function () {
    return {};
  },
};
</script>

<style lang="scss">
.label-support {
  font-size: 12;
  font-weight: 200;
  margin-bottom: 1;
}

.phone-support {
  font-size: 19;
}

.menu-name {
  font-size: 16;
}

.menu {
  background: #ffffff;
  /*margin-top: 40;*/
  padding-bottom: 31;


  &__profile {
    &-list {
      margin: 0 25;
      padding: 0 20 20 10;
      border-bottom-width: 1;
      border-color: #e6e6e6;
    }

    &-name {
      color: #444;
      font-size: 18;
      font-weight: 500;
      text-align: right;
    }

    &-bonus {
      font-size: 16;
      font-weight: 400;

      color: #06338d;
    }

    &-icon {
      color: #444;
      font-size: 50;
    }
  }

  &-group {
    margin-top: 25;
    width: 100%;
    &-single {
      margin: 0 35;
      &-name {
        font-size: 17;
        color: #222;
        padding-left: 8;
        padding-top: 1;
      }

      & + .menu-group-single {
        margin-top: 15;
      }
    }
  }

  &__icon {
    padding: 22 35 5 20;
    height: 80;
    color: #b3b3b3;
    font-size: 25;
    width: 100%;
  }

  &__support {
    padding: 0 30;

    &-label {
      color: #888;
      font-size: 12;
    }

    &-phone {
      margin-top: 5;
      color: #333;
      font-size: 19;
    }
  }

  &-scanner {
    background: #06338d;
    color: #fff;
    padding: 15 30;

    &-text {
      font-size: 18;
    }
  }

  &-exit {
    padding-left: 30;
    padding-right: 30;
    font-size: 18;
  }
}

.name {
  font-size: 26;
  font-weight: 500;
  margin-bottom: 2;
}

.bonus {
  color: #06338d;
  font-size: 16;
  font-weight: 300;
}

.profile {
  margin-left: 25;
  margin-right: 25;
  padding-right: 25;
  margin-top: 30;
  border-bottom-width: 2;
  border-bottom-color: #ebebeb;
}

.log-out {
  background-color: #f44336;
  padding: 15 0;
}

.log-out .menu-group-single-name {
  color: #ffffff;
}

.list-menu {
  height: 42;
}

.list-menu Image {
  opacity: 0.8;
}
</style>
