<template>
  <GridLayout class="search" columns="*,40" rows="*" width="100%">
    <TextField
      v-if="text"
      :text="value"
      @textChange="
        (text) => {
          $emit('input', text.value);
        }
      "
      height="40"
      verticalAlignment="center"
      row="0"
      col="0"
      :hint="text.message.search_products"
    />
    
    <ActivityIndicator
      v-if="searchLoading"
      color="#06338D"
      width="19"
      height="19"
      col="1"
      row="0"
      :busy="true"
    />
    <Image
      v-else
      horizontalAlignment="center"
      verticalAlignment="center"
      col="1"
      row="0"
      width="19"
      height="19"
      src="~/assets/icons/search.png"
    />
  </GridLayout>
</template>

<script>
import { mapState } from "vuex";
export default {
  data: () => ({
    search: "",
  }),
  props: {
    searchLoading: {
      default: false,
    },
    value: {
      default: "",
    },
  },
  name: "Search",
  computed: {
    ...mapState(["text"]),
  },
};
</script>

<style scoped>
.search {
  height: 50;
  border-width: 1;
  border-bottom-color: #ebebeb;
  background-color: #ffffff;
}

.search TextField {
  border-width: 0;
  border-bottom-color: #ffffff;
  font-size: 14;
  color: #666666;
  background-color: transparent;
  font-weight: 200;
  padding: 5 13 4 15;
}

.search Image {
  background: transparent;
}
</style>
