<template>
  <GridLayout
    row="0"
    @tap="setFilter"
    columns="*,18"
    verticalAlignment="top"
    class="filters"
    orientation="vertical"
    width="100%"
  >
    <StackLayout verticalAlignment="center" row="0" col="0">
      <Label
        verticalAlignment="center"
        class="filters-text"
        :text="current"
      ></Label>
    </StackLayout>
    <StackLayout verticalAlignment="center" row="0" col="1">
      <Label verticalAlignment="center" class="filters-arrow">
        <FormattedString>
          <Span text.decode="&#xe936;" class="icon down-arrow"></Span>
        </FormattedString>
      </Label>
    </StackLayout>
  </GridLayout>
</template>

<script>
import { mapState } from "vuex";
export default {
  data: () => ({
    current: "Выберите",
  }),
  props: {
    id: null,
    options: {
      default: function () {
        return [{ id: 1, title: "Выберите" }];
      },
    },
  },
  created() {
    if (this.id !== null && this.id !== undefined) {
      let index = this.IdStr.indexOf(this.id);
      this.current = this.options[index].title;
    }
  },
  name: "Filter",
  methods: {
    setFilter() {
      let dialogs = require("tns-core-modules/ui/dialogs");
      dialogs
        .action(
          "Выберите статус заказа, чтобы отфильтровать",
          this.text.alert.cancel,
          this.itemStr
        )
        .then((result) => {
          if (this.text.alert.cancel != result) {
            let index = this.itemStr.indexOf(result);
            let id = this.options[index].id;
            this.$emit("result", id);
            this.current = result;
          }
        });
    },
  },
  computed: {
    ...mapState(["text"]),
    itemStr() {
      return this.options.map(function (item) {
        return item["title"];
      });
    },
    IdStr() {
      return this.options.map(function (item) {
        return item["id"];
      });
    },
  },
};
</script>

<style scoped lang="scss">
.filters {
  background: #06338d;
  width: 100%;
  height: 50;
  padding: 0 15;
  & &-text {
    color: #fff;
    font-size: 16;
    font-weight: 500;
  }

  & &-arrow {
    font-size: 7;
    text-align: center;
    padding-right: 8;
    color: #ffffff;
  }
}
</style>
