<template>
    <GridLayout height="100%" width="100%" rows="*, 64" columns="*">
        <StackLayout row="0">
            <slot></slot>
        </StackLayout>
        <StackLayout row="1">
            <TabBar :current="current"/>
        </StackLayout>
    </GridLayout>
</template>

<script>
        import TabBar from './TabBar';

        export default {
                name: 'TabBarController',
                components: {TabBar},
                props: ['current']
        };
</script>

<style scoped>

</style>
