<template>
  <StackLayout veticalAlignment="bottom" heigh="100%" class="container">
    <GridLayout
      v-if="getDridColumns"
      rows="*"
      :columns="getDridColumns"
      orientation="horizontal"
    >
      <AbsoluteLayout
        v-for="(item, index) in tab"
        :col="String(index)"
        row="0"
        :key="index"
        :class="barItemStyle(item)"
        @tap="pushScreen(item.navigate_to)"
      >
       
        <StackLayout width="100%" height="100%" left="0" top="0">
          <Image :src="'~/assets/icons/temp/' + item.icon" width="24"></Image>
          <Label class="tab-title" :text="item.title ? item.title : ''" />
        </StackLayout>

        <StackLayout
          v-if="badge_message && item.navigate_to === 'feedback'"
          width="100%"
          height="100%"
          left="17"
          top="0"
        >
          <Label
            verticalAlignment="right"
            class="badge"
            horizontalAlignment="top"
            :text="badge_message"
          ></Label>
        </StackLayout>
      </AbsoluteLayout>
    </GridLayout>
  </StackLayout>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "TabBar",
  props: ["current"],
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    pushScreen: function (item) {

      if (this.current == item || this.current + "-page" == item) {
        return false;
      } else {
        if (!this.loadingGlobal) {
          this.CHANGE_LOADING(true);
          setTimeout(() => {
            let clearHistory = false;
            if (item === "main-screen") {
              clearHistory = true;
            }
            this.$navigator.navigate(`/${item}`, {
              clearHistory: clearHistory,
              animated: false,
            });
          }, 180);
        }
      }
    },
    barItemStyle: function (item) {

      if (this.current == item.navigate_to) {
        console.log(this.current);
        return "navItem active";
      }
      return "navItem";
    },
  },
  data() {
    return {
      badge_message: 0,
    };
  },
  computed: {
    ...mapState(["loadingGlobal", "badges", "text", "tab"]),

    getClass(item) {
      if (this.current === item) {
        return "navItem active";
      }
      return "navItem";
    },
    getDridColumns() {
      var rowsCount = "*";
      for (let i = 1; i < 6; i++) {
        rowsCount += ",*";
      }
      return rowsCount;
    },
  },
  watch: {
    badges(val) {
      if (
        val &&
        (val.badge_message || val.badge_message === 0) &&
        this.current !== "feedback"
      ) {
        this.badge_message = val.badge_message;
      } else {
        this.badge_message = 0;
      }
    },
  },
  mounted() {
    if (this.current === "feedback") this.badge_message = 0;
    else {
      if (this.badges) this.badge_message = this.badges.badge_message;
    }
  },
};
</script>

<style scoped>
.container {
  height: 100%;
  border-color: #e4e4e4;
  border-width: 0.4;
  background: #fff;
  padding-top: 3;
}

.tab-icon {
  font-size: 24;
}

.navItem {
  text-align: center;
}

.navItem Image {
  margin-top: 7;
  opacity: 0.33;
}

.active Image {
  opacity: 0.8;
}

.tab-title {
  font-size: 12;
  margin-top: 3;
  color: #888888;
}

.active .tab-title {
  color: #2253cf;
}

.badge {
  background: red;
  width: 15;
  color: #ffffff;
  height: 15;
  border-radius: 7.5;
  text-align: center;
  font-size: 9.5;
  border-width: 0.4;
  border-color: #ffffff;
}
</style>
