<template>
    <ActionBar class="custom-action-bar">
        <GridLayout verticalAlignment="middle" ios:padding="0 30 0 15" class="custom-action-bar-grid" width="100%"
                    columns="20, *, 20, 20" rows="*">
            <Label @tap="openMenu" col="0" row="0" class="custom-action-bar-menu">
                <FormattedString>
                    <Span class="icon icon-bar custom-action-bar-menu-icon" text.decode="&#xe918;"></Span>
                </FormattedString>
            </Label>

            <Label col="1" row="0" class="custom-action-bar-title" :text="title"></Label>

            <AbsoluteLayout col="2" row="0">
                <Label class="custom-action-bar-notif">
                    <FormattedString>
                        <Span class="icon icon-bar custom-action-bar-notif-icon" text.decode="&#xe917;"></Span>
                    </FormattedString>
                </Label>

                <Label class="custom-action-bar-notif-counter" left="11" top="4" :text="1"></Label>
            </AbsoluteLayout>

            <Label col="3" row="0" class="custom-action-bar-cart">
                <FormattedString>
                    <Span class="icon icon-bar custom-action-bar-cart-icon" text.decode="&#xe935;"></Span>
                </FormattedString>
            </Label>
        </GridLayout>
        <!--        <FlexboxLayout class="custom-action-bar-flex">-->
        <!--            -->
        <!--        </FlexboxLayout>-->
    </ActionBar>
</template>

<script>
    import {mapMutations} from 'vuex';
    export default {
        name: "CustomActionBar",
        props: {
            title: {
                type: String,
                // required: true,
                default: 'Главная консоль',
            }
        },

        methods: {
            ...mapMutations(['TOGGLE_MENU']),
            openMenu() {

                this.TOGGLE_MENU(true);
            }
        }
    }
</script>

<style lang="scss">
    .custom-action-bar {
        background: #fff;

        &-grid {
            text-align: center;
            padding: 0 20 0 5;
        }

        .icon-bar {
            color: #444;
        }

        &-menu {
            &-icon {

                color: #222;
                font-size: 23;
            }
        }

        &-notif {
            /*margin-right: 15;*/

            &-icon {
                font-size: 23.5;
                color:#222;
            }

            &-counter {
                border-radius: 50%;
                background: red;
                color: #fff;
                font-size: 9;
                font-weight: bold;
                padding: 1 4;
            }
        }

        &-cart {
            &-icon {
                text-align: right;
                font-size: 25;
            }
        }

        &-title {
            font-size: 20;
            color: #000;
            text-align: center;
            margin-left: 40;
        }
    }
</style>
