<template>
    <RadSideDrawer ref="drawer" drawerContentSize="350">
        <StackLayout ~drawerContent backgroundColor="#ffffff">
            <MenuItems :onCloseDrawerTap="closeMenu"/>
        </StackLayout>

        <StackLayout ~mainContent>
            <slot/>
        </StackLayout>
    </RadSideDrawer>
</template>

<script>
    import MenuItems from "./MenuItems";
    import CustomActionBar from "./CustomActionBar";
    import {mapState} from 'vuex';

    export default {
        name: "MainMenu",
        components: {CustomActionBar, MenuItems},
        methods: {
            openMenu() {
                this.$refs.drawer.nativeView.showDrawer();
            },

            closeMenu() {
                this.$refs.drawer.nativeView.closeDrawer();
            }
        },

        computed: {
            ...mapState(['toggleMenu'])
        },

        watch: {
            toggleMenu(val, oldVal) {
                (val) ? this.openMenu() : this.closeMenu();
            }
        }
    }
</script>

<style lang="scss">
    .main-menu-container {
        height: 100%;
    }
</style>
