<template>
    <ScrollView>
        <StackLayout class="menu" orientation="vertical" width="100%" height="100%">

            <StackLayout row="0" orientation="vertical" width="100%" height="auto">
                <GridLayout class="list profile" columns="60,20, *" rows="*"
                            width="86%" height="130" verticalAlignment="center">
                    <Label>
                        <FormattedString>
                            <Span text.decode="&#xe916;" class="icon profile-icon"></Span>
                        </FormattedString>
                    </Label>

                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 v-if="getUserData"
                                 horizontalAlignment="right" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="right" class="name" :text="getUserData.title"/>
                        <Label horizontalAlignment="right" class="bonus"
                               :text="getUserData.bonus_total +' Бонусов'"/>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <StackLayout row="1" class="menu-group" orientation="vertical"
                         width="100%" height="auto">

                <GridLayout class="list" columns="60,5, *" rows="*" width="86%"
                            @tap="pushScreen('main-screen')"
                            height="61" verticalAlignment="center">
                    <Image horizontalAlignment="left" height="35" width="35"
                           col="0" row="0" class="icon" src="~/assets/icons/menu.png"/>
                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 horizontalAlignment="left" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="left" class="menu-name"
                               text="Главная консоль"/>
                    </StackLayout>
                </GridLayout>

                <GridLayout @tap="pushScreen('feedback')" class="list" columns="60,5, *"
                            rows="*" width="86%" height="61" verticalAlignment="center">
                    <Image horizontalAlignment="left" height="35" width="35"
                           col="0" row="0" class="icon" src="~/assets/icons/chat.png"/>
                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 horizontalAlignment="left" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="left" class="menu-name"
                               text="Онлайн-чат"/>
                    </StackLayout>
                </GridLayout>

                <GridLayout class="list" columns="60,5, *" rows="*" width="86%"
                            @tap="pushScreen('categories')"
                            height="61" verticalAlignment="center">
                    <Image horizontalAlignment="left" height="35" width="35"
                           col="0" row="0" class="icon" src="~/assets/icons/list.png"/>
                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 horizontalAlignment="left" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="left" class="menu-name"
                               text="Категории"/>
                    </StackLayout>
                </GridLayout>

                <GridLayout class="list" columns="60,5, *" rows="*" width="86%"
                            @tap="pushScreen('about')"
                            height="61" verticalAlignment="center">
                    <Image horizontalAlignment="left" height="35" width="35"
                           col="0" row="0" class="icon" src="~/assets/icons/information.png"/>
                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 horizontalAlignment="left" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="left" class="menu-name"
                               text="О нас"/>
                    </StackLayout>
                </GridLayout>

            </StackLayout>


            <StackLayout row="2" orientation="vertical" width="100%" height="auto">
                <GridLayout class="list" columns="60,5, *" rows="*" width="86%"
                            height="130" verticalAlignment="center">
                    <Image horizontalAlignment="left" height="55" width="55"
                           col="0" row="0" class="icon" src="~/assets/icons/operator.png"/>
                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 horizontalAlignment="left" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="left" class="label-support"
                               text="телефон службы поддержки"/>
                        <Label horizontalAlignment="left" class="phone-support"
                               text="+99871 200-33-66"/>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <StackLayout row="3" orientation="vertical" width="100%" height="auto"
                         backgroundColor="blue" color="#ffffff">
                <GridLayout class="list" columns="60,5, *" rows="*" width="86%"
                            @tap="pushScreen('scanner')"
                            height="70" verticalAlignment="center">
                    <Image horizontalAlignment="left" height="40" width="40"
                           col="0" row="0" class="icon" src="~/assets/icons/qr-code.png"/>
                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 horizontalAlignment="left" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="left" class="menu-name"
                               text="Сканер"/>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <StackLayout row="4" orientation="vertical" width="100%" height="auto">
                <GridLayout class="list" columns="60,5, *" rows="*" width="86%"
                            @tap="pushScreen('logout')"
                            height="70" verticalAlignment="center">
                    <Image horizontalAlignment="left" height="40" width="40"
                           col="0" row="0" class="icon" src="~/assets/icons/log-out.png"/>
                    <StackLayout verticalAlignment="center" col="2" row="0"
                                 horizontalAlignment="left" orientation="vertical"
                                 width="100%" height="100%">
                        <Label horizontalAlignment="left" class="menu-name"
                               text="Выход"/>
                    </StackLayout>
                </GridLayout>
            </StackLayout>


        </StackLayout>
    </ScrollView>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import MainScreen from '../MainScreen';
    import Categories from '../Categories';
    import FeedbackPage from '../FeedbackPage';
    import Scanner from '../Scanner';

    export default {
        methods: {
            ...mapMutations(['TOGGLE_MENU']),

            pushScreen(key) {

                let component = '';
                if (key === 'main-screen') {
                    component = MainScreen;
                } else if (key === 'categories') {
                    component = Categories;
                } else if (key === 'scanner') {
                    component = Scanner;
                } else if (key === 'feedback') {
                    component = FeedbackPage;
                    // component = Categories;
                } else if (key === 'history') {
                    // component = History;
                }

                this.$navigateTo(component, {
                    animated: true
                });

                this.TOGGLE_MENU(false);
            }
        },
        name: 'MenuItems',
        props: [
            'onCloseDrawerTap',
            {
                type: Boolean,
            }
        ],
        computed: {
            ...mapState(['user']),

            getUserData() {

                return this.user;
            }

        },
    };
</script>

<style scoped>
    .profile-icon {
        font-size: 60;
    }

    .label-support {
        font-size: 12;
        font-weight: 200;
        margin-bottom: 1;

    }

    .phone-support {
        font-size: 19;
    }

    .menu-group {
        margin-top: 23;
    }

    .menu-name {
        font-size: 18;
    }

    .menu {
        margin-top: 40;
    }

    .name {
        font-size: 26;
        font-weight: 500;
        margin-bottom: 2;
    }

    .bonus {
        color: blue;
        font-size: 16;
        font-weight: 300;
    }

    .list {
        padding-left: 7;
    }

    .profile {
        padding-right: 25;
        margin-top: 30;
        border-bottom-width: 1px;
        border-bottom-color: #ebebeb;
    }
</style>
