<template>
    <StackLayout :class="`form-field-container ${label ? 'has__label' : ''}`">
        <Label v-if="label" class="form-field-label" :text="label"></Label>
        <StackLayout class="form-field">
            <GridLayout class="form-field-grid" :rows="rows" :columns="columns">
                <TextField v-model="val" :hint="hint"
                           :keyboardType="keyboardType"
                           :editable="editable"
                
                           :autocorrect="autocorrect" :secure="secure" :maxLength="maxLength"
                           :returnKeyType="returnKeyType" :autocapitalizationType="autocapitalizationType"
                           verticalAlignment="center">

                </TextField>
                <slot/>
            </GridLayout>
        </StackLayout>
        <Label class="form-field-error" v-if="errors[error]" :text="errors[error]"></Label>
    </StackLayout>
</template>

<script>

    import {mapState} from 'vuex';

    export default {
        name: 'Field',
        props: {
            hint: String,
            label: String,
            maxLength: {
                type: Number,
                default: 255
            },
            columns: {
                default: '*',
                type: String
            },
            rows: {
                default: '45',
                type: String
            },
            autocapitalizationType: {
                type: String,
                default: 'none'
            },
            keyboardType: {
                type: String,
                validator: (value) => {
                    return ['datetime', 'phone', 'number', 'url', 'email'].indexOf(value) !== -1;
                }
            },
            returnKeyType: {
                type: String,
                validator: (value) => {
                    return ['done', 'next', 'go', 'search', 'send'].indexOf(value) !== -1;
                }
            },

            error: String,

            editable: {
                default: true,
                type: Boolean
            },

            autocorrect: {
                default: false
                ,
                type: Boolean
            },
            secure: Boolean,
            field: {
                type: String | Number,
                required: true
            }
        },

        methods: {
            send(e) {
                this.$emit('returnPress', e);
            }
        },

        computed: {
            ...mapState(['errors']),
            val: {
                get() {
                    return this.field;
                },

                set(value) {
                    this.$emit('update:field', value);
                }
            },
        }
    };
</script>

<style scoped>

</style>
