<template>
    <StackLayout orientation="vertical" class="header__elem">
        <GridLayout :columns="cols" :rows="rows">
            <Label @tap="moveToback" v-if="back" class="header__elem-back" row="0" col="0">
                <FormattedString>
                    <Span class="icon" text.decode="&#xe92b;"></Span>
                </FormattedString>
            </Label>

            <Image class="header__elem-icon" row="0" :col="(back) ? '1' : '0'" src="~/assets/icons/temp/cabinet.png">
            </Image>

            <StackLayout :col="(back) ? '2' : '1'" row="0" orientation="vertical" class="header__elem-text">
                <Label v-if="!description" class="header__elem-text-title" :text="title"></Label>
                <Label v-else class="header__elem-text-title-description" :text="title"></Label>

                <StackLayout v-if="description" class="header__elem-text-description">
                    <slot name="description"></slot>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</template>

<script>
    export default {
        name: "Header",
        props: {
            back: {
                default: false,
                type: Boolean,
            },

            description: {
                type: Boolean,
            },

            title: {
                type: String,
                required: true,
            },

            icon: {
                type: String,
                required: true,
            },

            rows: {
                type: String,
                default: '70',
            }
        },

        computed: {
            cols() {
                if (this.back) {
                    return '45, 72, *';
                }
                return '65, *';
            },
        },

        methods: {
            moveToback() {
                this.$navigateBack();
            }
        },

        mounted() {

        }
    }
</script>

<style scoped>
    .header__elem-icon {
        width: 60;
    }
</style>
