<template>
    <Field @returnPress="send" :topHintLabel="topHintLabel" :error="error" :secure="secure" class="fill form-field-password" columns="*, 45" :autocorrect="false" :field.sync="val" :hint="hint">
        <Label :class="`hide__icon (secure && 'hide__password')`" @tap="showPasswordField" row="0" col="1">
            <FormattedString>
                <Span class="icon eye-button" text.decode="&#xe91a;"></Span>
            </FormattedString>
        </Label>
    </Field>
</template>

<script>
    import Field from './Field';
    export default {
        name: "Password",
        components: {
            Field
        },

        props: {
                topHintLabel: Boolean,
            hint: {
                type: String,
                default: "Пароль",
            },

                        error: String,

            field: {
                type: String | Number,
                required: true,
            },
        },

        data() {
            return {
                secure: true,
            }
        },

        computed: {
            val: {
                get() {
                    return this.field;
                },

                set(value) {
                    this.$emit('update:field', value);
                }
            }
        },

        methods: {
            showPasswordField() {
                this.secure = !(this.secure);
            },

            send(e) {
                this.$emit('returnPress', e);
            },
        }
    }
</script>

<style lang="scss">
    .hide__icon {
        /*opacity: 1;*/
        font-size: 16;
        color: #000;
        vertical-align: center;
    }

    /*.hide__password {*/
    /*    .eye-button {*/
    /*        opacity: .5;*/
    /*    }*/
    /*}*/
</style>
