<template>
    <StackLayout class="form-field-container fill">
        <StackLayout verticalAlignment="center" orientation="vertical" class="form-field">
            <DropDown
                    @tap="test"
                    @closed="closed"
                    @opened="open"
                    :selectedIndex="selected"
                    @selectedIndexChange="selectChanged"
                    verticalAlignment="center"
                    :items="items"
                    ref="drop"
                    width="100%"
                    :hint="hint" :accessoryViewVisible="false"/>
        </StackLayout>
    </StackLayout>
</template>

<script>
    import {isAndroid, isIOS} from "tns-core-modules/platform";


    export default {
        name: "SelectForm",
        data: function () {
            return {
                selected: null,
                opened: false,
            }
        },
        props: {
            items: {
                required: true,
                type: Array,
            },

            hint: {
                required: true,
                type: String,
            }
        },

        methods: {
            selectChanged(e) {

                let {value} = e;
                if (this.opened && isIOS || isAndroid) {
                    this.selected = value;
                    this.$emit('change', value);
                }

            },

            closed() {


                this.opened = false;
            },

            open() {
                this.opened = true;
            },
            test() {

            }
        }
    }
</script>

<style scoped>
    DropDown {
        padding: 6 7 6.8 7;
        vertical-align: middle;
        font-size: 16px;
    }
</style>
