<template>
    <StackLayout class="select__field">

    </StackLayout>
</template>

<script>
    import SelectModal from "./SelectModal";
    export default {
        name: "SelectField",
    }
</script>

<style lang="scss">
    .select__field {

    }
</style>
