<template>
    <Page class="select__modal">

    </Page>
</template>

<script>
    export default {
        name: "SelectModal"
    }
</script>

<style lang="scss">
    .select__modal {
        background: #444444;
    }
</style>
