<template>
  <Page
    @navigatingFrom="navigated"
    :actionBarHidden="true"
    :enableSwipeBackNavigation="false"
    class="page auth"
  >
    <StatusBar ios:barStyle="dark" ios:barColor="#06338D"></StatusBar>
    <ScrollView orientation="vertical">
      <FlexboxLayout
        v-if="text"
        class="page__inner"
        flexDirection="column"
        justifyContent="center"
        
      >
        <StackLayout orientation="vertical" class="form">
          <StackLayout class="img-field">
            <Image opacity="1" src="~/assets/img/logo.png"></Image>
          </StackLayout>
          <Field
            class="fill phonePlaceholder"
            :field.sync="phone"
            keyboardType="phone"
          >
            <StackLayout
              paddingLeft="15"
              width="61"
              height="100%"
              verticalAlignment="center"
              horizontalAlignment="left"
            >
              <Label
                color="#222222"
                fontSize="16"
                fontWeight="200"
                verticalAlignment="center"
                text="+ 998"
              >
              </Label>
            </StackLayout>
          </Field>

          <Password
            @returnPress="login"
            :field.sync="password"
            :hint="text.login_display.placeholder.password"
          />

          <StackLayout class="form-field">
            <Button
              @tap="login"
              :class="`btn mt-2 ${!disableButton ? 'checked' : 'disabled'}`"
              :text="text.login_display.button.login"
            ></Button>
          </StackLayout>

          <StackLayout
            @tap="moveToRestoreAccount"
            marginTop="45"
            class="form-field registration"
          >
            <Label
              fontSize="20"
              :text="text.login_display.button.remind_password"
            >
            </Label>
          </StackLayout>

          <StackLayout @tap="moveToRegister" class="form-field registration">
            <Label
              fontSize="20"
              marginTop="20"
              :text="text.login_display.button.register"
            >
            </Label>
          </StackLayout>

          <GridLayout
            class="mt-4"
            horizontalAlignment="center"
            rows="*"
            columns="50,30,50"
          >
            <Image
              @tap="saveLanguage('ru')"
              width="50"
              row="0"
              :class="`${language === 'ru' ? 'active-lang' : ''}`"
              col="0"
              src="~/assets/languages/russia.png"
            ></Image>
            <Image
              @tap="saveLanguage('uz')"
              width="50"
              :class="`${language === 'uz' ? 'active-lang' : ''}`"
              row="0"
              col="2"
              src="~/assets/languages/uzbekistan.png"
            ></Image>
          </GridLayout>
        </StackLayout>
      </FlexboxLayout>
    </ScrollView>
  </Page>
</template>

<script>
import MainScreen from "../MainScreen";
import Register from "./Register";
import { presentLoader, hideLoader } from "../../plugins/activityIndicator";
import Field from "../form/Field";
import Password from "~/components/form/Password";
import RestorePassword from "./RestorePassword";
import { mapState, mapMutations } from "vuex";
import {
  saveAuthToken,
  getAuthToken,
  saveChannel,
  errorMessage,
  successMessage,
  userInfo,
  socketConnect,
} from "~/utils/functions";

export default {
  data() {
    return {
      phone: "",
      password: "",
      disableButton: false,
    };
  },
  computed: {
    ...mapState(["errors", "isLoginPage", "text", "language"]),
  },

  methods: {
    ...mapMutations([
      "IS_LOGIN"
    ]),

    login() {
      if (this.disableButton) {
        return false;
      }
      presentLoader();

      this.disableButton = true;
      const platform = require("tns-core-modules/platform");
      let device_id = platform.device.uuid;

      setTimeout(() => {
        this.$axios
          .post("/dealers/auth/login", {
            phone_number: "+998" + this.phone,
            password: this.password,
            device_id: device_id,
          })
          .then((response) => {
            if (response.data && response.data.token) {
              saveAuthToken(response.data.token);
              saveChannel(response.data.channel);
              this.hasToken();
              setTimeout(() => {
                userInfo(true);
              }, 300);
            }
          })
          .catch(({ data }) => {
            if (data.errors && data.errors.password) {
              alert(data.errors.password[0]);
            }

            if (data.errors && data.errors.phone_number) {
              alert(data.errors.phone_number[0]);
            }

            if (data.errors && data.errors.access) {
              alert(data.errors.access[0]);
            }
          })
          .finally(() => {
            hideLoader();
            this.disableButton = false;
          });
      }, 300);
    },

    async hasToken() {
      if (await getAuthToken()) {
        presentLoader();
        setTimeout(() => {
          this.$navigateTo(MainScreen, {
            animated: true,
            transition: {
              duration: 2,
            },
            clearHistory: true,
          });
        }, 100);
      }
    },
    navigated() {
      this.IS_LOGIN(0);
    },
    move(Component) {
      presentLoader();
      setTimeout(() => {
        this.$navigateTo(Component, {
          animated: true,
          transition: {
            duration: 200,
          },
        });
      }, 300);
    },
    moveToRegister() {
      this.move(Register);
    },
    moveToRestoreAccount() {
      this.move(RestorePassword);
    },
    saveLanguage(lang) {
      this.$store.dispatch("languageAction", lang);
    },
  },

  created() {
    this.clearErrors();
    this.IS_LOGIN(1);
  },

  mounted() {
    this.hasToken();
    socketConnect(true);


  },

  components: {
    Password,

    Field,
  },
};
</script>

<style scoped lang="scss">
@import "../../app";
</style>
