<template>
  <Page
    @navigatingTo="mountComplete"
    :actionBarHidden="true"
    :enableSwipeBackNavigation="true"
    class="page register"
  >
    <ScrollView orientation="vertical">
      <StackLayout class="page__inner">
        <template>
          <Header
            marginTop="30"
            :back="true"
            :icon="`\ue90f`"
            :title="text.registration_display.header"
            :description="true"
          >
            <template slot="description">
              <Label
                marginLeft="10"
                fontSize="12"
                textWrap="true"
                :text="text.registration_display.have_to"
              />
            </template>
          </Header>

          <LoaderView v-if="processing" :isLoading="processing" />

          <StackLayout
            v-if="!processing && done"
            orientation="vertical"
            class="form register__form"
          >
            <StackLayout class="fill-group" paddingLeft="1" paddingRight="1" width="100%">
              <Field
                class="fill phonePlaceholder"
                :field.sync="phone"
                marginBottom="15"
                keyboardType="phone"
              >
                <StackLayout
                  paddingLeft="15"
                  width="61"
                  height="100%"
                  verticalAlignment="center"
                  horizontalAlignment="left"
                >
                  <Label
                    color="#222222"
                    fontSize="16"
                    fontWeight="200"
                    verticalAlignment="center"
                    text="+ 998"
                  ></Label>
                </StackLayout>
              </Field>
              <Button
                marginBottom="15"
                :isEnabled="!disable"
                class="btn send-code mt-2"
                verticalAlignment="center"
                @tap="getCode"
                :text="text.remind_password_display.button.send_sms"
              ></Button>
            </StackLayout>




            <StackLayout v-show="codeRecived">

                  <Label marginTop="15" marginBottom="5" :text="text.registration_display.placeholder.profile"></Label>
              <Field
                class="fill"
                :field.sync="code"
                keyboardType="phone"
                :hint="text.remind_password_display.label.code"
              />
              

              <Field
                class="fill"
                autocapitalizationType="words"
                :field.sync="name"
                :hint="text.registration_display.placeholder.first_name"
              />

              <Field
                class="fill"
                autocapitalizationType="words"
                :field.sync="surname"
                :hint="text.registration_display.placeholder.last_name"
              />

              
          



                  <Field class="fill mt-1" :field.sync="email" keyboardType="email" hint="Еmail" />

              <Password
                :hint="text.registration_display.placeholder.password"
                :field.sync="password"
              />

              <Password
                :hint="text.registration_display.placeholder.password_confirmation"
                :field.sync="password_confirmed"
              />


              <Label marginTop="15" marginBottom="5" :text="text.registration_display.placeholder.outlet_label"></Label>  


                <StackLayout class="form-field-container fill">
                <StackLayout
                  @tap="selectAddress"
                  orientation="vertical"
                  verticalAlignment="center"
                  class="form-field address"
                >
                  <Label class="fill" :text="address" />
                </StackLayout>
              </StackLayout>

              <StackLayout
                :class="`form-field-container fill ${(!location_id) ? ' disabled' : ''}`"
              >
                <StackLayout
                  orientation="vertical"
                  verticalAlignment="center"
                  class="form-field address"
                  @tap="selectOutlet"
                >
                  <Label class="fill" :text="outlet_title" />
                </StackLayout>
              </StackLayout>


             <Field
                class="fill"
                v-show="outlet_title===text.registration_display.placeholder.other"
                autocapitalizationType="words"
                :field.sync="outlet_other"
                :hint="text.registration_display.placeholder.outlet_other_set"
              />

              <Field
                class="fill"
                autocapitalizationType="words"
                :field.sync="outlet"
                :hint="text.registration_display.placeholder.outlet"
              />

            

              <StackLayout class="form-field checkbox-field">
                <GridLayout columns="40, *" rows="50">
                  <Label
                    ios:width="22"
                    ios:height="22"
                    ios:marginTop="0"
                    ios:verticalAlignment="center"
                    col="0"
                    row="0"
                    @tap="toggleCheckbox"
                    :class="`checkbox ${(checked) ? 'checked' : ''}`"
                  >
                    <FormattedString>
                      <Span class="icon" text.decode="&#xe924;"></Span>
                    </FormattedString>
                  </Label>

                  <StackLayout @tap="navigateToTerms" col="1" row="0" class="agree-text">
                    <Label textWrap="true" fontSize="13" @tap="presentTermsOfUse">
                      <FormattedString>
                        <Span :text="text.registration_display.text.confirm+' '" />

                        <Span
                          class="blue"
                          style="font-weight: 700"
                          :text="text.registration_display.button.privacy_policy"
                        />
                      </FormattedString>
                    </Label>
                  </StackLayout>
                </GridLayout>
              </StackLayout>

              <StackLayout class="form-field mt-2 m-b-2">
                <Button
                  :isEnabled="checked"
                  @tap="register"
                  :class="`btn ${checked ? 'checked' : 'disabled'}`"
                  :text="text.registration_display.button.registration"
                ></Button>
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </template>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
import MainScreen from "../MainScreen";
import Field from "../form/Field";
import Password from "../form/Password";
import Header from "../form/Header";

import { mapMutations, mapState } from "vuex";
import {
  errorMessage,
  getAuthToken,
  saveAuthToken,
  successMessage,
  saveChannel,
  userInfo
} from "~/utils/functions";
import SelectForm from "../form/SelectForm";
import { presentLoader, hideLoader } from "../../plugins/activityIndicator";

import LoaderView from "../helpers/LoaderView";

export default {
  data() {
    return {
      name: "",
      outlet: "",
      outlet_title: null,
      outlet_other: '',
      outletList: [],
      surname: "",
      city: null,
      cityList: [],
      citiesString: [],
      region: null,
      regionList: [],
      regionsString: [],
      hasRegion: false,
      phone: "",
      email: "",
      password: "",
      password_confirmed: "",
      checked: false,
      done: false,
      confirming_code: false,
      code: null,
      showField: false,
      processing: true,
      disable: false,
      address: "Адрес*",
      location_id: null,
      codeRecived: false
    };
  },

  computed: {
    ...mapState(["errors", "text"])
  },

  methods: {
    ...mapMutations(["CHANGE_USER"]),
    getCode() {
      presentLoader();
      this.disable = true;
      setTimeout(() => {
        this.$axios
          .post("/dealers/auth/code", {
            phone_number: "+998" + this.phone
          })
          .then(response => {
            this.codeRecived = true;
            successMessage(this.text.alert.code_send);
          })
          .catch(({ data }) => {
            if (data.errors && data.errors.phone_number) {
              alert(data.errors.phone_number[0]);
            }
            if (data.errors && data.errors.expiration_date) {
              alert(data.errors.expiration_date[0]);
            }
          })
          .finally(() => {
            this.disable = false;
            hideLoader();
          });
      }, 300);
    },

    register() {
      this.disable = true;
      presentLoader();
      const platform = require("tns-core-modules/platform");
      let device_id = platform.device.uuid;
      setTimeout(() => {
        this.$axios
          .post("/dealers/auth/register", {
            first_name: this.name,
            last_name: this.surname,
            phone_number: "+998" + this.phone,
            password: this.password,
            mark: this.outlet,
            outlet: (this.text.registration_display.placeholder.other===this.outlet_title) ?  this.outlet_other : this.outlet_title,
            password_confirmation: this.password_confirmed,
            location_id: this.location_id,
            device_id: device_id,
            code: this.code
          })
          .then(response => {
            if (response.data && response.data.token) {
              successMessage(this.text.alert.registered);
              saveAuthToken(response.data.token);
              saveChannel(response.data.channel);
              setTimeout(() => {
                userInfo(true);
              }, 300);
              this.hasToken();
            }
          })
          .catch(({ data }) => {
            if (data.errors && data.errors.code) {
              alert(data.errors.code[0]);
            } else if (data.errors && data.errors.phone_number) {
              alert(data.errors.phone_number[0]);
            } else if (data.errors && data.errors.first_name) {
              alert(data.errors.first_name[0]);
            } else if (data.errors && data.errors.last_name) {
              alert(data.errors.last_name[0]);
            } else if (data.errors && data.errors.location_id) {
              alert(data.errors.location_id[0]);
            } else if (data.errors && data.errors.mark) {
              alert(data.errors.mark[0]);
            } else if (data.errors && data.errors.email) {
              alert(data.errors.email[0]);
            } else if (data.errors && data.errors.password) {
              alert(data.errors.password[0]);
            } else if (data.errors && data.errors.password_confirmation) {
              alert(data.errors.password_confirmation[0]);
            }
          })
          .finally(() => {
            this.disable = false;
            hideLoader();
          });
      }, 300);
    },

    async hasToken() {
      if (await getAuthToken()) {
        this.$navigateTo(MainScreen, {
          animated: true,
          clearHistory: true
        });
      }
    },

    toggleCheckbox() {
      this.checked = !this.checked;
    },

    navigateToTerms() {
      //console.log(1);
    },

    mountComplete() {
      setTimeout(() => {
        this.done = true;
      }, 200);
    },

    async changeCity(newIndex) {
      let index = null;
      let list = this.cityList;

      this.region = null;
      this.regionList = [];
      if (list.length) {
        index = list.filter((item, i) => {
          return newIndex === i;
        });

        if (index && index.length) {
          index = index[0].id;
          if (index) {
            await this.getRegion(index);
            this.city = index;
          }
        }
      }
    },

    changeRegion(newIndex) {
      let index = null;
      let list = this.regionList;
      if (list.length) {
        index = list.filter((item, i) => {
          return newIndex === i;
        });

        if (index && index.length) {
          index = index[0].id;
          if (index) {
            this.region = index;
          }
        }
      }
    },

    getRegion(index) {
      this.region = null;
      this.regionList = [];
      presentLoader();

      setTimeout(() => {
        this.$axios
          .get(`/locations/${index}`)
          .then(({ data }) => {
            if (data.locations) {
              this.regionList = data.locations;
            }
          })
          .catch(({ response }) => {});
      }, 300);
    },

    presentTermsOfUse() {
      const TermsOfUse = require("../additional/TermsOfUse").default;
      this.$showModal(TermsOfUse, {
        fullscreen: true,
        animated: true,
        transition: {
          duration: 200
        }
      }).then(result => {
        if (result) {
          this.checked = true;
        }
      });
    },

    selectAddress() {
      this.getRegions();
    },

    getRegions() {

      this.outlet_title = this.text.registration_display.placeholder.outlet_title;  
      let options = {
        title: this.text.alert.select_region,
        cancelButtonText: this.text.alert.cancel,
        actions: this.regionsString
      };
      let dialogsRegions = require("tns-core-modules/ui/dialogs");

      dialogsRegions
        .action(options)
        .then(result => {
          let index = this.regionsString.indexOf(result);
          if (index || index == 0) {
            if (this.regionList[index].id) {
              this.setRegion(this.regionList[index].id);
              this.address = this.regionList[index].title + " ";
              presentLoader();
            }
          }
        })
        .catch(() => {
          this.address = this.text.registration_display.placeholder.address;
           this.outlet_title = this.text.registration_display.placeholder.outlet_title;
          this.location_id = null;
        });
    },
    selectOutlet() {
      if (this.location_id) {
        presentLoader();

        this.$axios
          .get(`/locations-outlet`, {
            params: {
              location_id: this.location_id
            }
          })
          .then(({ data }) => {
            if (data) {
              hideLoader();

              this.outletList.push(...data);

              let options = {
                title: this.text.alert.select_outlet,
                cancelButtonText: this.text.alert.cancel,
                actions: this.outletList
              };

              let dialogsRegions = require("tns-core-modules/ui/dialogs");
              dialogsRegions
                .action(options)
                .then(result => {
                  if (this.text.alert.cancel === result) {
                    this.outlet_title = this.text.registration_display.placeholder.outlet_title;
                  } else {
                    this.outlet_title = result;
                  }
                })
                .catch(() => {
                  this.outlet_title = this.text.registration_display.placeholder.outlet_title;
                })
                .finally(() => {
                  this.outletList = [
                    this.text.registration_display.placeholder.other
                  ];
                });
            }
          })
          .catch(({ response }) => {})
          .finally(() => {});
      }
    },

    setRegion(id) {
      this.outlet_title = this.text.registration_display.placeholder.outlet_title;
      setTimeout(() => {
        this.$axios
          .get(`/locations/${id}`)
          .then(({ data }) => {
            hideLoader();
            this.cityList = data.locations;
            this.citiesString = data.locations.map(function(item) {
              return item["title"];
            });
            let optionsCity = {
              title: this.text.alert.select_city,
              cancelButtonText: this.text.alert.back,
              actions: this.citiesString
            };

            let dialogsCities = require("tns-core-modules/ui/dialogs");
            dialogsCities
              .action(optionsCity)
              .then(result => {
              
                let indexCity = this.citiesString.indexOf(result);
                if (indexCity || indexCity == 0) {
                  this.location_id = this.cityList[indexCity].id;
                  this.address += this.cityList[indexCity].title;
                }
              })
              .catch(() => {
                this.location_id = null;
             
                this.getRegions();
              });
          })
          .catch(({ response }) => {
            this.getRegions();
          });
      }, 300);
    }
  },

  mounted() {
    hideLoader();
    this.hasToken();
  },

  created() {
    if (this.text) {
      this.address = this.text.registration_display.placeholder.address;
      this.outlet_title = this.text.registration_display.placeholder.outlet_title;
      this.outletList = [this.text.registration_display.placeholder.other];
    }

    this.clearErrors();

    setTimeout(() => {
      this.$axios
        .get("/locations")
        .then(({ data }) => {
          this.regionList = data.locations;

          this.regionsString = data.locations.map(function(item) {
            return item["title"];
          });

          this.processing = false;
        })
        .catch(({ response }) => {});
    }, 600);
  },

  components: {
    LoaderView,
    SelectForm,
    Header,
    Password,
    Field
  },
  watch: {
    name(val) {
      if (val) {
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../app";

.checkbox-field {
  margin-top: 10;
}

.send-code {
  text-align: center;

  font-weight: 400;
  text-transform: none;
}

.fill-group {
  margin-top: 10;
  margin-bottom: 10;
}

Field {
  text-transform: capitalize !important;
}

.address {
  height: 45;
  padding-left: 15;
}

.address label {
  font-size: 16;
  color: #222;
}

.disabled {
  opacity: 0.5;
}
</style>
