<template>
  <Page actionBarHidden="true">
    <ScrollView orientation="vertical">
      <FlexboxLayout v-if="text" class="page__inner" flexDirection="column">
        <LoaderView v-if="processing" :isLoading="processing" />
        <StackLayout v-else orientation="vertical" class="form">
          <StackLayout class="top-container" orientation="horizontal">
            <Img src="~/assets/icons/restore.png" width="60" />
            <StackLayout verticalAlignment="center" style="margin-left: 20">
              <Label
                class="top-title"
                textWrap="true"
                :text="text.remind_password_display.header"
              ></Label>
            </StackLayout>
          </StackLayout>

          <Password
            @returnPress="login"
            topHintLabel="true"
            :hint="text.remind_password_display.label.password"
            :field.sync="password"
          />
          <Password
            @returnPress="login"
            topHintLabel="true"
            :hint="text.remind_password_display.label.password_confirmation"
            :field.sync="confirm_password"
          />

          <Field
            class="fill phonePlaceholder"
            :field.sync="phone"
            keyboardType="phone"
          >
            <StackLayout
              paddingLeft="15"
              width="61"
              height="100%"
              verticalAlignment="center"
              horizontalAlignment="left"
            >
              <Label
                color="#222222"
                fontSize="16"
                fontWeight="200"
                verticalAlignment="center"
                text="+ 998"
              >
              </Label>
            </StackLayout>
          </Field>

          <template v-if="confirming_code">
            <Field
              class="fill"
              :field.sync="code"
              keyboardType="phone"
              :hint="text.remind_password_display.label.code"
            />

            <StackLayout>
              <Button
                @tap="checkSMSCode"
                class="btn send-sms"
                :text="text.remind_password_display.button.confirm"
              ></Button>
            </StackLayout>
          </template>

          <StackLayout v-else>
            <Button
              @tap="sendSMS"
              class="btn send-sms"
              :text="text.remind_password_display.button.send_sms"
            ></Button>
          </StackLayout>

          <StackLayout @tap="goBack">
            <Label class="footer__elem-back" horizontalAlignment="center">
              <FormattedString>
                <Span
                  class="icon footer__elem-back"
                  text.decode="&#xe92b;"
                ></Span>
              </FormattedString>
            </Label>
          </StackLayout>
        </StackLayout>
      </FlexboxLayout>
    </ScrollView>
  </Page>
</template>

<script>
import {
  saveAuthToken,
  saveChannel,
  errorMessage,
  userInfo,
} from "../../utils/functions";
import { presentLoader, hideLoader } from "../../plugins/activityIndicator";
import Password from "../form/Password";
import Field from "../form/Field";
import MainScreen from "../MainScreen";
import { mapMutations, mapState } from "vuex";
import LoaderView from "../helpers/LoaderView";

export default {
  name: "RestorePassword",
  components: { LoaderView, Password, Field },
  data: function () {
    return {
      password: "",
      confirm_password: "",
      phone: "",
      confirming_code: false,
      code: "",
      processing: true,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_ERRORS"]),
    sendSMS: function () {
      presentLoader();
      this.$axios
        .post(`/dealers/auth/code/restore`, {
          phone_number: "+998" + this.phone,
        })
        .then((response) => {
          this.confirming_code = true;
        })
        .catch((err) => {
          // console.log(err);
          let errors = err.data.errors;
          if (errors) {
            if (errors.expiration_date) {
              alert(errors.expiration_date[0]);
            }
            if (errors.phone_number) {
              alert(errors.phone_number[0]);
            }
          }
        })
        .finally(() => {
          hideLoader();
        });
    },
    checkSMSCode: function () {
      presentLoader();
      const platform = require("tns-core-modules/platform");
      let device_id = platform.device.uuid;
      this.$axios
        .post(`/dealers/auth/restore`, {
          code: this.code,
          password: this.password,
          password_confirmation: this.confirm_password,
          phone_number: "+998" + this.phone,
          device_id: device_id,
        })
        .then((response) => {
          saveAuthToken(response.data.token);
          saveChannel(response.data.channel);
          this.$navigateTo(MainScreen, {
            animated: true,
            transition: {
              duration: 20,
            },
            clearHistory: true,
          });

          setTimeout(() => {
            userInfo(true);
          }, 300);
        })
        .catch(({ data }) => {
          if (data.errors && data.errors.code) {
            alert(data.errors.code[0]);
          }

          if (data.errors && data.errors.expiration_date) {
            alert(data.errors.expiration_date[0]);
          }

          if (data.errors && data.errors.phone_number) {
            alert(data.errors.phone_number[0]);
          }

          if (data.errors && data.errors.password) {
            alert(data.errors.password[0]);
          }
        })
        .finally(() => {
          hideLoader();
        });
    },
    goBack: function () {
      this.$navigateBack();
    },
  },
  mounted() {
    hideLoader();
    setTimeout(() => {
      this.processing = false;
    }, 400);
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>

<style scoped>
.top-container {
  width: 100%;
  margin-bottom: 50;
}

.top-title {
  font-size: 24;
}

.flag-container {
  background-color: #eeeeee;
  color: #b3b3b3;
  border-radius: 50%;
  border-right-width: 1;
  border-right-color: #ffffff;
}

.send-sms {
  text-transform: none;
  margin-top: 40;
}

.footer__elem-back {
  margin-top: 40;
  font-size: 36;
  color: #002a9f;
  vertical-align: center;
}
</style>
