<template>
    <StackLayout v-if="category.title"
                 verticalAlignment="center">
        <GridLayout rows="30" columns="*, 40"
                    class="category-container">
            <Label row="0" col="0"
                   verticalAlignment="center"
                   :text="category.title"/>
            <Label verticalAlignment="center"
                   row="0" col="1">
                <FormattedString>
                    <Span text.decode="&#xe936;" class="icon"></Span>
                </FormattedString>
            </Label>
        </GridLayout>

        <GridLayout v-for="(lItem, lIndex) in category.subcategory"
                    v-if="selected"
                    rows="30" columns="*"
                    verticalAlignment="center"
                    class="subcategory-container"
                    :key="lIndex">
            <Label class="subcategory-label"
                   row="0" col="0"
                   verticalAlignment="center"
                   @tap="categorySelected"
                   :text="lItem.title"/>
        </GridLayout>

    </StackLayout>
</template>

<script>
        export default {
                name: 'CategoryListView',
                props: ['category', 'selected', 'isActive'],
                data: function () {
                        return {
                                presented: false
                        };
                },
                methods: {
                        categorySelected() {

                        }
                }
        };
</script>

<style scoped>
    .category-container {
        background-color: #ddd;
        padding-left: 10;
        border-radius: 5;
        margin-bottom: 5;
    }

    .subcategory-label {
        vertical-align: center;
        margin-top: 20;
    }

    .subcategory-container {
        padding-top: 10;
        padding-left: 10;
        margin-left: 25;
        background-color: #b3b3b3;
        border-radius: 5;
        min-height: 30;
        margin-bottom: 5;
    }
</style>
