// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//Font icon
.fa {
   font-family: "FontAwesome";
}

.icon {
   font-family: 'icomoon';
}
