// Import app variables
@import "app-variables";
@import "app-common";

.form {
  margin: 0 30;
  flex-grow: 2;
  vertical-align: middle;
  &-field {
    &-container {
      + .form-field-container,
      + .form-field {
        margin-top: 20;
      }
    }
    + .form-field,
    + .form-field-container {
      margin-top: 20;
    }

    &-label {
      font-size: 17;
    }
  }
}

Page,
DropDown,
Field,
Password {
  font-family: "Arial", sans-serif !important;
  color: #444;
}

Page,
ListView,
.container {
  background: #fff;
}

.form-field {
  &.fill,
  &-container.fill .form-field {
    background: #999;
    border-radius: 5;
    font-weight: 200;
    color:#000;
  }

  &-error {
    color: #f00;
    margin-top: 5;
  }

  TextField {
    color: #000;
    background-color: transparent;
    height: 45;
    padding-left: 15;
    padding-right: 15;
    padding-top: 10;
    padding-bottom: 10;
    font-size: 16;
  }
}

.btn {
  height: 42;
  padding: 5 5 7;
  width: 190;
  background-color: $blue-dark;
  color: #fff;
  font-size: 18;
  text-transform: lowercase;
  border-radius: 5;
  &.disabled {
    opacity: 0.5;
  }
  &::first-letter {
    text-transform: capitalize;
  }

  &-add_cart {
    font-size: 21;
    width: 42;
  }

  &-close {
    background-color: #f00;
  }
  &-add {
    background-color: orange;
  }

}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.page {
  align-items: center;
  flex-direction: column;

  &__inner {
    padding: 30 0 50;
  }

  //background: linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(161, 163, 165, 1) 100%);
}

.img-field {
  width: 70%;

  margin: 0 auto 50;
}

.forgot__password {
  font-size: 14;

  Label {
    text-decoration: underline;
  }
}

.registration {
  font-size: 20;
}

.registration,
.forgot__password {
  text-align: center;
  color: $gray;
}

ScrollView,
ListView {
  height: 100%;
}

.header__elem {
  margin: 0 30;
  &-back {
    font-size: 36;
    color: $blue-dark;
    vertical-align: center;
  }

  &-icon,
  &-text {
    color: #000;
  }

  &-icon {
    font-size: 65;
  }

  &-text {
    vertical-align: center;
    text-align: left;
    &-title {
      font-size: 23;
      &-description {
        font-size: 23;
        margin-left: 10;
      }
    }

    &-description {
      font-size: 12;
      color: #b3b3b3;
    }
  }
}

.register {
  height: 100%;
  &__form {
    margin-top: 15;
    .form-field-container {
      & + .form-field-container {
        margin-top: 10;
      }
    }
  }

  .page__inner {
    padding: 20 0;
  }
}

.checkbox {
  font-size: 13;
  border-width: 1;
  border-color: #b3b3b3;
  background: #e6e6e6;
  width: 22;
  height: 22;
  padding: 2 0;
  border-radius: 5;
  text-align: center;
  color: #e6e6e6;
  vertical-align: middle;
  //margin-top: 5;
  &.checked {
    color: $blue-dark;
  }
}

.agree-text {
  padding-left: 5;
  vertical-align: center;
  font-weight: 200;
  color: #b3b3b3;
  font-size: 13;
}

.red {
  color: red;
}

.blue {
  color: $blue-dark;
}

Label,
TextField,
DropDown,
DatePickerField {
  font-size: 16;
  vertical-align: center;
}

.phonePlaceholder TextField {
  padding-left: 62;
}

.mt-1 {
  margin-top: 10;
}

.mt-2 {
  margin-top: 20;
}

.mt-3 {
  margin-top: 30;
}

.mt-4 {
  margin-top: 40;
}

.active-lang {
  opacity: 0.4;
}

.no_found {
  margin-top: 20;
  height: 60;
  text-align: center;
  font-weight: bold;
}

Dialog {
  font-weight: bold;
  font-size: 18;
}

TabStrip {
  selected-item-color: #666;
  un-selected-item-color: #666;
  highlight-color: $blue-dark;
}

TabContentItem.first-tabcontent {
  background-color: seashell;
  color: #666;
}
TabContentItem.second-tabcontent {
  background-color: slategray;
  color: aquamarine;
}
TabContentItem.third-tabcontent {
  background-color: $blue-dark;
  color: antiquewhite;
}

WebView {
  background: #ffffff;
}


