<template>
    <StackLayout  class="container rating-view" verticalAlignment="center">
        <GridLayout v-if="text" columns="*, 80" class="rating-view-box" orientation="horizontal">
            <Label class="rating-view-box-title" col="0" color="#ffffff"
                   :text="text.rating_display.label.your_rating"
                   verticalAlignment="center"/>
            <StackLayout col="1" class="rating-view-points" orientation="horizontal" verticalAlignment="center"
                         horizontalAlignment="right">
                <Label color="#ffffff" class="rating-view-star" verticalAlignment="center">
                    <FormattedString>
                        <Span text.decode="&#xe90d;" class="icon rating-view-star-icon"></Span>
                    </FormattedString>
                </Label>
                <Label color="#ffffff" fontSize="12" :text="rating | numberWithSpaces"
                       horizontalAlignment="right"
                       verticalAlignment="center"/>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</template>
<script>

    export default {

        name: 'RatingUserView',
        props:
            ['rating','text']
    }
    ;
</script>

<style lang="scss">
    .rating-view {
    
        padding: 20 18 0;
        
        color: #000;
        background-color: #ffffff;
        &-points {
            width: 100%;
            height: 30;
            color: #ffffff;
        }

        &-star {
            margin-left: 10;
            margin-right: 10;

            &-icon {
                font-size: 18;
            }
        }

        &-box {
            background-color: #002a9f;
            height: 35;
            color: #ffffff;
            border-width: 1;
            border-radius: 8;
            padding-left: 10;
            padding-right: 10;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: 1 1 1 rgba(0, 0, 0, 1);

            &-title {
                font-size: 14;
            }
        }
    }

  
</style>
