<template>
  <ScrollView>
    <StackLayout>
      <LoaderView v-if="loading" :isLoading="loading" />
      <StackLayout v-else-if="!loading" class="rating-years" paddingTop="15">
        <StackLayout v-for="(y,key) in currentYear" :key="key" class="rating-years-item">
          <StackLayout>
            <StackLayout class="rating-years-item-label">
              <Label
                class="rating-years-item-label-title"
                :text="text.calendar[y.month] + ' ' + y.year"
              />
            </StackLayout>
              <StackLayout
                class="rating-years-item-dealers"
                width="100%"
                v-if="y.data && y.data.list && y.data.list.length"
              >
                <StackLayout width="100%" v-for="(data, index) in y.data.list" :key="index">
                  <StackLayout width="100%" class="dealers" rows="*">
                    <StackLayout
                      orientation="vertical"
                      verticalAlignment="center"
                      horizontalAlignment="left"
                    >
                      <Label
                        v-if="user.id!==data.id"
                        :text="(index+1) + '. ' + data.title.charAt(0) +'***** *********'"
                        class="name"
                        verticalAlignment="center"
                      />
                      <Label
                        v-else
                        :text="(index+1) + '. ' +data.title"
                        class="name"
                        verticalAlignment="center"
                      />
                      <Label
                        v-if="text"
                        :text="data.activations_count+ ' '+ text.message.count "
                        class="products"
                        verticalAlignment="center"
                      />
                    </StackLayout>
                  </StackLayout>
                </StackLayout>
                
              </StackLayout>
             
              <StackLayout>
                <Label class="rating-years-item-your_rating" :text="text.your_rating + ' ' + y.data.rating"></Label>
              </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</template>
<script>
import LoaderView from "../helpers/LoaderView";
import { mapState } from "vuex";
export default {
  components: {
    LoaderView
  },
  data: () => ({
    loading: true,
    currentYear: []
  }),
  name: "RatingUserView",
  props: ["year"],
  methods: {
    preloadData(year, month) {
      return this.$axios
        .get(`/dealers/rating/year`, {
          params: {
            year: year,
            month: month
          }
        })
        .then(response => {
          return response;
        })
        .catch(response => {
          return {};
        })
        .finally(() => {});
    }
  },
  computed: {
    ...mapState(["user", "text"])
  },
  async mounted() {
    this.currentYear = this.year;

    if (this.currentYear && this.currentYear.length) {
      for (let i = 0; i < this.currentYear.length; i++) {
        let data = await this.preloadData(
          this.currentYear[i].year,
          this.currentYear[i].month
        );
        if (data && data.data) {
          this.currentYear[i]["data"] = data.data;
        }
      }
    }

    this.loading = false;
  }
};
</script>

<style lang="scss">
.rating-years-item {
  border-bottom-color: #ebebeb;
  border-bottom-width: 1;
  padding-bottom: 20;
  margin-bottom: 15;
  & > StackLayout {
    // background: #f2f2f2;
    border-radius: 7;
    & > .rating-years-item-label {
      padding-left: 15;
      margin-bottom: 15;
      text-align: left;

      & > .rating-years-item-label-title {
        font-size: 16;
        font-weight: 500;
        color: #002a9f;
        margin-bottom: 15;
      }
    }
  }
}

.rating-years-item-dealers {
  & > StackLayout {
    margin-bottom: 12;
    & .name {
      margin-left: 15;
      font-size: 15;
      font-weight: 500;
      color: #222;
    }
    & .products {
      font-size: 11;
      font-weight: 100;
      color: #111;
      margin-left: 15;
    }
  }

  
}

.rating-years-item-your_rating {
  margin-left: 15;
}
</style>
