<template>

    <StackLayout
            class="container"
    >
        <StackLayout orientation="horizontal"
                     row="0" col="0"
                     verticalAlignment="center">
            <Label :text="index+1"
                   class="number"
                   verticalAlignment="center"/>
            <Label class="icon-container">
                <FormattedString>
                <Span class="icon image" text.decode="&#xe916;">
                </Span>
                </FormattedString>
            </Label>
            <StackLayout orientation="vertical"
                         class="title-container" 
                         verticalAlignment="center">
                
                
                <Label v-if="user.id===data.id" :text="data.title"
                       class="name"
                       verticalAlignment="center"/>
                <Label v-else :text="data.title.charAt(0) +'***** *********'"
                       class="name"
                       verticalAlignment="center"/>

                <Label v-if="text" :text="data.activations_count + ' '+ text.message.count "
                       class="products"
                       verticalAlignment="center"/>
            </StackLayout>
        </StackLayout>

    </StackLayout>
</template>

<script>

    export default {
        name: 'RatingCellView',
        props: ['data', 'current', 'index', 'latest', 'text','user'],

        mounted: function () {

        }
    };
</script>

<style scoped>
    .container {
        width: 90%;
        padding-top: 10;
        padding-bottom: 10;

    }

    .number {
        text-align: left;
        font-weight: 600;
        color: #666666;
        font-size: 14;
        min-width: 24;
    }

    .icon-container {
        vertical-align: center;
        margin-left: 10;
        margin-right: 10;
    }

    .image {
        background-color: transparent;
        font-size: 40;
        color: #a0a0a0;
    }

    .title-container {
        width: auto;
    }

    .name {
        font-weight: bold;
        font-size: 14;
        color: #555555;
    }

    .products {
        font-size: 12;
        color: gray;
    }

    .points {
        height: 30;
        border-left-width: 0.3;
        border-left-color: #ebebeb;
        vertical-align: center;
        padding-top: 6;

    }

    .star {
        margin-left: 8;
        margin-right: 8;
    }

    .star-icon {
        font-size: 17;
        color: #666666;
    }

    .points-text {
        font-weight: 600;
        min-width: 56;
        font-size: 12;
        text-align: right;
        color: #3A53FF;
    }

    .is_you {
        background-color: #fafafa;
    }


</style>
