<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <StackLayout v-else>
      <GridLayout height="100%" rows="*" columns="*">
        <!-- <select-filter
          :id="0"
          :options="text.statuses_filter"
          row="0"
          @result="setState"
        /> -->
        <PullToRefresh
          v-if="leftovers && leftovers.length"
          row="1"
          @refresh="refreshList"
        >
          <ListView
            v-for="(item, index) in leftovers"
            ref="listView"
            class="leftovers"
            :key="index"
            separatorColor="white"
          >
            <v-template :scope="item">
              <GridLayout
                class="leftovers-list"
                columns="15,*,15, 60 ,15"
                rows="*"
              >
                <StackLayout row="0" col="1">
                  <Label
                    class="leftovers-list-index"
                    :text="item.Naimenovanie"
                  />
                  <Label class="leftovers-list-sku" :text="`Артикул: ${item.Artikul}`" />
                </StackLayout>

                <Label
                  class="leftovers-list-stock"
                  :text="`${item.Kolvo} ${item.EdIzm}`"
                  row="0"
                  col="3"
                />
              </GridLayout>
            </v-template>
          </ListView>
        </PullToRefresh>
        <Label
          verticalAlignment="top"
          class="no_found"
          row="1"
          v-else
          :text="text.message.no_found"
        />
      </GridLayout>
    </StackLayout>
  </StackLayout>
</template>
<script>
import SelectFilter from "../helpers/SelectFilter";
import LoaderView from "../helpers/LoaderView";

import { mapState, mapMutations } from "vuex";

export default {
  components: {
    LoaderView,
    SelectFilter,
  },
  props: {
    owner: {
      default: false,
    },
  },
  data: function () {
    return {
      leftovers: [],
      page: 1,
      search: "",
      loading: true,
      searcher: null,
      searchLoading: false,
      last_page: 1,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),

    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    setState(val) {
      this.CHANGE_LOADING(true);
      this.page = 1;
      this.state = val;
      setTimeout(() => {
        this.preloadData();
      }, 100);
    },
    refresh() {
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
      }, 100);
    },
    async preloadData() {
      await this.$axios
        .get(`/remote/dealers/goods`, {
          params: {},
        })
        .then((response) => {
          this.leftovers = response.data.Data;
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = this.searchLoading = false;
          this.CHANGE_LOADING(false);
        });
    },
  },
  watch: {
    search(val) {
      clearTimeout(this.searcher);
      this.searchLoading = true;
      this.searcher = setTimeout(() => {
        this.page = 1;
        this.preloadData();
      }, 1000);
    },
  },
  created() {
    this.preloadData();
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>
<style scoped lang="scss">
.leftovers {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    padding: 7 0;
    display: none;
    &-index {
      text-align: left;
      font-size: 13;
      color: #222;
      font-weight: 500;
    }
    &-sku {
      font-size: 13;
      color: #444;
    }
    &-stock {
      font-size: 12;
      color: #06338d;
      text-align: right;
    }
  }
}
</style>