<template>
    <GridLayout class="date-filter" rows="auto" columns="*,18, *" width="90%">
        <StackLayout class="pick-" row="0" col="0" verticalAlignment="center">
            <GridLayout rows="auto" columns="*,10,5" class="picker">
                <DatePickerField hint="С"
                                 locale="ru"
                                 @dateChange="onMinDateUpdate"
                                 :date="fromDate"
                                 :maxDate="toDate"
                                 dateFormat="dd-MM-YYYY"></DatePickerField>
                <Label verticalAlignment="center"
                       row="0" col="1">
                    <FormattedString>
                        <Span text.decode="&#xe936;" class="icon down-arrow"></Span>
                    </FormattedString>
                </Label>
            </GridLayout>
        </StackLayout>
        <StackLayout class="tire" verticalAlignment="center" row="0" col="1">
            <Label text="-" verticalAlignment="center" color="#D6D6D6"></Label>
        </StackLayout>
        <StackLayout class="pick-" row="0" col="2" verticalAlignment="center">
            <GridLayout rows="auto" columns="*,10,5" class="picker">
                <DatePickerField
                        row="0" col="0"
                        hint="По"
                        locale="ru"
                        @dateChange="onMaxDateUpdate"
                        :minDate="fromDate"
                        :date="toDate"
                        dateFormat="dd-MM-YYYY">
                </DatePickerField>

                <Label verticalAlignment="center"
                       row="0" col="1">
                    <FormattedString>
                        <Span text.decode="&#xe936;" class="icon down-arrow"></Span>
                    </FormattedString>
                </Label>

            </GridLayout>

        </StackLayout>
    </GridLayout>

</template>

<script>
    export default {
        name: 'DateFilterView',
        props: ['minDate', 'maxDate'],
        data: function () {
            return {
                fromDate: this.minDate,
                toDate: this.maxDate
            };
        },
        methods: {
            onMinDateUpdate(args) {

                this.fromDate = args.value;
                this.$emit('onDateUpdate', {from: this.fromDate, to: this.toDate});
            },
            onMaxDateUpdate(args) {

                this.toDate = args.value;
                this.$emit('onDateUpdate', {from: this.fromDate, to: this.toDate});
            },
            onApplyButtonTap() {


            }
        },
        watch: {
            minDate(val) {

                this.fromDate = val;
            },
            maxDate(val) {
                this.toDate = val;
            }
        }
    };
</script>

<style scoped>


    .date-filter {
        margin-top: 10;
        margin-bottom: 10;
    }

    .apply-button {
        margin: 5 0 3 0;
    }

    DatePickerField {

        padding: 3.5 8 4 8;

        border-width: 0.1;
        border-color: #ffffff;
    }

    .down-arrow {
        font-size: 7;
        text-align: center;
        color: #666;
    }

    .picker {
        border-width: 0.7;
        border-color: #D6D6D6;
        border-radius: 8;
    }

    .pick- {
        font-size: 14;
    }

    .tire {
        text-align: center;
        font-weight: 200;
    }
</style>
