<template>
  <StackLayout
    :class="`detalisation-list ${isActive && 'active'}`"
    v-if="product.title"
    verticalAlignment="center"
    width="100%"
  >
    <GridLayout rows="auto" columns="*, 10" width="90%">
      <Label
        row="0"
        col="0"
        verticalAlignment="center"
        :text="product.title"
        class="product-name"
      />
      <Label verticalAlignment="center" row="0" col="1">
        <FormattedString>
          <Span text.decode="&#xe936;" class="icon down-arrow"></Span>
        </FormattedString>
      </Label>
    </GridLayout>
    <StackLayout>
      <GridLayout
        rows="*"
        v-if="isActive"
        class="table-head-label"
        columns="30, *, 70, 140"
      >
        <Label row="0" col="0" text="№" class="thead-elem"></Label>
        <Label
          row="0"
          col="1"
          :text="text.detail_display.label.serial_number"
          class="thead-elem"
        ></Label>
        <Label
          row="0"
          col="2"
          :text="text.detail_display.label.bonus"
          class="thead-elem"
        ></Label>
        <Label
          row="0"
          col="3"
          :text="text.detail_display.label.date"
          class="thead-elem thead-elem-last"
        ></Label>
      </GridLayout>

      <StackLayout
        v-for="(lItem, lIndex) in product.transactions"
        v-show="presented"
        style="padding: 4 0; background: #ffffff"
        :key="lIndex"
      >
        <GridLayout rows="*" columns="30, *, 70, 140">
          <Label row="0" col="0" :text="lIndex + 1" class="tbody-elem"></Label>
          <Label
            row="0"
            col="1"
            :text="lItem.serial_number"
            class="tbody-elem"
          ></Label>
          <Label
            row="0"
            col="2"
            :text="lItem.reward | numberWithSpaces"
            class="tbody-elem"
          ></Label>
          <Label
            row="0"
            col="3"
            :text="lItem.created_at | dateTime"
            class="tbody-elem"
          ></Label>
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</template>

<script>
export default {
  name: "ProductTransactionsListView",
  props: ["product", "presented", "text"],
  computed: {
    isActive() {
      return !!this.presented;
    },
  },
  data: function () {
    return {};
  },
};
</script>

<style scoped>
.active {
  background-color: #ebebeb;
}

.product-name {
  padding: 15.5 0 15.5 0;
  vertical-align: center;
  font-size: 14;
  font-weight: 400;
}

.table-head-label {
  background-color: #444444;
  color: #ffffff;
}

.thead-elem {
  padding: 0 5;
  margin: 5 0;
  text-align: center;
  border-right-color: #ffffff;
  border-right-width: 0.7;
  font-size: 12;
  color: #ffffff;
}

.thead-elem-last {
  border-right-color: #444444;
  border-right-width: 0;
}

.tbody-elem {
  text-align: center;
  padding: 15 5;
  font-size: 12;
  font-weight: 500;
  color: #333;
}

.gray-bg {
  background-color: #d6d6d6;
}

.down-arrow {
  font-size: 7;
  text-align: right;
  color: #777;
}
</style>
