<template>
  <Page :enableSwipeBackNavigation="true" class="page" actionBarHidden="true">
    <StackLayout height="100%">
      <HeaderActionBar
        :setBack="true"
        :title="title"
        :onOpenDrawerTap="onOpenDrawerTap"
      />
      <TabBarController current="about">
        <LoaderView v-if="loading" :isLoading="loading" />
        <WebView
          margin="25"
          v-if="body"
          height="100%"
          @loadFinished="loaded"
          :src="body"
        />
      </TabBarController>
    </StackLayout>
  </Page>
</template>

<script>
import TabBarController from "../helpers/TabBarController";
import HeaderActionBar from "../helpers/HeaderActionBar";
import Menu from "../helpers/Menu";
import LoaderView from "../helpers/LoaderView";
import { mapState } from "vuex";

export default {
  name: "AboutUs",
  components: {
    LoaderView,
    HeaderActionBar,
    Menu,
    TabBarController,
  },
  data: function () {
    return {
      title: "О нас",
      loading: true,
      connectionError: false,
      done: false,
      body: "",
    };
  },
  methods: {
    getBody() {
      this.$axios
        .get(`/pages/card/17`)
        .then((response) => {
          this.loading = false;
          if (response.data) {
            this.body = this.initBody(response.data.body);
          }
        })
        .finally(() => {
          this.done = true;
        });
    },

    initBody(body) {
      return (
        "<html> " +
        "<head>" +
        "<style> " +
        "img {" +
        "max-width: 100%!important; height: auto!important;" +
        "} " +
        ".ql-align-center {" +
        "text-align: center!important;" +
        "} " +
        "br {" +
        "line-height: 5px" +
        "} " +
        ".ql-align-right {" +
        "text-align: right!important;" +
        "} " +
        "body::-webkit-scrollbar {" +
        "width: 1px; background: #ffffff" +
        "} " +
        "iframe {" +
        "width: 100%!important; max-width: 100%; margin-left: auto!important;  text-align:center; margin-right: auto!important; height: 200px!important;" +
        "}" +
        "body {" +
        "-webkit-touch-callout: none;" +
        "-webkit-user-select: none;" +
        "-khtml-user-select: none;" +
        "-moz-user-select: none;" +
        "user-select: none;" +
        "width: 100%; " +
        "padding: 0; " +
        "margin: 0;  " +
        "overflow-x: scroll; " +
        "overflow-y: scroll; " +
        "height: 100%; " +
        "cursor: default; " +
        "font-family: Arial, Helvetica, sans-serif!important; " +
        "}" +
        "</style>" +
        '<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">' +
        "</head>" +
        "<body>" +
        body +
        "</body>" +
        "</html>"
      );
    },

    loaded() {
      this.loading = false;
    },
  },

  mounted: function () {
    setTimeout(() => {
      this.getBody();
    }, 400);
  },
  computed: {
    ...mapState(["loadingGlobal"]),
  },
};
</script>

<style scoped lang="scss">
</style>
