<template>
  <Page>
    <StackLayout v-if="text" height="100%" width="90%" class="container">
      <StackLayout width="100%" class="header" orientation="horizontal">
        <GridLayout
          rows="auto"
          columns="72,*,20"
          class="header-news"
          orientation="horizontal"
        >
          <Img
            horizontalAlignment="center"
            verticalAlignment="center"
            col="0"
            row="0"
            src="~/assets/icons/contract.png"
            width="48"
          />

          <StackLayout verticalAlignment="center" col="1" row="0">
            <Label
              class="header-title"
              textWrap="true"
              :text="text.message.privacy_policy"
            />
          </StackLayout>
        </GridLayout>
      </StackLayout>
      <GridLayout rows="*, 60" columns="*">
        <StackLayout row="0" col="0" height="100%">
          <LoaderView v-if="loading" :isLoading="loading" />
          <WebView
            margin="20"
            v-if="body"
            width="100%"
            height="85%"
            @loadFinished="webViewLoaded"
            :src="body"
          />
        </StackLayout>
        <StackLayout row="1" col="0" class="footer-container">
          <StackLayout height="100%" width="100%">
            <Button
              @tap="acceptButtonClick"
              class="btn accept"
              :text="text.message.accept"
            ></Button>
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </Page>
</template>

<script>
import LoaderView from "../helpers/LoaderView";

import { mapState } from "vuex";

export default {
  name: "TermsOfUse",
  components: { LoaderView },
  data: function () {
    return {
      loading: true,
      body: "",
    };
  },
  methods: {
    webViewLoaded() {
      this.loading = false;
    },
    acceptButtonClick() {
      this.$modal.close(true);
    },
    closeButtonClick() {
      this.$modal.close(false);
    },

    getBody() {
      this.$axios
        .get(`/pages/card/18`)
        .then((response) => {
          this.loading = false;
          if (response.data) {
            this.body = this.initBody(response.data.body);
          }
        })
        .finally(() => {
          this.done = true;
        });
    },

    initBody(body) {
      return (
        "<html> " +
        "<head>" +
        "<style> " +
        "img {" +
        "max-width: 100%!important; height: auto!important;" +
        "} " +
        ".ql-align-center {" +
        "text-align: center!important;" +
        "} " +
        "br {" +
        "line-height: 5px" +
        "} " +
        ".ql-align-right {" +
        "text-align: right!important;" +
        "} " +
        "body::-webkit-scrollbar {" +
        "width: 1px; background: #ffffff" +
        "} " +
        "iframe {" +
        "width: 100%!important; max-width: 100%; margin-left: auto!important;  text-align:center; margin-right: auto!important; height: 200px!important;" +
        "}" +
        "body {" +
        "width: 100%; " +
        "padding: 0; " +
        "margin: 0;  " +
        "overflow-x: scroll; " +
        "overflow-y: scroll; " +
        "height: 100%; " +
        "cursor: default; " +
        "font-family: Arial, Helvetica, sans-serif!important; " +
        "}" +
        "</style>" +
        '<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">' +
        "</head>" +
        "<body>" +
        body +
        "</body>" +
        "</html>"
      );
    },
  },
  computed: {
    ...mapState(["text"]),
  },
  mounted() {
    this.getBody();
  },
};
</script>

<style scoped>
.container {
  padding: 20 0;
}

.header {
  margin: 20 0 15 0;
  color: #000000;
  padding-bottom: 10;
}

.header-title {
  font-size: 23;
}

.footer-container {
  padding-top: 20;
}
</style>
