<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <StackLayout v-else>
      <GridLayout height="100%" rows="*,60" columns="*">
        <!-- Object.keys(items).length -->
        <PullToRefresh
          v-if="items && items.length"
          row="0"
          @refresh="refreshList"
        >
          <ListView
            v-for="(item, index) in items"
            ref="listView"
            class="items"
            :key="index"
            @itemTap="editItem"
            separatorColor="white"
          >
            <v-template :scope="item">
              <GridLayout class="items-list" columns="15,*,15, 60 ,15" rows="*">
                <StackLayout row="0" col="1">
                  <Label
                    class="items-list-index"
                    textWrap="true"
                    :text="item.Naimenovanie"
                  />
                  <Label
                    class="items-list-sku"
                    :text="`Артикул: ${item.Artikul}`"
                  />
                  <Label class="items-list-sku" :text="`Код: ${item.Kod}`" />
                </StackLayout>

                <Image
                  row="0"
                  col="3"
                  verticalAlignment="top"
                  horizontalAlignment="right"
                  opacity="0.7"
                  height="20"
                  width="20"
                  :src="'~/assets/icons/temp/edit.png'"
                ></Image>
              </GridLayout>
            </v-template>
          </ListView>
        </PullToRefresh>
        <Label
          verticalAlignment="top"
          class="no_found"
          row="0"
          v-else
          :text="text.message.no_found"
        />

        <StackLayout
          @tap="setData({})"
          verticalAlignment="center"
          horizontalAlignment="center"
          class="control"
          row="1"
        >
          <label
            verticalAlignment="center"
            horizontalAlignment="center"
            class="control-label"
            text="+ Добавить"
          />
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</template>
<script>
import SelectFilter from "../helpers/SelectFilter";
import LoaderView from "../helpers/LoaderView";
import ItemCard from "./ItemCard";
import { mapState, mapMutations } from "vuex";

export default {
  components: {
    LoaderView,
    SelectFilter,
    ItemCard,
  },
  props: {
    owner: {
      default: false,
    },
  },
  data: function () {
    return {
      items: [],
      page: 1,
      search: "",
      loading: true,
      searcher: null,
      searchLoading: false,
      last_page: 1,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),

    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    async preloadData() {
      await this.$axios
        .get(`/remote/dealers/goods_all`, {
          params: {},
        })
        .then((response) => {
          if (response.data.Data && response.data.Data.length) {
            this.items = response.data.Data;
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = this.searchLoading = false;
          this.CHANGE_LOADING(false);
        });
    },
    setData(data = null) {
      this.$showModal(ItemCard, {
        fullscreen: true,
        props: {
          item: data,
          preloadData: this.preloadData,
        },
      });
    },
    editItem(e) {
      this.setData(e.item);
    },
  },
  created() {
    this.preloadData();
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>
<style scoped lang="scss">
.items {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    padding: 7 0;
    display: none;
    &-index {
      text-align: left;
      font-size: 13;
      color: #222;
      font-weight: 500;
    }
    &-sku {
      font-size: 13;
      color: #444;
    }
    &-stock {
      font-size: 12;
      color: #06338d;
      text-align: right;
    }
  }
}
.control {
  width: 100%;
  height: 100%;
  background: #06338d;
  text-align: center;
  &-label {
    color: #fff;
    font-size: 18;
    font-weight: bold;
  }
}
</style>