<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <GridLayout v-else height="100%" rows="*,60" columns="*">
      <ScrollView row="0" class="card_item" orientation="vertical">
        <StackLayout class="card_item-container" backgroundColor="white">
          <StackLayout
            v-for="(f, k) in fields"
            :key="k"
            class="card_item-container-list"
          >
            <Label v-if="f.hidden !== true" :text="f.title" />
            <Field
              class="fill"
              :field.sync="postData[f.key]"
              v-if="f.hidden !== true"
              keyboardType="text"
              :hint="f.title"
            />
          </StackLayout>
        </StackLayout>
      </ScrollView>
      <GridLayout row="1" height="100%" rows="*" columns="15,*,15,*,15">
        <Button
          col="1"
          class="btn btn-outline "
          text="Применить"
          @tap="save()"
        />
        <Button
          col="3"
          class="btn btn-outline btn-close"
          text="Закрыть"
          @tap="$modal.close()"
        />
      </GridLayout>
    </GridLayout>
  </StackLayout>
</template>
<script>
import Field from "../form/Field";
import LoaderView from "../helpers/LoaderView";
import { mapState, mapMutations } from "vuex";

import { errorMessage, successMessage } from "../../utils/functions";

export default {
  data: function () {
    return {
      loading: false,
      fields: [
        {
          title: "Артикул",
          key: "Artikul",
        },
        {
          title: "Код",
          key: "Kod",
          hidden: true,
          default: "",
        },
        {
          title: "Наименование",
          key: "Naimenovanie",
        },
        {
          title: "Штрихкод",
          key: "ShtrixKod",
          hidden: true,
          default: "",
        },
        {
          title: "Измерение",
          key: "EdIzm",
          default: "шт",
        },
      ],
    };
  },
  props: {
    item: {
      default: function () {
        return {};
      },
    },
    preloadData: {
      default: function () {},
    },
  },
  components: {
    Field,
    LoaderView,
  },
  computed: {
    ...mapState(["text"]),
    postData: {
      get() {
        for (let i = 0; i < this.fields.length; i++) {
          if (
            this.fields[i].default ||
            this.fields[i].default === [] ||
            this.fields[i].default === "" ||
            this.fields[i].default === 0
          ) {
            if (!this.item[this.fields[i].key]) {
              this.item[this.fields[i].key] = this.fields[i].default;
            }
          }
        }

        let post = { ...this.item };

        return post;
      },
      set() {},
    },
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    async uploadData(data) {
      await this.$axios
        .post(`/remote/dealers/goods_all`, data)
        .then((response) => {
          if (response.data) {
            this.CHANGE_LOADING(true);
            this.$modal.close();
            this.preloadData();
            successMessage('Данные применились');
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = false;
        });
    },
    save() {
      this.loading = true;
      for (let i = 0; i < this.fields.length; i++) {
        if (
          (this.postData[this.fields[i].key] === "" ||
            !this.postData[this.fields[i].key]) &&
          this.fields[i].hidden !== true
        ) {
          setTimeout(() => {
            this.loading = false;
            alert(`${this.fields[i].title} обязательно для заполнения!`);
          }, 200);

          return false;
        }
      }

      console.log(this.postData);
      this.uploadData(this.postData);
    },
  },
};
</script>

<style scoped lang="scss">
.card_item {
  width: 100%;
  height: 100%;
  &-container {
    padding: 40 15 15;
    &-list {
      margin-bottom: 10;
      & Label {
        margin-bottom: 3;
      }
    }
  }
}
</style>