<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <StackLayout v-else>
      <GridLayout height="100%" rows="*,60" columns="*">
        <PullToRefresh
          v-if="documents && documents.length"
          row="0"
          @refresh="refreshList"
        >
          <ListView
            v-for="(item, index) in documents"
            ref="listView"
            class="items"
            :key="index"
            @itemTap="showDocument"
            separatorColor="white"
          >
            <v-template :scope="item">
              <GridLayout class="items-list" columns="15,*,15, 60 ,15" rows="*">
                <StackLayout row="0" col="1">
                  <Label class="items-list-index" :text="`№ ${item.Doc_No}`" />
                  <Label class="items-list-sku" :text="item.Doc_Date" />
                  <Label
                    class="items-list-sku"
                    :text="`Количество товаров: ${item.TotalQty}`"
                  />
                </StackLayout>

                <Image
                  row="0"
                  col="3"
                  verticalAlignment="top"
                  horizontalAlignment="right"
                  opacity="0.7"
                  height="20"
                  width="20"
                  :src="'~/assets/icons/temp/edit.png'"
                ></Image>
              </GridLayout>
            </v-template>
          </ListView>
        </PullToRefresh>
        <Label
          verticalAlignment="top"
          class="no_found"
          row="0"
          v-else
          :text="text.message.no_found"
        />

        <StackLayout
          @tap="setData({})"
          verticalAlignment="center"
          horizontalAlignment="center"
          class="control"
          row="1"
        >
          <label
            verticalAlignment="center"
            horizontalAlignment="center"
            class="control-label"
            text="+ Добавить"
          />
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</template>
<script>
import SelectFilter from "../helpers/SelectFilter";
import LoaderView from "../helpers/LoaderView";
import DocumentConsumptionModal from "./DocumentConsumptionModal";
import { mapState, mapMutations } from "vuex";

export default {
  components: {
    LoaderView,
    SelectFilter,
    DocumentConsumptionModal,
  },
  props: {
    owner: {
      default: false,
    },
  },
  data: function () {
    return {
      documents: [],
      page: 1,
      search: "",
      loading: true,
      searcher: null,
      searchLoading: false,
      last_page: 1,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),
    showDocument(e) {
      this.CHANGE_LOADING(true);
      setTimeout(() => {
        this.$navigator.navigate(`/document-consumption-page`, {
          clearHistory: false,
          animated: true,
          transition: {
            duration: 10,
          },
          props: {
            document: e.item,
          },
        });
      }, 200);
    },
    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    setState(val) {
      this.CHANGE_LOADING(true);
      this.page = 1;
      this.state = val;
      setTimeout(() => {
        this.preloadData();
      }, 100);
    },
    refresh() {
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
      }, 100);
    },
    async preloadData() {
      await this.$axios
        .get(`/remote/dealers/doc_rasxod`, {
          params: {},
        })
        .then((response) => {
          this.documents = response.data.Goods;
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = this.searchLoading = false;
          this.CHANGE_LOADING(false);
        });
    },
    setData(data = null) {
      this.$showModal(DocumentConsumptionModal, {
        fullscreen: true,
        props: {
          item: data,
          preloadData: this.preloadData,
        },
      });
    },
  },
  watch: {
    search(val) {
      clearTimeout(this.searcher);
      this.searchLoading = true;
      this.searcher = setTimeout(() => {
        this.page = 1;
        this.preloadData();
      }, 1000);
    },
  },
  created() {
    this.preloadData();
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>
<style scoped lang="scss">
.items {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    padding: 7 0;
    display: none;
    &-index {
      text-align: left;
      font-size: 13;
      color: #222;
      font-weight: 500;
    }
    &-sku {
      font-size: 13;
      color: #444;
    }
    &-stock {
      font-size: 12;
      color: #06338d;
      text-align: right;
    }
  }
}

.control {
  width: 100%;
  height: 100%;
  background: #06338d;
  text-align: center;
  &-label {
    color: #fff;
    font-size: 18;
    font-weight: bold;
  }
}
</style>