<template>
  <GridLayout height="100%" rows="*,60" columns="*">
    <LoaderView v-if="loading" :isLoading="loading" />
    <ScrollView v-else row="0" class="card_item" orientation="vertical">
      <StackLayout class="order" v-if="document">
        <StackLayout class="order-group">
          <Label class="order-group-id" :text="'№ ' + document.Doc_No" />

          <StackLayout class="order-group-edit">
            <Label :text="'Комментарий'" />
            <Field
              class="fill"
              :field.sync="documentData.Comment"
              keyboardType="text"
              :hint="'Комментарий'"
            />
          </StackLayout>


        </StackLayout>

        <StackLayout class="order-group">
          <Label class="order-group-key" :text="'Дата:'" />
          <Label class="order-group-value" :text="documentData.Doc_Date" />
        </StackLayout>

    

        <StackLayout class="order-group">
          <Label class="order-group-key" :text="'Количество товаров:'" />
          <Label class="order-group-value" :text="documentData.TotalQty" />
        </StackLayout>

        <StackLayout class="order-group">
          <Label text="Товары:" class="header" />
        </StackLayout>
        <StackLayout
          v-for="(item, index) in documentData.Data"
          class="leftovers"
          :key="index"
        >
          <GridLayout   @tap="editProduct(item)" class="leftovers-list" columns="15,*,15, 60 ,15" rows="*">
            <StackLayout row="0" col="1">
              <Label
                class="leftovers-list-index"
                :text="item.Naimenovanie"
                textWrap="true"
              />
              <Label
                class="leftovers-list-sku"
                :text="`Артикул: ${item.Artikul}`"
              />

              <Label
                class="leftovers-list-stock"
                :text="`Количество: ${item.Kolvo} ${item.EdIzm}`"
              />
            </StackLayout>

            <Image
          
              row="0"
              col="3"
              verticalAlignment="top"
              horizontalAlignment="right"
              opacity="0.7"
              height="20"
              width="20"
              :src="'~/assets/icons/temp/edit.png'"
            ></Image>
          </GridLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>

    <GridLayout
      v-if="!loading"
      row="1"
      height="100%"
      rows="*"
      columns="15,*,15,*,15"
    >
      <Button col="1" @tap="addProduct" class="btn btn-outline btn-add" text="+ Товар" />
      <Button col="3" @tap="update" class="btn btn-outline" text="Сохранить" />
    </GridLayout>
  </GridLayout>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import LoaderView from "../helpers/LoaderView";
import Field from "../form/Field";
import ProductsList from "./ProductsList";
import { errorMessage, successMessage } from "../../utils/functions";

import {
  prompt,
  PromptOptions,
  PromptResult,
  capitalizationType,
  inputType,
} from "tns-core-modules/ui/dialogs";


export default {
  name: "DocumentCard",
  props: {
    document: {
      default: null,
    },
  },
  components: {
    Field,
    LoaderView,
    ProductsList
  },
  computed: {
    ...mapState(["user", "text"]),
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),

    getData(val){
            console.log(val);
      this.documentData.Data.push(val);
    },

    async preloadData() {
      await this.$axios
        .get(`/remote/dealers/doc_prixod`, {
          params: {
            document: this.document.Doc_No,
          },
        })
        .then((response) => {
          let data = response.data.Goods;
          if (data && data.length) {
            this.documentData = data[0];

            if (!this.documentData.Data) {
              this.documentData.Data = [];
            }

            console.log(this.documentData);
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.CHANGE_LOADING(false);

          setTimeout(() => {
            this.loading = false;
          }, 100);
        });
    },

    addProduct(){
        this.$showModal(ProductsList, {
        fullscreen: true,
        props: {
          getData:this.getData
        },
      });
    },
    async update() {
      this.loading = true;



      console.log(JSON.stringify( this.documentData));

      await this.$axios
        .post(
          `/remote/dealers/doc_prixod?document=${this.document.Doc_No}`,
          this.documentData
        )
        .then((response) => {
          successMessage("Данные обновлись");
          this.preloadData();
        })
        .catch((response) => {
          errorMessage("Ошибка обработки данных");
        })
        .finally(() => {
          setTimeout(() => {
            this.loading = false;
          }, 100);
        });
    },

    editProduct(item) {
      prompt({
        title: "Изменить количество у товара в заказе",
        okButtonText: "OK",
        cancelButtonText: this.text.alert.cancel,
        neutralButtonText: "Удалить товар",
        cancelable: true,
        defaultText: `${item.Kolvo}`,
        inputType: inputType.number, // email, number, text, password, or email
        capitalizationType: capitalizationType.sentences, // all. none, sentences or words
      })
        .then((result) => {
          if (result && result.result === true && result.text) {
            if (result.text > 0) {
               for (let i = 0; i < this.documentData.Data.length; i++) {
                    if (this.documentData.Data[i].Kod == item.Kod) {
                      this.documentData.Data[i].Kolvo= result.text;
                      break;
                    }
                }
            }
          } else if (result && result.result === false) {
          } else if (result && result.result === undefined) {
             for (let i = 0; i < this.documentData.Data.length; i++) {
                  if (this.documentData.Data[i].Kod == item.Kod) {
                    this.documentData.Data.splice(i, 1);
                    break;
                  }
                }
          }
        })
        .catch(() => {});
    },
  },
  data: function () {
    return {
      loading: true,
      documentData: {
        Data:[]
      },
    };
  },
  created() {
    this.CHANGE_LOADING(false);
    this.preloadData();
  },
};
</script>

<style scoped lang="scss">
.order {
  &-group {
    padding: 10 15;
    border-bottom-width: 0.7;
    border-bottom-color: #ebebeb;
    & > &-key {
      color: #222;
      font-size: 16;
      font-weight: 500;
      margin-bottom: 5;
    }
    & > &-value {
      color: #222;
      font-size: 14;
    }
    & > &-id {
      color: #222;
      font-size: 30;
      margin-bottom: 15;
    }
    & > &-edit {
      margin-bottom: 10;
    }
    & > &-title {
      color: #06338d;
      font-size: 16;
    }

    & > .header {
      font-size: 20;
      color: #222;
      margin: 8 0 5;
      font-weight: bold;
    }
  }
}

.leftovers {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    padding: 7 0;
    display: none;
    &-index {
      text-align: left;
      font-size: 13;
      color: #222;
      font-weight: 500;
    }
    &-sku {
      font-size: 13;
      color: #444;
    }
    &-stock {
      font-size: 12;
      color: #06338d;
    }
  }
}
</style>
