<template>
  <StackLayout>
    <LoaderView v-if="loading" :isLoading="loading" />
    <StackLayout v-else>
      <GridLayout height="100%" rows="*,60,2,60" columns="*">
        <!-- Object.keys(items).length -->
        <PullToRefresh
          v-if="items && items.length"
          row="0"
          @refresh="refreshList"
        >
          <ListView
            v-for="(item, index) in items"
            ref="listView"
            class="items"
            :key="index"
            @itemTap="selectItem"
            separatorColor="white"
          >
            <v-template :scope="item">
              <GridLayout class="items-list" columns="15,*,15, 60 ,15" rows="*">
                <StackLayout row="0" col="1">
                  <Label
                    class="items-list-index"
                    textWrap="true"
                    :text="item.Naimenovanie"
                  />
                  <Label
                    class="items-list-sku"
                    :text="`Артикул: ${item.Artikul}`"
                  />
                  <Label class="items-list-sku" :text="`Код: ${item.Kod}`" />
                </StackLayout>

                <Image
                  row="0"
                  col="3"
                  v-show="itemSelected && item.Kod == itemSelected.Kod"
                  verticalAlignment="center"
                  horizontalAlignment="right"
                  opacity="0.7"
                  height="20"
                  width="20"
                  :src="'~/assets/icons/temp/menu.png'"
                ></Image>
              </GridLayout>
            </v-template>
          </ListView>
        </PullToRefresh>
        <Label
          verticalAlignment="top"
          class="no_found"
          row="0"
          v-else
          :text="text.message.no_found"
        />

        <GridLayout
          v-if="!loading && itemSelected"
          row="1"
          height="100%"
          rows="*"
          columns="15,*,15,*,15"
        >
          <TextField
            col="1"
            keyboardType="number"
            v-model="count"
            :hint="'Количество'"
            verticalAlignment="center"
          >
          </TextField>

          <Button
            col="3"
            @tap="add()"
            class="btn btn-outline"
            text="Добавить"
          />
        </GridLayout>

        <GridLayout
          v-if="!loading"
          row="3"
          height="100%"
          rows="*"
          columns="15,*,15,*,15"
        >
          <!-- <Button
            @tap="setData"
            col="1"
            class="btn btn-outline btn-add"
            text="Новый"
          /> -->

          <Button
            col="3"
            @tap="$modal.close()"
            class="btn btn-close"
            text="Отмена"
          />
        </GridLayout>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</template>
<script>
import SelectFilter from "../helpers/SelectFilter";
import LoaderView from "../helpers/LoaderView";
import ItemCard from "../products_all/ItemCard";
import { mapState, mapMutations } from "vuex";
import Field from "../form/Field";

export default {
  components: {
    LoaderView,
    SelectFilter,
    ItemCard,
    Field,
  },
  props: {
    getData: {
      default: function(){

      },
    },

  },
  data: function () {
    return {
      items: [],
      page: 1,
      search: "",
      loading: true,
      searcher: null,
      searchLoading: false,
      last_page: 1,
      count: 1,
      itemSelected: null,
    };
  },
  methods: {
    ...mapMutations(["CHANGE_LOADING"]),

    refreshList(args) {
      let pullRefresh = args.object;
      this.page = 1;
      setTimeout(() => {
        this.preloadData();
        pullRefresh.refreshing = false;
      }, 1000);
    },
    async preloadData() {
      await this.$axios
        .get(`/remote/dealers/goods_all`, {
          params: {},
        })
        .then((response) => {
          if (response.data.Data && response.data.Data.length) {
            this.items = response.data.Data;
          }
        })
        .catch((response) => {})
        .finally(() => {
          this.loading = this.searchLoading = false;
          this.CHANGE_LOADING(false);
        });
    },

    add() {
      this.itemSelected["Kolvo"] = this.count;
      this.itemSelected["Cena"] = 0;
      this.itemSelected["Summa"] = 0;
      this.getData(this.itemSelected);
      this.$modal.close();
    },
    setData(data = null) {
      this.$showModal(ItemCard, {
        fullscreen: true,
        props: {
          item: data,
          preloadData: this.preloadData,
        },
      });
    },
    selectItem(e) {
      this.itemSelected = e.item;

      setTimeout(() => {
      this.$refs.listView.nativeView.refresh()
      }, 100)
     
    },
  },
  created() {
    this.preloadData();
  },
  computed: {
    ...mapState(["text"]),
  },
};
</script>
<style scoped lang="scss">
.items {
  & &-list {
    background: #fff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1;
    width: 100%;
    padding: 7 0;
    display: none;
    &-index {
      text-align: left;
      font-size: 13;
      color: #222;
      font-weight: 500;
    }
    &-sku {
      font-size: 13;
      color: #444;
    }
    &-stock {
      font-size: 12;
      color: #06338d;
      text-align: right;
    }
  }
}
.control {
  width: 100%;
  height: 100%;
  background: #06338d;
  text-align: center;
  &-label {
    color: #fff;
    font-size: 18;
    font-weight: bold;
  }
}
</style>